Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'

heatmap import disable2
  components/admin/layout-editor.versioned.tsx
Labels: ui

tooltip import fix
  components/admin/smart-link-grid.tsx
Labels: ui

disable puppy login
  components/puppy-widget.tsx
Labels: ui

disable puppy login
  components/puppy-widget.tsx
Labels: ui

show puppy and glow and hide devtools when in prod
  app/layout.tsx
  app/page.tsx
  components/assistant-widget.tsx
  components/background-glow.tsx
  components/puppy-widget.tsx
  hooks/useMediaQuery.ts
  lib/site-config.ts
Labels: ui

puppy positioning
  app/page.tsx
  components/puppy-widget.tsx
  components/quick-sites-widget.tsx
Labels: ui

logins with redirect working (not role yet)
  app/auth/callback/page.tsx
  app/login/LoginForm.tsx
  lib/supabase/client.ts
  lint-report.json
  lint-summary.md
  lint-summary.txt
Labels: docs

auth with roles working
  app/auth/callback/page.tsx
  app/login/LoginForm.tsx
  components/auth/logout-button.tsx
  middleware.ts
Labels: ui

map loading again
  app/admin/the-grid/page.tsx
  components/admin/_OnlyMap.tsx
  components/admin/city-marker.tsx
  components/admin/grid-map.tsx
  components/admin/map-instance.tsx
  components/admin/map-ready-handler.tsx
  components/admin/map-view.tsx
  components/admin/safe-leaflet-map.tsx
  lib/resolveGeo.ts
  lint-report.json
  lint-summary.md
  lint-summary.txt
  middleware.ts
  package-lock.json
  package.json
  types/grid.ts
Labels: ui, docs

map icons working
  components/admin/map-events.tsx
  components/admin/map-view.tsx
  public/marker-icon.png
  public/marker-shadow.png
  styles/globals.css
Labels: ui

appheader spacing fix
  components/admin/AppHeader/app-header.tsx
Labels: ui

map start campaign form popup
  app/admin/start-campaign/page.tsx
  components/admin/city-marker.tsx
  components/admin/map-view.tsx
  hooks/useCampaignForm.ts
Labels: ui

safe map type fix
  components/admin/safe-leaflet-map.tsx
Labels: ui

start campaign fixes
  app/admin/campaigns/page.tsx
  app/admin/leads/page.tsx
  components/admin/leads-table.tsx
  hooks/useCampaignForm.ts
Labels: ui

leads table improvements
  app/admin/leads/page.tsx
  components/admin/leads-table.tsx
  types/lead.types.ts
Labels: ui

header improvements
  app/admin/leads/page.tsx
  app/viewer/page.tsx
  components/admin/AppHeader/app-header.tsx
  components/admin/leads-table.tsx
  public/logo_v0.png
  public/logo_v1.png
Labels: ui

campaign page improvements
  app/admin/campaigns/page.tsx
  components/admin/AppHeader/app-header.tsx
  components/ui/index.ts
  components/ui/inspirational-quote.tsx
  lib/leads/enrichLead.ts
  types/lead.types.ts
Labels: ui

campaign edit improvements
  app/admin/campaigns/page.tsx
  lib/leads/distance.ts
  lib/utils/geocode.ts
  package-lock.json
  package.json
Labels: none

campaign editor updates
  app/admin/campaigns/page.tsx
  components/admin/campaigns/campaign-header.tsx
  components/admin/campaigns/campaign-panel.tsx
  components/admin/campaigns/edit-campaign-modal.tsx
  failed-cities.json
  lib/leads/enrichLead.ts
  lib/utils/distance.ts
  lib/utils/geocode.ts
  rollback-campaigns.json
  rollback-log.json
  scripts/enrich-campaigns-latlon.ts
  scripts/enrich-leads-latlon.ts
Labels: scripts, ui

start campaign improvements
  app/admin/campaigns/page.tsx
  app/admin/start-campaign/page.tsx
  app/api/industries/route.ts
  components/admin/campaigns/edit-campaign-modal.tsx
  components/admin/campaigns/lead-selector-with-radius.tsx
  hooks/useRadiusFilter.ts
  hooks/useSavedCampaignDraft.ts
  hooks/useSelectedLeadsWrapper.ts
  lib/supabase/server_v1.ts
  lib/utils/geocode.ts
  scripts/enrich-campaigns-latlon.ts
  scripts/enrich-leads-latlon.ts
Labels: scripts, ui

edit campaign improvements
  app/admin/campaigns/page.tsx
  app/admin/start-campaign/page.tsx
  app/api/campaigns/create/route.ts
  app/api/campaigns/update/route.ts
  app/api/create-campaign/route.ts
  components/admin/campaigns/edit-campaign-modal.tsx
  components/admin/campaigns/lead-selector-with-radius.tsx
  types/campaign.types.ts
Labels: ui

start campaign updates
  app/admin/start-campaign/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/AppHeader/mobile-drawer.tsx
  components/admin/city-marker.tsx
  types/campaign.types.ts
Labels: ui

campaign lead linkage improvements
  app/admin/campaigns/page.tsx
  app/api/campaigns/[id]/leads/route.ts
  app/api/campaigns/create/route.ts
  app/api/campaigns/update/route.ts
  components/admin/campaigns/edit-campaign-modal.tsx
  components/admin/campaigns/lead-selector-with-radius.tsx
  lib/loadLeads.ts
  types/lead.types.ts
Labels: ui

build fixes
  components/admin/campaigns/campaign-panel.tsx
  lib/leads/distance.ts
Labels: ui

campaign updates
  app/admin/campaigns/page.tsx
  app/admin/start-campaign/page.tsx
  app/api/campaigns/[id]/leads/route.ts
  app/api/campaigns/create/route.ts
  components/admin/campaigns/campaign-panel.tsx
  components/admin/campaigns/claim-poster.tsx
  components/admin/campaigns/edit-campaign-modal.tsx
  public/images/tow-truck-logo.png
  types/campaign.types.ts
Labels: ui

claim poster updates
  components/admin/campaigns/claim-poster.tsx
Labels: ui

grid map show campaign links
  components/admin/grid-map.tsx
  components/admin/map-view.tsx
  components/admin/safe-leaflet-map.tsx
  types/grid.ts
Labels: ui

grid map show claimed vs unclaimed leads
  components/admin/grid-map.tsx
  components/admin/map-view.tsx
  types/grid.ts
Labels: ui

grid map updates
  components/admin/grid-map.tsx
  components/admin/grid-sidebar.tsx
  components/admin/map-view.tsx
  components/admin/safe-leaflet-map.tsx
  types/grid.ts
Labels: ui

grid map build fix
  components/admin/grid-map.tsx
Labels: ui

leads page improvements
  app/admin/leads/page.tsx
Labels: none

templates editor improvements
  admin/__tests__/TemplateHeader.test.tsx
  app/admin/admin/templates-new.tsx
  app/admin/admin/templates.tsx
  app/admin/templates/new/page.tsx
  app/admin/templates/page.tsx
  app/api/nav/route.ts
  app/api/templates/rename/route.ts
  app/edit/[slug]/page.tsx
  app/edit/layout.tsx
  app/edit/metadata.ts
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/AppHeader/mobile-drawer.tsx
  components/admin/template-browser.tsx
  components/admin/templates/editor-loader.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor-toolbar.tsx
  components/admin/templates/template-editor.tsx
  components/admin/templates/use-template-editor-state.ts
  hooks/useAutosaveTemplate.ts
  lib/utils/slug.ts
  tailwind.config.ts
  types/template.ts
Labels: ui

WIP templates layouts presets
  admin/lib/fixInvalidBlocksInTemplate.ts
  admin/lib/saveTemplate.ts
  admin/lib/validateBeforeSave.ts
  admin/lib/validateBlocksInTemplate.ts
  admin/lib/zod/blockSchema.ts
  admin/lib/zod/templateSaveSchema.ts
  app/admin/presets/edit/[id]/page.tsx
  app/admin/presets/new/page.tsx
  app/admin/presets/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/templates/blocks-editor.tsx
  components/admin/templates/grid-preset-playground.tsx
  components/admin/templates/grid-template-manager.tsx
  components/admin/templates/grid-template-modal.tsx
  components/admin/templates/grid-thumbnail-renderer.tsx
  components/admin/templates/page-blocks-list.tsx
  components/admin/templates/page-card.tsx
  components/admin/templates/page-controls.tsx
  components/admin/templates/page-header-form.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/sortable-block-board.tsx
  components/admin/templates/sortable-block-list.tsx
  components/admin/templates/sortable-block.tsx
  components/admin/templates/sortable-grid-block.tsx
  components/admin/templates/sortable-page.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-json-editor.tsx
  components/admin/templates/template-page-editor.tsx
  hooks/useAutosaveTemplate.ts
  lib/presets.ts
  lib/presets/blockPresets.ts
  package-lock.json
  package.json
  styles/globals.css
  tsconfig.json
  types/blocks.ts
  types/grid-presets.ts
  types/grid.ts
  types/template.ts
Labels: ui

quotes and sidebar
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/admin-sidebar.tsx
  components/admin/responsive-admin-layout.tsx
  components/admin/templates/template-editor-toolbar.tsx
  components/ui/inspirational-quote.tsx
  next.config.mjs
  package-lock.json
  package.json
Labels: ui

template toolbar move down
  app/admin/templates/new/page.tsx
  components/admin/templates/device-preview-wrapper.tsx
  components/admin/templates/sortable-block-list.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor-toolbar.tsx
  components/admin/templates/template-page-editor.tsx
Labels: ui

starter template UI validations working
  admin/lib/zod/blockSchema.ts
  components/admin/templates/block-editor.tsx
  components/admin/templates/block-error-display.tsx
  components/admin/templates/block-sidebar.tsx
  components/admin/templates/blocks-editor.tsx
  lib/blockContentExamples.ts
Labels: ui

light mode previews
  app/admin/demo/[slug].tsx
  app/admin/presets/edit/[id]/page.tsx
  app/admin/shared/[id].tsx
  components/admin/templates/blocks-editor.tsx
  components/admin/templates/device-preview-wrapper.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/reorderable-block-list.tsx
  components/admin/templates/reorderable-page-list.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor.tsx
  components/admin/templates/template-preview-with-toggle.tsx
  components/admin/templates/template-preview.tsx
  components/ui/dark-scoped.tsx
  components/ui/theme-debugger.tsx
  components/ui/theme-scope.tsx
  tailwind.config.ts
Labels: ui

WIP hero image upload
  admin/lib/zod/blockSchema.ts
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/create-fallback-block.ts
  components/admin/templates/presets/generatePresetBlocks.ts
  components/admin/templates/presets/preview/page.tsx
  components/admin/templates/presets/templatePresets.ts
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/hero.tsx
  lib/blockContentSchemaMap.ts
  lib/uploadToStorage.ts
  types/blocks.ts
Labels: ui

template editor improvements
  app/layout.tsx
  components/admin/templates/blocks-editor.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor.tsx
  components/admin/templates/template-page-editor.tsx
  components/admin/templates/template-settings-panel.tsx
  components/ui/collapsible-panel.tsx
  components/ui/panel-context.tsx
Labels: ui

template block picker
  admin/lib/zod/blockSchema.ts
  components/admin/block-adder-grouped.tsx
  components/admin/block-adder-with-search.tsx
  components/admin/block-adder.tsx
  components/admin/templates/block-presets/PresetSelectorModal.tsx
  components/admin/templates/block-presets/preset-selector.tsx
  components/admin/templates/render-block-mini.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/cta.tsx
  components/admin/templates/render-blocks/footer.tsx
  components/admin/templates/render-blocks/grid.tsx
  components/admin/templates/render-blocks/hero.tsx
  components/admin/templates/render-blocks/quote.tsx
  components/admin/templates/render-blocks/services.tsx
  components/admin/templates/render-blocks/testimonial.tsx
  components/admin/templates/template-page-editor.tsx
  components/admin/templates/use-template-editor-state.ts
  components/template-renderer.tsx
  lib/blockGroups.ts
  lib/createDefaultBlock.ts
  lib/fixBlockDefaults.ts
Labels: ui
