Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'

feat(editor): revert services to the original site's copy
  components/admin/templates/panels/services-panel.tsx
Labels: ui

feat(editor): revert services to the original site's copy (#219)
  components/admin/templates/panels/services-panel.tsx
Labels: ui

feat(crm): customer identity spine (CRM Phase 0)
  lib/commerce/__tests__/customers.test.ts
  lib/commerce/customers.ts
  lib/commerce/orders.ts
  supabase/migrations/20260707_customers_identity_spine.sql
Labels: none

feat(crm): customer identity spine (CRM Phase 0) (#220)
  lib/commerce/__tests__/customers.test.ts
  lib/commerce/customers.ts
  lib/commerce/orders.ts
  supabase/migrations/20260707_customers_identity_spine.sql
Labels: none

docs(crm): mark Phase 0 shipped + add new-session kickoff for Phase 1
  docs/CRM_PLAN.md
Labels: none

docs(crm): mark Phase 0 shipped + add new-session kickoff for Phase 1 (#221)
  docs/CRM_PLAN.md
Labels: none

feat(crm): merchant customer surfaces (CRM Phase 1)
  app/merchant/customers/[id]/page.tsx
  app/merchant/customers/page.tsx
  app/merchant/orders/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  components/merchant/CustomersListClient.tsx
Labels: ui

feat(ui): decorative workspace + homepage backgrounds
  components/admin/work-surface-background.tsx
  components/home/home-client.tsx
  components/home/section-backdrop.tsx
  components/profile-form.tsx
  components/profile/work-background-picker.tsx
  lib/ui/workBackgrounds.ts
  public/backgrounds/home/bokeh-table.jpg
  public/backgrounds/home/meadow.jpg
  public/backgrounds/work/chalkboard.jpg
  public/backgrounds/work/compass-map.jpg
  public/backgrounds/work/nautical-chart.jpg
  public/backgrounds/work/open-book-wood.jpg
Labels: ui

feat(admin): translucent chrome, editor default-collapsed rail, header cleanup
  components/admin/AppHeader/app-header.tsx
  components/admin/admin-chrome.tsx
  components/admin/responsive-admin-layout.tsx
Labels: ui

feat: CRM Phase 1 customer surfaces + workspace/homepage backgrounds (#222)
  app/merchant/customers/[id]/page.tsx
  app/merchant/customers/page.tsx
  app/merchant/orders/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/AppHeader/app-header.tsx
  components/admin/admin-chrome.tsx
  components/admin/responsive-admin-layout.tsx
  components/admin/work-surface-background.tsx
  components/home/home-client.tsx
  components/home/section-backdrop.tsx
  components/merchant/CustomersListClient.tsx
  components/profile-form.tsx
  components/profile/work-background-picker.tsx
  lib/ui/workBackgrounds.ts
  public/backgrounds/home/bokeh-table.jpg
  public/backgrounds/home/meadow.jpg
  public/backgrounds/work/chalkboard.jpg
  public/backgrounds/work/compass-map.jpg
  public/backgrounds/work/nautical-chart.jpg
  public/backgrounds/work/open-book-wood.jpg
Labels: ui

fix(crm): add missing orders.customer_id + historical backfill
  package.json
  scripts/backfill-customers.ts
  supabase/migrations/20260707_orders_customer_id.sql
Labels: scripts

feat(editor): surface keyboard shortcuts in toolbar tooltips
  components/admin/templates/page-manager-toolbar.tsx
  components/admin/templates/template-action-toolbar/TemplateActionToolbar.tsx
Labels: ui

fix(crm): missing orders.customer_id + backfill; editor shortcut tooltips (#223)
  components/admin/templates/page-manager-toolbar.tsx
  components/admin/templates/template-action-toolbar/TemplateActionToolbar.tsx
  package.json
  scripts/backfill-customers.ts
  supabase/migrations/20260707_orders_customer_id.sql
Labels: scripts, ui

feat(crm): editable customer notes, tags & consent (Phase 2)
  app/api/merchant/customers/[id]/route.ts
  app/merchant/customers/[id]/page.tsx
  components/merchant/CustomerAdminPanel.tsx
  supabase/migrations/20260707_customers_notes.sql
Labels: ui

feat(crm): editable customer notes, tags & consent (Phase 2) (#224)
  app/api/merchant/customers/[id]/route.ts
  app/merchant/customers/[id]/page.tsx
  components/merchant/CustomerAdminPanel.tsx
  supabase/migrations/20260707_customers_notes.sql
Labels: ui

fix(home): glow off by default + opacity slider in color lab
  components/background-glow.tsx
  components/home/home-client.tsx
  components/home/home-color-lab.tsx
Labels: ui

fix(home): glow off by default + opacity slider in color lab (#225)
  components/background-glow.tsx
  components/home/home-client.tsx
  components/home/home-color-lab.tsx
Labels: ui

feat(crm): customer segments, tag filter & sort (Phase 2)
  app/merchant/customers/page.tsx
  components/merchant/CustomersListClient.tsx
Labels: ui

feat(crm): customer segments, tag filter & sort (Phase 2) (#226)
  app/merchant/customers/page.tsx
  components/merchant/CustomersListClient.tsx
Labels: ui

feat(crm): email campaigns to a segment (Phase 3 MVP)
  app/api/crm/unsubscribe/route.ts
  app/api/merchant/campaigns/route.ts
  app/merchant/campaigns/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  components/merchant/CampaignComposer.tsx
  components/merchant/CustomersListClient.tsx
  lib/crm/campaigns.ts
  lib/crm/segments.ts
  lib/crm/unsubToken.ts
  supabase/migrations/20260707_crm_campaigns.sql
Labels: ui

feat(crm): email campaigns to a segment (Phase 3 MVP) (#227)
  app/api/crm/unsubscribe/route.ts
  app/api/merchant/campaigns/route.ts
  app/merchant/campaigns/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  components/merchant/CampaignComposer.tsx
  components/merchant/CustomersListClient.tsx
  lib/crm/campaigns.ts
  lib/crm/segments.ts
  lib/crm/unsubToken.ts
  supabase/migrations/20260707_crm_campaigns.sql
Labels: ui

feat(crm): unified customer activity timeline (Phase 2)
  app/merchant/customers/[id]/page.tsx
  lib/crm/activity.ts
Labels: none

feat(crm): unified customer activity timeline (Phase 2) (#228)
  app/merchant/customers/[id]/page.tsx
  lib/crm/activity.ts
Labels: none

feat(crm): campaign order attribution (Phase 3 metrics)
  app/merchant/campaigns/page.tsx
  lib/crm/attribution.ts
Labels: none

feat(crm): campaign order attribution (Phase 3 metrics) (#229)
  app/merchant/campaigns/page.tsx
  lib/crm/attribution.ts
Labels: none

feat(brand): neon-steampunk loading video + homepage character
  components/brand/BrandLoader.tsx
  components/home/guest-start.tsx
  components/home/home-client.tsx
  components/ui/async-gif-overlay.tsx
  public/brand/qs-character.jpg
  public/brand/qs-loader-poster.jpg
  public/brand/qs-loader.mp4
Labels: ui

feat(brand): neon-steampunk loading video + homepage character (#230)
  components/brand/BrandLoader.tsx
  components/home/guest-start.tsx
  components/home/home-client.tsx
  components/ui/async-gif-overlay.tsx
  public/brand/qs-character.jpg
  public/brand/qs-loader-poster.jpg
  public/brand/qs-loader.mp4
Labels: ui

docs: reflect shipped CRM (Phase 0–3) + brand motif; fix /compare CRM row
  CLAUDE.md
  app/compare/page.tsx
  docs/ARCHITECTURE.md
  docs/COMMERCE_RUNBOOK.md
  docs/CRM_PLAN.md
  docs/index.md
Labels: docs

docs: reflect shipped CRM (Phase 0–3) + brand motif; fix /compare CRM row (#231)
  CLAUDE.md
  app/compare/page.tsx
  docs/ARCHITECTURE.md
  docs/COMMERCE_RUNBOOK.md
  docs/CRM_PLAN.md
  docs/index.md
Labels: docs

feat(marketing): advertise the customer CRM + email campaigns
  app/features/client-gallery.tsx
  app/partners/page.tsx
  app/pricing/page.tsx
  components/home/home-client.tsx
  supabase/migrations/20260707_features_add_crm_category.sql
Labels: ui

feat(marketing): advertise the customer CRM + email campaigns (#232)
  app/features/client-gallery.tsx
  app/partners/page.tsx
  app/pricing/page.tsx
  components/home/home-client.tsx
  supabase/migrations/20260707_features_add_crm_category.sql
Labels: ui

feat(crm): buyer + campaign PostHog events
  CLAUDE.md
  app/api/crm/unsubscribe/route.ts
  app/api/merchant/campaigns/route.ts
  docs/CRM_PLAN.md
  lib/analytics/events.ts
  lib/commerce/customers.ts
Labels: docs

feat(crm): buyer + campaign PostHog events (#233)
  CLAUDE.md
  app/api/crm/unsubscribe/route.ts
  app/api/merchant/campaigns/route.ts
  docs/CRM_PLAN.md
  lib/analytics/events.ts
  lib/commerce/customers.ts
Labels: docs

feat(crm): campaign open/click metrics via Resend webhooks
  app/api/crm/webhooks/resend/route.ts
  app/merchant/campaigns/page.tsx
  docs/CRM_PLAN.md
  lib/crm/campaigns.ts
  lib/crm/resendWebhook.ts
  supabase/migrations/20260708_crm_campaign_sends_engagement.sql
Labels: none

feat(crm): campaign open/click metrics via Resend webhooks (#234)
  app/api/crm/webhooks/resend/route.ts
  app/merchant/campaigns/page.tsx
  docs/CRM_PLAN.md
  lib/crm/campaigns.ts
  lib/crm/resendWebhook.ts
  supabase/migrations/20260708_crm_campaign_sends_engagement.sql
Labels: none

feat(home): QuickSites motif hero background image
  components/home/home-client.tsx
  public/brand/qs-hero-bg.jpg
Labels: ui

feat(home): QuickSites motif hero background image (#235)
  components/home/home-client.tsx
  public/brand/qs-hero-bg.jpg
Labels: ui

feat(nav): merchant-first sidebar + call templates "sites"
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/AppHeader/mobile-drawer.tsx
  components/admin/templates/grid-template-manager.tsx
  components/admin/templates/templates-index-table.tsx
  components/ui/command-palette.tsx
Labels: ui

feat(nav): merchant-first sidebar + call templates "sites" (#236)
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/AppHeader/mobile-drawer.tsx
  components/admin/templates/grid-template-manager.tsx
  components/admin/templates/templates-index-table.tsx
  components/ui/command-palette.tsx
Labels: ui

feat(features): restyle the /features page — brand accent, hero visual, copy
  app/features/client-gallery.tsx
Labels: none
