Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'

feat(white-label): brand resolver endpoint + branded login/join (Tier 1.5 Slices 0+2) (#77)
  app/api/org/branding/route.ts
  app/join/[code]/page.tsx
  docs/WHITE_LABEL_PLAN.md
  lib/org/__tests__/branding.test.ts
  lib/org/branding.ts
Labels: none

feat(white-label): brand transactional emails per reseller org (Tier 1.5 Slice 1)
  app/api/admin/invite/route.ts
  app/api/notify-creator/route.ts
  app/api/resend-welcome-email/route.ts
  app/api/send-contact-email/route.ts
  docs/WHITE_LABEL_PLAN.md
  lib/__tests__/emailBrand.test.ts
  lib/email.ts
Labels: none

feat(white-label): brand transactional emails per reseller org (Tier 1.5 Slice 1) (#78)
  app/api/admin/invite/route.ts
  app/api/notify-creator/route.ts
  app/api/resend-welcome-email/route.ts
  app/api/send-contact-email/route.ts
  docs/WHITE_LABEL_PLAN.md
  lib/__tests__/emailBrand.test.ts
  lib/email.ts
Labels: none

feat(white-label): brand admin chrome wordmark per reseller org (Tier 1.5 Slice 3)
  components/admin/AppHeader/app-header.tsx
  components/admin/admin-chrome.tsx
  docs/WHITE_LABEL_PLAN.md
Labels: ui

feat(white-label): brand admin chrome wordmark per reseller org (Tier 1.5 Slice 3) (#79)
  components/admin/AppHeader/app-header.tsx
  components/admin/admin-chrome.tsx
  docs/WHITE_LABEL_PLAN.md
Labels: ui

feat(marketing): public features-vs-competition chart at /compare
  app/compare/page.tsx
  app/partners/page.tsx
  docs/COMPETITIVE_LANDSCAPE.md
Labels: none

feat(marketing): public features-vs-competition chart at /compare (#80)
  app/compare/page.tsx
  app/partners/page.tsx
  docs/COMPETITIVE_LANDSCAPE.md
Labels: none

feat(white-label): render reseller logo in admin chrome + join page
  app/join/[code]/page.tsx
  components/admin/admin-chrome.tsx
  docs/WHITE_LABEL_PLAN.md
Labels: ui

feat(white-label): render reseller logo in admin chrome + join page (#81)
  app/join/[code]/page.tsx
  components/admin/admin-chrome.tsx
  docs/WHITE_LABEL_PLAN.md
Labels: ui

feat(white-label): per-org email sender + theme_json accents
  app/join/[code]/page.tsx
  docs/WHITE_LABEL_PLAN.md
  lib/email.ts
  lib/org/__tests__/branding.test.ts
  lib/org/__tests__/theme.test.ts
  lib/org/resolveOrg.ts
  lib/org/theme.ts
  supabase/migrations/20260701_org_public_email_theme.sql
Labels: none

feat(white-label): per-org email sender + theme_json accents (#82)
  app/join/[code]/page.tsx
  docs/WHITE_LABEL_PLAN.md
  lib/email.ts
  lib/org/__tests__/branding.test.ts
  lib/org/__tests__/theme.test.ts
  lib/org/resolveOrg.ts
  lib/org/theme.ts
  supabase/migrations/20260701_org_public_email_theme.sql
Labels: none

docs: refresh Central Brain + docs hub for this session's subsystems
  CLAUDE.md
  docs/COMPETITIVE_LANDSCAPE.md
  docs/index.md
Labels: docs

docs: refresh Central Brain + docs hub for this session's subsystems (#83)
  CLAUDE.md
  docs/COMPETITIVE_LANDSCAPE.md
  docs/index.md
Labels: docs

test(commerce): cover take-rate refund fee-reversal (gap punch-list #8)
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/refunds.test.ts
  lib/commerce/refunds.ts
Labels: none

test(commerce): cover take-rate refund fee-reversal (gap punch-list #8) (#84)
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/refunds.test.ts
  lib/commerce/refunds.ts
Labels: none

refactor(commerce): consolidate Connect fee config on payment_accounts (gap #3)
  CLAUDE.md
  app/api/admin/merchants/ensure/route.ts
  app/api/admin/payments/save-settings/route.ts
  components/admin/commerce/commerce-tab.tsx
  components/admin/payments/payment-settings-panel.tsx
  components/admin/template-settings-panel/sidebar-settings.tsx
  components/admin/templates/template-settings-panel.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  docs/MONETIZATION.md
  docs/REVIVAL_PLAN.md
  supabase/migrations/20260701_retire_legacy_connect_bps.sql
Labels: ui, docs

refactor(commerce): consolidate Connect fee config on payment_accounts (gap #3) (#85)
  CLAUDE.md
  app/api/admin/merchants/ensure/route.ts
  app/api/admin/payments/save-settings/route.ts
  components/admin/commerce/commerce-tab.tsx
  components/admin/payments/payment-settings-panel.tsx
  components/admin/template-settings-panel/sidebar-settings.tsx
  components/admin/templates/template-settings-panel.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  docs/MONETIZATION.md
  docs/REVIVAL_PLAN.md
  supabase/migrations/20260701_retire_legacy_connect_bps.sql
Labels: ui, docs

feat(commerce): net-take + partners-owed on the revenue dashboard (gap #2)
  app/admin/revenue/page.tsx
  app/api/admin/revenue/route.ts
  components/admin/AppHeader/AdminNavSections.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  docs/REVIVAL_PLAN.md
  lib/commerce/__tests__/revenue.test.ts
  lib/commerce/revenue.ts
Labels: ui

feat(commerce): net-take + partners-owed on the revenue dashboard (gap #2) (#86)
  app/admin/revenue/page.tsx
  app/api/admin/revenue/route.ts
  components/admin/AppHeader/AdminNavSections.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  docs/REVIVAL_PLAN.md
  lib/commerce/__tests__/revenue.test.ts
  lib/commerce/revenue.ts
Labels: ui

fix(cron): auto-approve commissions cron was unreachable by Vercel (gap #12)
  app/api/cron/approve-commissions/route.ts
  docs/COMPETITIVE_LANDSCAPE.md
  lib/cron/__tests__/auth.test.ts
Labels: none

fix(cron): auto-approve commissions cron was unreachable by Vercel (gap #12) (#87)
  app/api/cron/approve-commissions/route.ts
  docs/COMPETITIVE_LANDSCAPE.md
  lib/cron/__tests__/auth.test.ts
Labels: none

fix(partners): count approved commissions as pending payout (gap #6)
  app/partners/dashboard/page.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/partnerStats.test.ts
  lib/commerce/partnerStats.ts
Labels: none

fix(partners): count approved commissions as pending payout (gap #6) (#88)
  app/partners/dashboard/page.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/partnerStats.test.ts
  lib/commerce/partnerStats.ts
Labels: none

fix(partners): self-serve attribution silently failed under RLS (gap #4)
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/attribution.test.ts
  lib/commerce/attribution.ts
Labels: none

fix(partners): self-serve attribution silently failed under RLS (gap #4) (#89)
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/attribution.test.ts
  lib/commerce/attribution.ts
Labels: none

chore(db): add a migration ledger + runner (schema_migrations)
  CLAUDE.md
  package.json
  scripts/db-migrate.mjs
Labels: scripts, docs

chore(db): add a migration ledger + runner (schema_migrations) (#90)
  CLAUDE.md
  package.json
  scripts/db-migrate.mjs
Labels: scripts, docs

fix(commerce): enforce server-side price authority at storefront checkout (gap #7)
  app/api/commerce/checkout/route.ts
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/checkoutItems.test.ts
  lib/commerce/checkoutItems.ts
Labels: none

fix(commerce): enforce server-side price authority at storefront checkout (gap #7) (#91)
  app/api/commerce/checkout/route.ts
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/checkoutItems.test.ts
  lib/commerce/checkoutItems.ts
Labels: none

feat(commerce): opt-in Stripe application_fee cross-check on revenue dashboard
  app/admin/revenue/page.tsx
  app/api/admin/revenue/route.ts
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/revenue.test.ts
  lib/commerce/revenue.ts
Labels: none

feat(commerce): opt-in Stripe application_fee cross-check on revenue dashboard (#92)
  app/admin/revenue/page.tsx
  app/api/admin/revenue/route.ts
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/revenue.test.ts
  lib/commerce/revenue.ts
Labels: none

feat(commerce): product variants (size/color SKUs) end-to-end
  app/api/catalog/items/route.ts
  app/api/commerce/checkout/route.ts
  app/checkout/page.tsx
  app/p/[slug]/add-to-cart.tsx
  app/p/[slug]/page.tsx
  components/cart/cart-events-wire.tsx
  components/cart/cart-store.ts
  components/merchant/CreateItemDrawer.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/checkoutItems.test.ts
  lib/commerce/checkoutItems.ts
Labels: ui

feat(commerce): product variants (size/color SKUs) end-to-end (#93)
  app/api/catalog/items/route.ts
  app/api/commerce/checkout/route.ts
  app/checkout/page.tsx
  app/p/[slug]/add-to-cart.tsx
  app/p/[slug]/page.tsx
  components/cart/cart-events-wire.tsx
  components/cart/cart-store.ts
  components/merchant/CreateItemDrawer.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/checkoutItems.test.ts
  lib/commerce/checkoutItems.ts
Labels: ui

feat(commerce): multi-axis product variants (Size × Color grids)
  app/api/catalog/items/route.ts
  app/p/[slug]/add-to-cart.tsx
  app/p/[slug]/page.tsx
  components/merchant/CreateItemDrawer.tsx
  components/merchant/VariantsEditor.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/checkoutItems.test.ts
  lib/commerce/__tests__/variants.test.ts
  lib/commerce/checkoutItems.ts
  lib/commerce/variants.ts
Labels: ui

feat(commerce): multi-axis product variants (Size × Color grids) (#94)
  app/api/catalog/items/route.ts
  app/p/[slug]/add-to-cart.tsx
  app/p/[slug]/page.tsx
  components/merchant/CreateItemDrawer.tsx
  components/merchant/VariantsEditor.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/checkoutItems.test.ts
  lib/commerce/__tests__/variants.test.ts
  lib/commerce/checkoutItems.ts
  lib/commerce/variants.ts
Labels: ui

feat(commerce): edit existing catalog items + their variants
  app/api/catalog/items/[id]/route.ts
  components/merchant/CatalogListClient.tsx
  components/merchant/EditItemDrawer.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/variants.test.ts
  lib/commerce/variants.ts
Labels: ui

feat(commerce): edit existing catalog items + their variants (#95)
  app/api/catalog/items/[id]/route.ts
  components/merchant/CatalogListClient.tsx
  components/merchant/EditItemDrawer.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/variants.test.ts
  lib/commerce/variants.ts
Labels: ui

feat(commerce): per-item / per-variant inventory tracking
  app/api/catalog/items/[id]/route.ts
  app/api/catalog/items/route.ts
  app/p/[slug]/add-to-cart.tsx
  app/p/[slug]/page.tsx
  components/merchant/CreateItemDrawer.tsx
  components/merchant/EditItemDrawer.tsx
  components/merchant/VariantsEditor.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/checkoutItems.test.ts
  lib/commerce/__tests__/inventory.test.ts
  lib/commerce/checkoutItems.ts
  lib/commerce/inventory.ts
  lib/commerce/orders.ts
  lib/commerce/variants.ts
Labels: ui

feat(commerce): per-item / per-variant inventory tracking (#96)
  app/api/catalog/items/[id]/route.ts
  app/api/catalog/items/route.ts
  app/p/[slug]/add-to-cart.tsx
  app/p/[slug]/page.tsx
  components/merchant/CreateItemDrawer.tsx
  components/merchant/EditItemDrawer.tsx
  components/merchant/VariantsEditor.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/checkoutItems.test.ts
  lib/commerce/__tests__/inventory.test.ts
  lib/commerce/checkoutItems.ts
  lib/commerce/inventory.ts
  lib/commerce/orders.ts
  lib/commerce/variants.ts
Labels: ui

feat(commerce): per-variant images
  app/p/[slug]/add-to-cart.tsx
  app/p/[slug]/page.tsx
  app/p/[slug]/product-detail.tsx
  components/merchant/VariantsEditor.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/variants.test.ts
  lib/commerce/checkoutItems.ts
  lib/commerce/variants.ts
Labels: ui
