Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

📦 AI enhancements
  app/api/ai/suggest/route.ts
  app/api/hero/generate-image/route.ts
  app/api/hero/suggest/route.ts
  components/admin/block-adder-grouped.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/block-editors/service-areas-editor.tsx
  components/admin/templates/render-blocks/contact-form.tsx
  components/admin/templates/render-blocks/hero.tsx
  components/editor/rich-text-editor.tsx
Labels: ui

📦 icon generator
  admin/lib/sanitizeTemplatePatch.ts
  admin/lib/saveTemplate.ts
  app/api/icon/generate/route.ts
  components/admin/templates/block-editors/header-editor.tsx
  components/admin/templates/panels/identity-panel.tsx
Labels: ui

📦 block adder updates for AI
  app/api/services/suggest/route.ts
  components/admin/block-adder-grouped.tsx
  components/admin/templates/block-editors/services-editor.tsx
  components/admin/templates/panels/services-panel.tsx
Labels: ui

📦 favicon updates
  .env.example
  app/api/favicon/generate/route.ts
  app/api/favicon/upload/route.ts
  app/api/login/route.ts
  app/layout.tsx
  app/login/LoginForm.tsx
  app/page.tsx
  components/admin/favicon-uploader.tsx
  components/admin/templates/block-editors/header-editor.tsx
  components/admin/templates/panels/domain-panel.tsx
  components/admin/templates/render-blocks/header.tsx
  components/auth/MagicLinkBridge.tsx
  components/editor/live-editor/LiveEditorPreview.tsx
Labels: ui

🐛 duplicate template fix
  app/admin/templates/list/page.tsx
  app/api/templates/duplicate/route.ts
  components/admin/templates/row-actions.tsx
  components/admin/templates/templates-index-table.tsx
  components/admin/templates/templates-index-with-loading.tsx
  components/editor/live-editor/LiveEditorPreview.tsx
Labels: ui

📦 pricing and contact page
  app/admin/inbox/[id]/page.tsx
  app/admin/inbox/loading.tsx
  app/admin/inbox/page.tsx
  app/admin/templates/list/page.tsx
  app/api/contact/route.ts
  app/contact/page.tsx
  app/page.tsx
  app/pricing/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/tools/AdminToolsPage.tsx
Labels: ui

✨ Pricing and Features
  .env.example
  app/admin/features/manage/page.tsx
  app/admin/features/upload/page.tsx
  app/api/features/delete/route.ts
  app/api/features/save/route.ts
  app/book/page.tsx
  app/features/client-gallery.tsx
  app/features/page.tsx
  app/page.tsx
  app/pricing/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/features/video-upload-card.tsx
  components/ui/lazy-video-embed.tsx
Labels: ui

📦 marketing updates
  app/book/page.tsx
  app/contact/page.tsx
  app/features/page.tsx
  app/page.tsx
  app/pricing/page.tsx
  components/site/site-header.tsx
Labels: ui

📦 user experience enhancements
  admin/lib/saveTemplate.ts
  admin/lib/zod/templateSaveSchema.ts
  admin/utils/normalizeTemplate.ts
  app/admin/profile.tsx
  app/admin/templates/[[...slug]]/page.tsx
  app/admin/templates/list/page.tsx
  app/admin/users/page.tsx
  app/api/admin/users/list/route.ts
  app/api/admin/users/plan/expire-trials/route.ts
  app/api/admin/users/plan/route.ts
  app/api/contact/pro-trial/route.ts
  app/api/me/membership/route.ts
  app/api/templates/list/route.ts
  app/page.tsx
  app/profile/page.tsx
  app/template/[key]/edit/ClientEditor.tsx
  app/template/[key]/edit/error.tsx
  app/template/[key]/edit/loading.tsx
  app/template/[key]/edit/page.tsx
  app/template/[key]/not-found.tsx
  app/template/[key]/template-loader.ts
  app/template/[slug]/edit/ClientEditor.tsx
  app/template/[slug]/edit/page.tsx
  app/template/[slug]/not-found.tsx
  app/template/[slug]/template-loader.ts
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/admin-sidebar.tsx
  components/admin/templates/client-editor-by-id.tsx
  components/admin/templates/edit-wrapper.tsx
  components/admin/templates/templates-index-table.tsx
  components/admin/templates/templates-index-with-loading.tsx
  components/admin/users/users-plans-manager.tsx
  components/profile-form.tsx
  types/template.ts
  vercel.json
Labels: ui

🐛 middleware fixes
  app/_sites/[...rest]/page.tsx
  app/sites/[slug]/[[...rest]]/page.tsx
  middleware.ts
Labels: none

🐛 gate sidebar actions and fix routing
  app/_sites/[...rest]/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
Labels: ui

📦 routing for custom domains
  app/_sites/[[...rest]]/page.tsx
Labels: none

🐛 routing fix
  .github/ISSUE_TEMPLATE/security.yml
  .github/workflows/changelog.yml
  .github/workflows/export-analytics.yml
  .github/workflows/snapshot-sitemaps.yml
  app/_sites/[[...rest]]/page.tsx
  app/admin/reports/page.tsx
  app/api/contact/route.ts
  app/api/geocode/route.ts
  app/api/resend-welcome-email/route.ts
  app/contact/page.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/footer.tsx
  lib/utils/geocode.ts
  tests/branding-test.ts
Labels: tests, ui

📦 routing
  app/_sites/[[...rest]]/page.tsx
Labels: none

📦 custom domain resolution
  app/_sites/[[...rest]]/page.tsx
Labels: none

📦 domain routing
  app/_sites/[[...rest]]/page.tsx
Labels: none

📦 routing
  app/_sites/[[...rest]]/page.tsx
  app/api/_sites-diagnose/route.ts
Labels: none

📦 diagnostic logging
  app/api/_sites-diagnose/route.ts
Labels: none

📦 routing change from _sites to host
  app/_sites/[[...rest]]/page.tsx
  app/api/_sites-diagnose/route.ts
  app/api/host-diagnose/route.ts
  app/host/[[...rest]]/page.tsx
  middleware.ts
Labels: none

📦 snapshots and versions
  admin/lib/links/hooks/useSaveTemplate.ts
  admin/lib/saveAsTemplate.ts
  admin/lib/saveTemplate.ts
  admin/utils/normalizeTemplate.ts
  app/api/templates/[id]/publish/route.ts
  app/api/templates/[id]/services/route.ts
  app/api/templates/[id]/snapshot/route.ts
  app/api/templates/[id]/versions/route.ts
  app/template/[key]/edit/page.tsx
  components/admin/templates/render-blocks/contact-form.tsx
  components/admin/templates/render-blocks/services.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/versions-dropdown.tsx
  components/editor/live-editor/LiveEditorPreview.tsx
Labels: ui

📦 identity info pass to blocks (email, business name, phone)
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/contact-form.tsx
Labels: ui

📦 local domain preview routing
  app/host/[[...rest]]/page.tsx
  components/admin/templates/render-block.tsx
  middleware.ts
Labels: ui

📦 iframe conversion for editor - local snapshot previews
  admin/utils/normalizeTemplate.ts
  app/api/templates/[id]/snapshots/route.ts
  app/api/templates/[id]/versions/route.ts
  app/preview/PreviewState.tsx
  app/preview/[[...rest]]/page.tsx
  app/preview/preview-bridge.tsx
  components/admin/templates/page-manager-toolbar.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/versions-dropdown.tsx
  components/editor/live-editor/LiveEditorPreview.tsx
  components/editor/live-editor/LiveEditorPreviewFrame.tsx
  components/sites/editor-site-renderer.tsx
  hooks/useTemplateVersions.ts
  styles/globals.css
Labels: ui

🐛 iframe fixes
  app/api/templates/[id]/edit/route.ts
  app/api/templates/[id]/snapshot/route.ts
  app/api/templates/[id]/snapshots/route.ts
  app/preview/preview-bridge.tsx
  components/admin/template-settings-panel/sidebar-settings.tsx
  components/admin/templates/panels/identity-panel.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor-toolbar.tsx
  components/admin/templates/template-json-editor.tsx
  components/admin/templates/template-settings-panel.tsx
  components/admin/templates/versions-dropdown.tsx
  components/editor/live-editor/LiveEditorPreviewFrame.tsx
  hooks/usePersistTemplate.ts
  hooks/useTemplateVersions.ts
  lib/editor/templateUtils.ts
Labels: ui

📦 custom domain routing
  app/host/[[...rest]]/page.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/versions-dropdown.tsx
  middleware.ts
Labels: ui

📦 compact block picker
  app/admin/templates/list/page.tsx
  app/host/[[...rest]]/page.tsx
  components/admin/block-adder-grouped.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/templates-index-table.tsx
  components/sites/site-theme-setter.tsx
  tailwind.config.ts
Labels: ui

📦 toolbar and block adder updates
  app/preview/preview-bridge.tsx
  components/admin/block-adder-grouped.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/editor/rich-text-editor.tsx
Labels: ui

📦 enable logins
  app/page.tsx
Labels: none

📦 disable login
  app/page.tsx
Labels: none

📦 new template experience
  app/admin/templates/new/page.tsx
  app/api/hero/generate-image/route.ts
  app/api/templates/[id]/edit/route.ts
  app/api/templates/[id]/snapshots/route.ts
  app/api/templates/route.ts
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/page-manager-toolbar.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/editor/live-editor/LiveEditorPreviewFrame.tsx
  hooks/usePersistTemplate.ts
  lib/createEmptyTemplate.ts
Labels: ui

📦 small improvements
  app/api/templates/[id]/edit/route.ts
  app/api/templates/[id]/snapshots/route.ts
  components/admin/campaigns/campaign-panel.tsx
  components/admin/campaigns/claim-poster.tsx
  components/admin/templates/panels/identity-panel.tsx
  lib/normalizeImageSrc.ts
  public/images/campaigns/tow-truck-logo.png
Labels: ui

📦 login redirect to templates list
  app/admin/layout.tsx
  app/api/login/route.ts
  app/api/test-login/route.ts
  app/login/LoginForm.tsx
  app/page.tsx
  components/ui/inspirational-quote.tsx
Labels: ui

📦 added hours of operation
  admin/lib/zod/blockSchema.ts
  admin/lib/zod/templateSaveSchema.ts
  app/api/templates/[id]/edit/route.ts
  components/admin/block-adder-grouped.tsx
  components/admin/template-settings-panel/sidebar-settings.tsx
  components/admin/templates/block-editors/hours-editor-redirect.tsx
  components/admin/templates/block-editors/hours-editor.tsx
  components/admin/templates/panels/hours-panel.tsx
  components/admin/templates/render-blocks/hours.tsx
  components/admin/templates/template-editor-content.tsx
  components/editor/dynamic-block-editor.tsx
  lib/blockRegistry.tsx
  lib/blocks/defaultBlockContent.ts
  lib/createDefaultBlock.ts
  lib/hours/utils.ts
  lib/renderBlockRegistry.ts
  types/blocks.ts
  types/template.ts
Labels: ui

📦 users and profile form enhancements
  .env.example
  app/admin/users.tsx
  app/api/admin/invite/route.ts
  app/chef/layout.tsx
  components/profile-form.tsx
Labels: ui

📦 admin tools for merchants and products
  app/api/admin/merchants/impersonate/route.ts
  app/api/admin/merchants/promote/route.ts
  app/api/admin/products/route.ts
  app/api/admin/users/list/route.ts
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/tools/AdminToolsPage.tsx
  components/admin/tools/cards/basic.tsx
  components/admin/tools/cards/commerce.tsx
Labels: ui

📦 Template Truth Tracker
  admin/lib/zod/blockSchema.ts
  app/admin/templates/new/page.tsx
  app/api/admin/snapshots/create/route.ts
  app/api/templates/[id]/versions/route.ts
  app/api/templates/commit/route.ts
  app/api/templates/state/route.ts
  components/admin/template-settings-panel/sidebar-settings.tsx
  components/admin/templates/BlockErrorList.tsx
  components/admin/templates/block-editor.tsx
  components/admin/templates/block-editors/block-field.tsx
  components/admin/templates/block-editors/cta-editor.tsx
  components/admin/templates/block-editors/header-editor.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/block-sidebar.tsx
  components/admin/templates/blocks-editor.tsx
  components/admin/templates/hooks/useCommitApi.ts
  components/admin/templates/hooks/useTruthTrackerState.ts
  components/admin/templates/panels/identity-panel.tsx
  components/admin/templates/render-blocks/services.tsx
  components/admin/templates/sidebar/TemplateTruthTracker.tsx
  components/admin/templates/sortable-block.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor.tsx
  components/admin/templates/use-template-editor-state.ts
  components/editor/live-editor/LiveEditorPreviewFrame.tsx
  components/editor/sortable-block-wrapper.tsx
  components/editor/sortable-block.tsx
  hooks/useTemplateVersions.ts
  hooks/validateTemplateBlocks.ts
  lib/diff/blocks.ts
  lib/industries/index.ts
  lib/server/logTemplateEvent.ts
  types/template.ts
Labels: ui

📦 New Template Start Flow
  app/api/templates/commit/route.ts
  components/admin/AppHeader/app-header.tsx
  components/admin/admin-chrome.tsx
  components/admin/templates/NewTemplateWelcome.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/block-editors/index.ts
  components/admin/templates/hooks/useCommitApi.ts
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/hero.tsx
  components/admin/templates/sidebar/TemplateTruthTracker.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/utils/blocks-patch.ts
  components/editor/dynamic-block-editor.tsx
  hooks/useSafeScroll.ts
  lib/debug/hero.ts
  lib/ui/safeTargetRef.ts
Labels: ui

📦 Coding Agent
  agents/coding/qs-block-agent.ts
  agents/coding/templates/editor.tsx.mustache
  agents/coding/templates/partials/editorForField.mustache
  agents/coding/templates/partials/zodForField.mustache
  agents/coding/templates/renderer.tsx.mustache
  agents/coding/templates/schema.ts.mustache
  app/admin/agents/block/Client.tsx
  app/admin/agents/block/page.tsx
  app/api/agents/block-schema/route.ts
  app/api/agents/block/route.ts
  app/api/agents/blocks/route.ts
  app/api/agents/presets/route.ts
  app/layout.tsx
  app/template/[key]/edit/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/block-editors/hours-editor.tsx
  components/admin/templates/hero/AIBrushChips.tsx
  components/admin/templates/hero/HeroCommandPalette.tsx
  components/admin/templates/hero/HeroStageControls.tsx
  components/admin/templates/hero/InlineTextEditPopover.tsx
  components/admin/templates/hero/README-usage.md
  components/admin/templates/infra/InfraMapPanel.tsx
  components/admin/templates/page-manager-toolbar.tsx
  components/admin/templates/render-blocks/hero.tsx
  components/admin/templates/render-blocks/hours.tsx
  components/admin/templates/sidebar/TemplateTruthTracker.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/templates-index-table.tsx
  components/admin/templates/timeline/HistoryList.tsx
  components/admin/templates/timeline/HistoryPanel.tsx
  components/editor/live-editor/LiveEditorPreviewFrame.tsx
  components/ui/collapsible-panel.tsx
  lib/timeline.ts
  package-lock.json
  package.json
  styles/qs-typography.css
  ui/motion.ts
  ui/uiTokens.ts
  ui/useHeroShortcuts.ts
Labels: ui

📦 Template and Publishing Improvements
  app/_domains/[domain]/[[...rest]]/page.tsx
  app/admin/templates/list/page.tsx
  app/api/admin/sites/publish/route.ts
  app/host/[[...rest]]/page.tsx
  app/sites/[slug]/[[...rest]]/page.tsx
  components/admin/template-settings-panel/sidebar-settings.tsx
  components/admin/templates/panels/domain-panel.tsx
  components/admin/templates/panels/identity-panel.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/text.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor-toolbar.tsx
  components/admin/templates/template-editor.tsx
  components/admin/templates/template-settings-panel.tsx
  components/admin/templates/templates-index-table.tsx
  components/admin/templates/utils/blocks-patch.ts
  components/editor/dynamic-block-editor.tsx
  components/editor/live-editor/LiveEditorPreview.tsx
  components/editor/live-editor/LiveEditorPreviewFrame.tsx
  components/editor/rich-text-editor.tsx
  lib/baseSlug.ts
  middleware.ts
Labels: ui

📦 Block Re-ordering and Undo Redo
  components/admin/templates/sidebar/TemplateTruthTracker.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/editor/live-editor/LiveEditorPreviewFrame.tsx
Labels: ui

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'
