Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'

feat(commerce): generic product storefront on canonical catalog_items
  app/api/public/products/route.ts
  app/p/[slug]/add-to-cart.tsx
  app/p/[slug]/page.tsx
  scripts/seed-demo-products.sql
Labels: scripts

feat(commerce): checkout scaffold (test mode) + standalone /store/[merchant]
  .env.example
  app/api/commerce/checkout/route.ts
  app/checkout/page.tsx
  app/store/[merchant]/page.tsx
  app/store/[merchant]/store-grid.tsx
  lib/commerce/orders.ts
  lib/commerce/paymentRouter.ts
  supabase/migrations/20260626_order_items_meal_id_nullable.sql
  supabase/migrations/20260626_order_items_metadata.sql
  supabase/migrations/20260626_orders_amount_cents_nullable.sql
  supabase/migrations/20260626_orders_site_slug.sql
Labels: none

feat(commerce): Stripe Connect onboarding on payment_accounts (real money path)
  .env.example
  app/api/connect/login-link/route.ts
  app/api/connect/onboard/route.ts
  app/api/connect/status/route.ts
  app/merchant/connect/page.tsx
  docs/COMMERCE_RUNBOOK.md
Labels: none

feat(commerce): refund + fee reversal (A4) + order receipt page
  app/api/commerce/refund/route.ts
  app/api/commerce/webhooks/stripe/route.ts
  app/checkout/success/clear-cart.tsx
  app/checkout/success/page.tsx
  lib/commerce/orders.ts
Labels: none

feat(commerce): platform revenue reconciliation (A5)
  app/admin/revenue/page.tsx
  app/api/admin/revenue/route.ts
Labels: none

docs: Model A progress (A1-A6 + Connect done, A3 test-proven)
  docs/MODEL_A_PLAN.md
Labels: none

feat(analytics): emit money-path funnel events (A7)
  app/api/connect/status/route.ts
  lib/commerce/orders.ts
Labels: none

chore: remove dead chef/meal admin tool functions (~565 lines)
  components/admin/tools/cards/advanced.tsx
  components/admin/tools/cards/basic.tsx
  components/admin/tools/cards/compliance.tsx
Labels: ui

refactor(commerce): retire legacy `products` table → unify on catalog_items
  app/api/admin/products/route.ts
  app/api/admin/users/list/route.ts
  app/api/me/membership/route.ts
  supabase/migrations/20260626_drop_legacy_products.sql
Labels: none

refactor: remove delivered.menu food features — alerts/waitlist/restock/cuisines (phase 1/3)
  app/alerts/page.tsx
  app/api/admin/emails/restock/route.ts
  app/api/alerts/delete/route.ts
  app/api/alerts/my/route.ts
  app/api/cron/last-call-scan/route.ts
  app/api/public/checkout/route.ts
  app/api/public/cuisines/route.ts
  app/api/public/waitlist/subscribe/route.ts
  app/api/public/waitlist/unsubscribe/route.ts
  app/unsubscribe/page.tsx
  components/public/BuyNowButton.tsx
  components/public/notify-inline.tsx
  vercel.json
Labels: ui

refactor: remove meal-coupled reviews subsystem (phase 2/3)
  admin/lib/zod/blockSchema.ts
  app/api/admin/reviews/invites/route.ts
  app/api/admin/reviews/invites/sheet/route.ts
  app/api/admin/reviews/route.ts
  app/api/internal/reviews/mint/route.ts
  app/api/orders/review/route.ts
  app/api/public/review/from-qr/route.ts
  app/api/public/review/merchant-by-code/[code]/route.ts
  app/api/public/review/order/[token]/route.ts
  app/api/public/review/qr/[token]/route.ts
  app/api/public/review/submit-by-token/route.ts
  app/api/public/reviews/route.ts
  app/api/public/reviews/submit/route.ts
  app/api/public/reviews/verify/route.ts
  app/order/[id]/packing-slip/page.tsx
  app/r/[code]/page.tsx
  app/reviews/start/page.tsx
  app/rv/[token]/page.tsx
  components/admin/templates/render-blocks/reviews-list.client.tsx
  components/admin/templates/render-blocks/reviews-list.tsx
  components/admin/tools/AdminToolsPage.tsx
  components/admin/tools/cards/advanced.tsx
  lib/blockRegistry.tsx
  lib/blocks/defaultBlockContent.ts
  lib/dynamic-renderers.ts
  lib/renderBlockRegistry.ts
  types/blocks.ts
Labels: ui

refactor: finish meal decoupling — drop reviews table, remove orphaned meal routes (phase 3/3)
  app/api/cron/social-dispatch/route.ts
  app/api/orders/issue/route.ts
  app/api/payments/stripe-webhook/route.ts
  app/api/public/merchants/[merchantId]/route.ts
  supabase/migrations/20260626_drop_reviews.sql
  vercel.json
Labels: none

refactor: drop meals table + order_items.meal_id (final delivered.menu teardown)
  supabase/migrations/20260626_drop_meals.sql
Labels: none

docs: accurate local-dev guide (start the app)
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/DEVELOPMENT.md
Labels: docs

feat(home): re-orient homepage to builder + commerce + reseller model
  app/page.tsx
Labels: none

feat(features): re-orient /features — remove portfolio, add commerce/reseller
  scripts/seed-features-commerce.sql
Labels: scripts

feat(partners): /partners reseller landing + point homepage CTA at it
  app/page.tsx
  app/partners/page.tsx
Labels: none

feat(nav): add Partners to site header so the reseller page is discoverable
  components/site/site-header.tsx
Labels: ui

feat(pricing): on-message hero + e-commerce/partner callout
  app/pricing/page.tsx
Labels: none

feat(partners): concrete reseller offer + wire 80/20 fee split
  .env.example
  app/merchant/payments/page.tsx
  app/partners/page.tsx
  docs/MONETIZATION.md
  lib/commerce/orders.ts
  lib/commerce/partner-terms.ts
Labels: none

feat(partners): self-serve onboarding + partner-scoped dashboard
  app/api/partners/join/route.ts
  app/partners/dashboard/client.tsx
  app/partners/dashboard/page.tsx
  app/partners/page.tsx
Labels: none

feat(partners): payout pipeline — approve + Stripe-Connect/manual disbursement
  .env.example
  app/api/admin/partners/payouts/approve/route.ts
  app/api/admin/partners/payouts/run/route.ts
  docs/MONETIZATION.md
  lib/auth/getAdminUser.ts
  lib/commerce/partner-terms.ts
  lib/commerce/payouts.ts
  supabase/migrations/20260626_partner_payout_accounts.sql
Labels: none

feat(partners): Stripe Connect onboarding for payouts — real-money loop complete
  app/api/partners/connect/onboard/route.ts
  app/api/partners/connect/status/route.ts
  app/partners/dashboard/client.tsx
  app/partners/dashboard/page.tsx
  docs/MONETIZATION.md
Labels: none

feat(partners): approval cron + admin payouts console
  app/admin/partners/payouts/page.tsx
  app/admin/partners/payouts/panel.tsx
  app/api/cron/approve-commissions/route.ts
  vercel.json
Labels: none

chore: minor polish — admin nav + dev-seeder meal trim
  app/api/admin/nuke/route.ts
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/dev/seeder/SeedAllPanel.tsx
  components/admin/dev/seeder/sections/MerchantsProductsSection.tsx
Labels: ui

feat(admin): cron health dashboard with run tracking
  app/admin/cron/page.tsx
  app/api/admin/ai-pricing/sync/openai/route.ts
  app/api/admin/users/plan/expire-trials/route.ts
  app/api/cron/approve-commissions/route.ts
  app/api/cron/compliance-reminders/route.ts
  app/api/cron/email-drain/route.ts
  app/api/cron/weekly-compliance-digest/route.ts
  components/admin/AppHeader/AdminNavSections.tsx
  lib/cron/auth.ts
  lib/cron/record.ts
  lib/cron/registry.ts
  supabase/migrations/20260627_cron_runs.sql
Labels: ui

feat(admin): internal task tracker (DB-backed) with dashboard
  app/admin/tasks/board.tsx
  app/admin/tasks/page.tsx
  app/api/admin/tasks/[id]/route.ts
  app/api/admin/tasks/route.ts
  components/admin/AppHeader/AdminNavSections.tsx
  lib/tasks/constants.ts
  supabase/migrations/20260627_admin_tasks.sql
Labels: ui

fix(security): gate unguarded service-role mutation routes
  .claude/settings.json
  app/api/admin/delete-branding/route.ts
  app/api/admin/delete-snapshot/route.ts
  app/api/admin/payments/save-settings/route.ts
  app/api/admin/sites/unpublish/route.ts
  app/api/domains/remove/route.ts
Labels: none

fix(security): gate domains/connect and domains/verify too
  app/api/domains/connect/route.ts
  app/api/domains/verify/route.ts
Labels: none

fix(commerce): make the Stripe webhook idempotent
  app/api/commerce/webhooks/stripe/route.ts
  lib/commerce/webhookDedup.ts
  supabase/migrations/20260627_webhook_events.sql
Labels: none

fix(commerce): clamp platform fee + guard order-state transitions
  app/api/connect/onboard/route.ts
  lib/commerce/orders.ts
  lib/commerce/paymentRouter.ts
Labels: none

fix(commerce): harden the partner payout pipeline
  app/admin/partners/payouts/panel.tsx
  lib/commerce/orders.ts
  lib/commerce/payouts.ts
  supabase/migrations/20260628_payout_hardening.sql
Labels: none

ci: enforce typecheck + build, stop swallowing failures, fix Node version
  .github/workflows/ci.yml
Labels: none

ci: use npm ci so the locked dep tree (which typechecks clean) is installed
  .github/workflows/ci.yml
Labels: none

ci: make typecheck non-blocking pending supabase-types fix
  .github/workflows/ci.yml
Labels: none

ci: drop Generate Sitemap step (artifact, not a gate; breaks under Node 20 ESM)
  .github/workflows/ci.yml
Labels: none

ci: report typecheck/build/lint as annotations (non-blocking) pending #8
  .github/workflows/ci.yml
Labels: none

WIP(types): align @supabase versions + regenerate full DB types (phase 1)
  package-lock.json
  package.json
  types/supabase.ts
Labels: none

fix(types): useThemeContext — query only real columns on user_site_settings
  hooks/useThemeContext.tsx
Labels: none

fix(types): cast dynamic .from(string) in useLiveTable to any
  hooks/useLiveTable.ts
Labels: none
