Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

feat(compare): wire AI-rebuild + reseller surfaces into /compare
  app/compare/page.tsx
Labels: none

feat(compare): wire AI-rebuild + reseller surfaces into /compare (#160)
  app/compare/page.tsx
Labels: none

feat(onboarding): add "Convert an existing site" to the first-site chooser
  components/admin/templates/start/start-your-site.tsx
Labels: ui

feat(onboarding): add "Convert an existing site" to the first-site chooser (#161)
  components/admin/templates/start/start-your-site.tsx
Labels: ui

feat(home): add "I already have a site" convert mode to the guest-start hero
  components/home/guest-start.tsx
Labels: ui

feat(home): add "I already have a site" convert mode to the guest-start hero (#162)
  components/home/guest-start.tsx
Labels: ui

chore(rebuild): smoke-test harness for the site-conversion pipeline
  docs/REBUILD_SMOKE_TEST.md
  package.json
  scripts/rebuild-smoke.ts
Labels: scripts

chore(rebuild): smoke-test harness for the site-conversion pipeline (#163)
  docs/REBUILD_SMOKE_TEST.md
  package.json
  scripts/rebuild-smoke.ts
Labels: scripts

feat(restaurant): add a `menu` block + menu-forward restaurant scaffold
  admin/lib/zod/blockSchema.ts
  components/admin/templates/render-blocks/menu.tsx
  lib/blockRegistry.tsx
  lib/blocks/defaultBlockContent.ts
  lib/builder/__tests__/restaurant-menu.test.ts
  lib/builder/industryScaffold.ts
  lib/createDefaultBlock.ts
  lib/renderBlockRegistry.ts
  types/blocks.ts
Labels: ui

feat(restaurant): add a `menu` block + menu-forward restaurant scaffold (#164)
  admin/lib/zod/blockSchema.ts
  components/admin/templates/render-blocks/menu.tsx
  lib/blockRegistry.tsx
  lib/blocks/defaultBlockContent.ts
  lib/builder/__tests__/restaurant-menu.test.ts
  lib/builder/industryScaffold.ts
  lib/createDefaultBlock.ts
  lib/renderBlockRegistry.ts
  types/blocks.ts
Labels: ui

feat(restaurant): conversion extracts the real menu into the menu block
  app/api/rebuild/route.ts
  lib/rebuild/__tests__/parseMenu.test.ts
  lib/rebuild/__tests__/scrapeSite.test.ts
  lib/rebuild/assembleDraft.ts
  lib/rebuild/inferSiteSpec.ts
  lib/rebuild/scrapeSite.ts
  scripts/rebuild-smoke.ts
Labels: scripts

feat(restaurant): conversion extracts the real menu into the menu block (#165)
  app/api/rebuild/route.ts
  lib/rebuild/__tests__/parseMenu.test.ts
  lib/rebuild/__tests__/scrapeSite.test.ts
  lib/rebuild/assembleDraft.ts
  lib/rebuild/inferSiteSpec.ts
  lib/rebuild/scrapeSite.ts
  scripts/rebuild-smoke.ts
Labels: scripts

feat(restaurant): location block + real contact/hours extraction (mobile polish)
  admin/lib/zod/blockSchema.ts
  components/admin/templates/render-blocks/location.tsx
  lib/blockRegistry.tsx
  lib/blocks/defaultBlockContent.ts
  lib/builder/__tests__/restaurant-menu.test.ts
  lib/builder/industryScaffold.ts
  lib/createDefaultBlock.ts
  lib/rebuild/__tests__/parseMenu.test.ts
  lib/rebuild/assembleDraft.ts
  lib/rebuild/inferSiteSpec.ts
  lib/renderBlockRegistry.ts
  scripts/rebuild-smoke.ts
  types/blocks.ts
Labels: scripts, ui

feat(restaurant): location block + real contact/hours extraction (mobile polish) (#166)
  admin/lib/zod/blockSchema.ts
  components/admin/templates/render-blocks/location.tsx
  lib/blockRegistry.tsx
  lib/blocks/defaultBlockContent.ts
  lib/builder/__tests__/restaurant-menu.test.ts
  lib/builder/industryScaffold.ts
  lib/createDefaultBlock.ts
  lib/rebuild/__tests__/parseMenu.test.ts
  lib/rebuild/assembleDraft.ts
  lib/rebuild/inferSiteSpec.ts
  lib/renderBlockRegistry.ts
  scripts/rebuild-smoke.ts
  types/blocks.ts
Labels: scripts, ui

feat(restaurant): sticky mobile order/call bar
  admin/lib/zod/blockSchema.ts
  components/admin/templates/render-blocks/order-bar.tsx
  lib/blockRegistry.tsx
  lib/blocks/defaultBlockContent.ts
  lib/builder/__tests__/restaurant-menu.test.ts
  lib/builder/industryScaffold.ts
  lib/createDefaultBlock.ts
  lib/rebuild/assembleDraft.ts
  lib/renderBlockRegistry.ts
  types/blocks.ts
Labels: ui

feat(restaurant): sticky mobile order/call bar (#167)
  admin/lib/zod/blockSchema.ts
  components/admin/templates/render-blocks/order-bar.tsx
  lib/blockRegistry.tsx
  lib/blocks/defaultBlockContent.ts
  lib/builder/__tests__/restaurant-menu.test.ts
  lib/builder/industryScaffold.ts
  lib/createDefaultBlock.ts
  lib/rebuild/assembleDraft.ts
  lib/renderBlockRegistry.ts
  types/blocks.ts
Labels: ui

feat(restaurant): menu→catalog ordering backend (owner-confirmed prices)
  app/api/menu/publish-catalog/route.ts
  lib/commerce/__tests__/menuCatalog.test.ts
  lib/commerce/menuCatalog.ts
  lib/commerce/menuPrice.ts
Labels: none

feat(restaurant): menu→catalog ordering backend (owner-confirmed prices) (#168)
  app/api/menu/publish-catalog/route.ts
  lib/commerce/__tests__/menuCatalog.test.ts
  lib/commerce/menuCatalog.ts
  lib/commerce/menuPrice.ts
Labels: none

feat(restaurant): menu editor with "Enable ordering" price confirmation
  components/admin/templates/block-editors/index.ts
  components/admin/templates/block-editors/menu-editor.tsx
Labels: ui

feat(restaurant): menu editor with "Enable ordering" price confirmation (#169)
  components/admin/templates/block-editors/index.ts
  components/admin/templates/block-editors/menu-editor.tsx
Labels: ui

feat(restaurant): per-item menu photos
  app/api/menu/publish-catalog/route.ts
  components/admin/templates/block-editors/menu-editor.tsx
  lib/commerce/__tests__/menuCatalog.test.ts
  lib/commerce/menuCatalog.ts
Labels: ui

feat(restaurant): per-item menu photos (#170)
  app/api/menu/publish-catalog/route.ts
  components/admin/templates/block-editors/menu-editor.tsx
  lib/commerce/__tests__/menuCatalog.test.ts
  lib/commerce/menuCatalog.ts
Labels: ui

feat(restaurant): menu item options (choose-one sizes) → catalog variants
  admin/lib/zod/blockSchema.ts
  app/api/menu/publish-catalog/route.ts
  components/admin/templates/block-editors/menu-editor.tsx
  components/admin/templates/render-blocks/menu.tsx
  lib/commerce/__tests__/menuCatalog.test.ts
  lib/commerce/menuCatalog.ts
Labels: ui

feat(restaurant): menu item options (choose-one sizes) → catalog variants (#171)
  admin/lib/zod/blockSchema.ts
  app/api/menu/publish-catalog/route.ts
  components/admin/templates/block-editors/menu-editor.tsx
  components/admin/templates/render-blocks/menu.tsx
  lib/commerce/__tests__/menuCatalog.test.ts
  lib/commerce/menuCatalog.ts
Labels: ui

feat(restaurant): real Stripe Connect button in the menu editor
  components/admin/templates/block-editors/menu-editor.tsx
Labels: ui

feat(restaurant): real Stripe Connect button in the menu editor (#172)
  components/admin/templates/block-editors/menu-editor.tsx
Labels: ui

test(restaurant): green-path proof for the menu → order money path
  app/api/admin/commerce/menu-demo/route.ts
  lib/commerce/__tests__/menuOrderChain.test.ts
Labels: none

test(restaurant): green-path proof for the menu → order money path (#173)
  app/api/admin/commerce/menu-demo/route.ts
  lib/commerce/__tests__/menuOrderChain.test.ts
Labels: none

feat(commerce): additive multi-select add-ons — money path + cart
  app/api/commerce/checkout/route.ts
  app/checkout/page.tsx
  components/cart/cart-events-wire.tsx
  components/cart/cart-store.ts
  lib/commerce/__tests__/checkoutItems.test.ts
  lib/commerce/checkoutItems.ts
Labels: ui

feat(commerce): additive multi-select add-ons — money path + cart (#174)
  app/api/commerce/checkout/route.ts
  app/checkout/page.tsx
  components/cart/cart-events-wire.tsx
  components/cart/cart-store.ts
  lib/commerce/__tests__/checkoutItems.test.ts
  lib/commerce/checkoutItems.ts
Labels: ui

feat(restaurant): menu add-ons authoring + rendering
  admin/lib/zod/blockSchema.ts
  app/api/menu/publish-catalog/route.ts
  components/admin/templates/block-editors/menu-editor.tsx
  components/admin/templates/render-blocks/menu.tsx
  lib/commerce/__tests__/menuCatalog.test.ts
  lib/commerce/menuCatalog.ts
Labels: ui

feat(restaurant): menu add-ons authoring + rendering (#175)
  admin/lib/zod/blockSchema.ts
  app/api/menu/publish-catalog/route.ts
  components/admin/templates/block-editors/menu-editor.tsx
  components/admin/templates/render-blocks/menu.tsx
  lib/commerce/__tests__/menuCatalog.test.ts
  lib/commerce/menuCatalog.ts
Labels: ui

feat(restaurant): owner tag authoring for menu items
  components/admin/templates/block-editors/menu-editor.tsx
Labels: ui

feat(restaurant): owner tag authoring for menu items (#176)
  components/admin/templates/block-editors/menu-editor.tsx
Labels: ui

docs: consolidate the restaurant vertical (PRs #164–#176)
  CLAUDE.md
  docs/RESTAURANT_VERTICAL.md
Labels: docs

docs: consolidate the restaurant vertical (PRs #164–#176) (#177)
  CLAUDE.md
  docs/RESTAURANT_VERTICAL.md
Labels: docs

feat(commerce): order special instructions (buyer note)
  app/api/commerce/checkout/route.ts
  app/checkout/page.tsx
  app/merchant/orders/page.tsx
  lib/commerce/orders.ts
  supabase/migrations/20260705_orders_customer_note.sql
Labels: none

feat(commerce): order special instructions (buyer note) (#178)
  app/api/commerce/checkout/route.ts
  app/checkout/page.tsx
  app/merchant/orders/page.tsx
  lib/commerce/orders.ts
  supabase/migrations/20260705_orders_customer_note.sql
Labels: none

feat(restaurant): no-website ingestion — listing import + menu-from-photos
  app/api/import-listing/route.ts
  docs/RESTAURANT_VERTICAL.md
  lib/rebuild/__tests__/importListing.test.ts
  lib/rebuild/importListing.ts
  lib/rebuild/menuFromPhotos.ts
  package.json
  scripts/menu-photo-smoke.ts
Labels: scripts

feat(restaurant): no-website ingestion — listing import + menu-from-photos (#179)
  app/api/import-listing/route.ts
  docs/RESTAURANT_VERTICAL.md
  lib/rebuild/__tests__/importListing.test.ts
  lib/rebuild/importListing.ts
  lib/rebuild/menuFromPhotos.ts
  package.json
  scripts/menu-photo-smoke.ts
Labels: scripts

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'
