Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

refactor(api): lazy-init SDK clients; make CI Build a blocking gate
  .github/workflows/ci.yml
  app/api/ask-assistant/route.ts
  app/api/dev/seed/_lib/clients.ts
  app/api/dev/seed/all/route.ts
  app/api/faq/generate/route.ts
  app/api/generate-testimonial/route.ts
  app/api/hero/generate-image/route.ts
  app/api/hero/suggest/route.ts
  app/api/notify-creator/route.ts
  app/api/org/billing/route.ts
  app/api/resend-welcome-email/route.ts
  app/api/send-contact-email/route.ts
  app/api/send-weekly-digest/route.ts
  app/api/stripe/stripe-webhook/route.ts
  app/api/testimonials/generate/route.ts
  app/api/weekly-digest-live/route.ts
  lib/lazyClient.ts
  lib/stripe/server.ts
  lib/useVectorDB.ts
Labels: none

refactor(api): lazy-init SDK clients; make CI Build a blocking gate (#59)
  .github/workflows/ci.yml
  app/api/ask-assistant/route.ts
  app/api/dev/seed/_lib/clients.ts
  app/api/dev/seed/all/route.ts
  app/api/faq/generate/route.ts
  app/api/generate-testimonial/route.ts
  app/api/hero/generate-image/route.ts
  app/api/hero/suggest/route.ts
  app/api/notify-creator/route.ts
  app/api/org/billing/route.ts
  app/api/resend-welcome-email/route.ts
  app/api/send-contact-email/route.ts
  app/api/send-weekly-digest/route.ts
  app/api/stripe/stripe-webhook/route.ts
  app/api/testimonials/generate/route.ts
  app/api/weekly-digest-live/route.ts
  lib/lazyClient.ts
  lib/stripe/server.ts
  lib/useVectorDB.ts
Labels: none

fix(eslint): drop stale rule forbidding required Next 15 `await headers()`
  .eslintrc.cjs
Labels: none

chore(eslint): ratchet remaining errors to warn; make CI Lint blocking
  .eslintrc.cjs
  .github/workflows/ci.yml
  admin/lib/zod/blockSchema.ts
  app/admin/candidates/new/page.tsx
  app/api/admin/products/route.ts
  app/api/admin/products/suggest/route.ts
  app/api/admin/snapshots/create/route.ts
  app/api/admin/templates/list/route.ts
  app/api/admin/users/plan/route.ts
  app/api/dev/seed/_lib/heroHydrate.ts
  app/api/dev/seed/_lib/slugs.ts
  app/api/dev/seed/_lib/templatePersist.ts
  app/api/dev/seed/all/route.ts
  app/api/dev/seed/stream/route.ts
  app/api/templates/commit/route.ts
  app/host/[[...rest]]/page.tsx
  app/sitemap.xml/route.ts
  components/admin/fields/quick-links-editor.tsx
  components/admin/templates/block-editors/index.ts
  components/admin/templates/editor-loader.tsx
  components/editor/live-editor/LiveEditorPreview.tsx
  hooks/useTemplateVersions.ts
  hooks/validateTemplateBlocks.ts
  lib/api/site-routing.ts
Labels: ui

fix(eslint): drop stale rule forbidding required Next 15 `await headers()` (#60)
  .eslintrc.cjs
  .github/workflows/ci.yml
  admin/lib/zod/blockSchema.ts
  app/admin/candidates/new/page.tsx
  app/api/admin/products/route.ts
  app/api/admin/products/suggest/route.ts
  app/api/admin/snapshots/create/route.ts
  app/api/admin/templates/list/route.ts
  app/api/admin/users/plan/route.ts
  app/api/dev/seed/_lib/heroHydrate.ts
  app/api/dev/seed/_lib/slugs.ts
  app/api/dev/seed/_lib/templatePersist.ts
  app/api/dev/seed/all/route.ts
  app/api/dev/seed/stream/route.ts
  app/api/templates/commit/route.ts
  app/host/[[...rest]]/page.tsx
  app/sitemap.xml/route.ts
  components/admin/fields/quick-links-editor.tsx
  components/admin/templates/block-editors/index.ts
  components/admin/templates/editor-loader.tsx
  components/editor/live-editor/LiveEditorPreview.tsx
  hooks/useTemplateVersions.ts
  hooks/validateTemplateBlocks.ts
  lib/api/site-routing.ts
Labels: ui

fix(react-hooks): hoist guards above hooks in block editors (-79 violations)
  components/admin/blocks/call-logs-block.tsx
  components/admin/templates/block-editors/header-editor.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/block-editors/products-grid-editor.tsx
  components/admin/templates/block-editors/service-offer-editor.tsx
  components/admin/templates/block-sidebar.tsx
Labels: ui

fix(react-hooks): hoist guards above hooks in block editors (-79 violations) (#61)
  components/admin/blocks/call-logs-block.tsx
  components/admin/templates/block-editors/header-editor.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/block-editors/products-grid-editor.tsx
  components/admin/templates/block-editors/service-offer-editor.tsx
  components/admin/templates/block-sidebar.tsx
Labels: ui

test(commerce): add Jest harness + money-path fee unit tests
  .github/workflows/ci.yml
  jest.config.mjs
  lib/commerce/__tests__/fees.test.ts
  lib/commerce/fees.ts
  lib/commerce/orders.ts
  package-lock.json
  package.json
  test/jest.setup.ts
  tsconfig.json
Labels: none

test(commerce): add Jest harness + money-path fee unit tests (#62)
  .github/workflows/ci.yml
  jest.config.mjs
  lib/commerce/__tests__/fees.test.ts
  lib/commerce/fees.ts
  lib/commerce/orders.ts
  package-lock.json
  package.json
  test/jest.setup.ts
  tsconfig.json
Labels: none

feat(ai): meter OpenAI calls in the priority chat routes
  app/api/ask-assistant/route.ts
  app/api/faq/generate/route.ts
  app/api/generate-testimonial/route.ts
  app/api/hero/suggest/route.ts
  app/api/services/suggest/route.ts
  app/api/testimonials/generate/route.ts
Labels: none

feat(ai): meter OpenAI calls in the priority chat routes (#63)
  app/api/ask-assistant/route.ts
  app/api/faq/generate/route.ts
  app/api/generate-testimonial/route.ts
  app/api/hero/suggest/route.ts
  app/api/services/suggest/route.ts
  app/api/testimonials/generate/route.ts
Labels: none

feat(ai): meter remaining OpenAI routes (images, digests, admin)
  app/api/admin/products/suggest/route.ts
  app/api/favicon/generate/route.ts
  app/api/hero/generate-image/route.ts
  app/api/icon/generate/route.ts
  app/api/send-weekly-digest/route.ts
  app/api/weekly-digest-live/route.ts
Labels: none

feat(ai): meter remaining OpenAI routes (images, digests, admin) (#64)
  app/api/admin/products/suggest/route.ts
  app/api/favicon/generate/route.ts
  app/api/hero/generate-image/route.ts
  app/api/icon/generate/route.ts
  app/api/send-weekly-digest/route.ts
  app/api/weekly-digest-live/route.ts
Labels: none

refactor(templates): extract pure commit transforms into a tested lib
  app/api/templates/commit/route.ts
  lib/templates/__tests__/identity.test.ts
  lib/templates/identity.ts
Labels: none

refactor(templates): extract pure commit transforms into a tested lib (#65)
  app/api/templates/commit/route.ts
  lib/templates/__tests__/identity.test.ts
  lib/templates/identity.ts
Labels: none

chore(hygiene): remove confirmed-dead files; fix wrong/stale router doc
  ROUTER_STRATEGY.md
  app/api/dev/seed/_lib/_deprecated_sites.ts
  app/auth/callback/_deprecated2_page.tsx
  app/auth/callback/_deprecated_page.tsx
  app/sites/[slug]/_deprecating_page.tsx
  components/admin/dev/_deprecated_seed-all-panel.tsx
  docs/SECRET_ROTATION_RUNBOOK.md
  email-weekly-summary.ts.disabled
Labels: ui, docs

chore(hygiene): remove confirmed-dead files; fix wrong/stale router doc (#66)
  ROUTER_STRATEGY.md
  app/api/dev/seed/_lib/_deprecated_sites.ts
  app/auth/callback/_deprecated2_page.tsx
  app/auth/callback/_deprecated_page.tsx
  app/sites/[slug]/_deprecating_page.tsx
  components/admin/dev/_deprecated_seed-all-panel.tsx
  docs/SECRET_ROTATION_RUNBOOK.md
  email-weekly-summary.ts.disabled
Labels: ui, docs

test(admin): revive parseTypedQueryValue test (vitest→jest); narrow quarantine
  admin/__tests__/parseTypedQueryValue.test.ts
  jest.config.mjs
  test/jest.setup.ts
Labels: none

test(admin): revive parseTypedQueryValue test (vitest→jest); narrow quarantine (#67)
  admin/__tests__/parseTypedQueryValue.test.ts
  jest.config.mjs
  test/jest.setup.ts
Labels: none

docs(security): mark leaked Supabase key rotation complete (owner, 2026-06-30)
  docs/SECRET_ROTATION_RUNBOOK.md
Labels: none

test(billing): cover agency plan classifiers + checkout line-item builders
  lib/billing/__tests__/agency.test.ts
  lib/billing/__tests__/plans.test.ts
Labels: none

docs(security): mark leaked Supabase key rotation complete (owner, 2026-06-30) (#68)
  docs/SECRET_ROTATION_RUNBOOK.md
Labels: none

test(billing): cover agency plan classifiers + checkout line-item builders (#69)
  lib/billing/__tests__/agency.test.ts
  lib/billing/__tests__/plans.test.ts
Labels: none

docs(strategy): add competitive landscape + gap punch-list
  CLAUDE.md
  docs/COMPETITIVE_LANDSCAPE.md
  docs/index.md
Labels: docs

refactor(commerce): consolidate payment account reads onto payment_accounts
  app/api/admin/orders/create-test/route.ts
  app/api/admin/payments/status/route.ts
  app/api/payments/create-checkout/route.ts
  lib/commerce/types.ts
Labels: none

feat(commerce): add green-path E2E money-path proof route (Model A Tier 0.1)
  app/api/admin/commerce/e2e-demo/route.ts
Labels: none

Competitive landscape + Tier 0 money-path proof (#70)
  CLAUDE.md
  app/api/admin/commerce/e2e-demo/route.ts
  app/api/admin/orders/create-test/route.ts
  app/api/admin/payments/status/route.ts
  app/api/payments/create-checkout/route.ts
  docs/COMPETITIVE_LANDSCAPE.md
  docs/index.md
  lib/commerce/types.ts
Labels: docs

feat(partners): branded invite + attribution fix + deeper residual dashboard (Tier 1)
  app/api/billing/checkout/route.ts
  app/join/[code]/page.tsx
  app/partners/dashboard/page.tsx
  lib/commerce/partnerStats.ts
Labels: none

feat(partners): branded invite + attribution fix + deeper residual dashboard (Tier 1) (#71)
  app/api/billing/checkout/route.ts
  app/join/[code]/page.tsx
  app/partners/dashboard/page.tsx
  lib/commerce/partnerStats.ts
Labels: none

feat(commerce): refund UI + opt-in flat shipping for POD orders (Tier 2)
  app/api/commerce/checkout/route.ts
  app/checkout/success/page.tsx
  app/merchant/orders/page.tsx
  app/merchant/orders/refund-button.tsx
  lib/commerce/__tests__/fees.test.ts
  lib/commerce/adapters/stripeAdapter.ts
  lib/commerce/fees.ts
  lib/commerce/orders.ts
  lib/commerce/types.ts
Labels: none

feat(commerce): refund UI + opt-in flat shipping for POD orders (Tier 2) (#72)
  app/api/commerce/checkout/route.ts
  app/checkout/success/page.tsx
  app/merchant/orders/page.tsx
  app/merchant/orders/refund-button.tsx
  lib/commerce/__tests__/fees.test.ts
  lib/commerce/adapters/stripeAdapter.ts
  lib/commerce/fees.ts
  lib/commerce/orders.ts
  lib/commerce/types.ts
Labels: none

feat(partners): GMV earnings calculator — residual vs. flat-markup builder (Tier 3)
  app/partners/calculator/page.tsx
  app/partners/page.tsx
Labels: none

feat(partners): GMV earnings calculator — residual vs. flat-markup builder (Tier 3) (#73)
  app/partners/calculator/page.tsx
  app/partners/page.tsx
Labels: none

feat(analytics,commerce): complete money funnel instrumentation + POD/author flagship demo
  app/api/admin/commerce/pod-demo/route.ts
  app/api/auth/set-session/route.ts
  app/api/catalog/items/route.ts
  app/api/templates/[id]/publish/route.ts
  app/api/templates/commit/route.ts
  app/auth/callback/route.ts
  docs/COMPETITIVE_LANDSCAPE.md
  docs/MODEL_A_PLAN.md
  docs/POD_AUTHOR_PLAN.md
  docs/REVIVAL_PLAN.md
  lib/analytics/funnel.ts
  lib/commerce/orders.ts
  lib/commerce/payouts.ts
Labels: none

feat(analytics,commerce): complete money funnel instrumentation + POD/author flagship demo (#74)
  app/api/admin/commerce/pod-demo/route.ts
  app/api/auth/set-session/route.ts
  app/api/catalog/items/route.ts
  app/api/templates/[id]/publish/route.ts
  app/api/templates/commit/route.ts
  app/auth/callback/route.ts
  docs/COMPETITIVE_LANDSCAPE.md
  docs/MODEL_A_PLAN.md
  docs/POD_AUTHOR_PLAN.md
  docs/REVIVAL_PLAN.md
  lib/analytics/funnel.ts
  lib/commerce/orders.ts
  lib/commerce/payouts.ts
Labels: none

feat(commerce): record Stripe-computed sales tax on orders (Tier 2.9)
  .env.example
  app/checkout/success/page.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/fees.test.ts
  lib/commerce/fees.ts
  lib/commerce/orders.ts
Labels: none

feat(commerce): record Stripe-computed sales tax on orders (Tier 2.9) (#75)
  .env.example
  app/checkout/success/page.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/fees.test.ts
  lib/commerce/fees.ts
  lib/commerce/orders.ts
Labels: none

docs(strategy): scope the white-label surface into shippable slices (Tier 1.5)
  docs/COMPETITIVE_LANDSCAPE.md
  docs/WHITE_LABEL_PLAN.md
Labels: none

docs(strategy): scope the white-label surface into shippable slices (Tier 1.5) (#76)
  docs/COMPETITIVE_LANDSCAPE.md
  docs/WHITE_LABEL_PLAN.md
Labels: none

feat(white-label): brand resolver endpoint + branded login/join (Tier 1.5 Slices 0+2)
  app/api/org/branding/route.ts
  app/join/[code]/page.tsx
  docs/WHITE_LABEL_PLAN.md
  lib/org/__tests__/branding.test.ts
  lib/org/branding.ts
Labels: none

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'
