Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'

block schema fix
  admin/lib/zod/blockSchema.ts
Labels: none

install react-markdown
  package-lock.json
  package.json
Labels: none

react-markdown fix
  admin/query-usecases.tsx
Labels: none

disable email summary for now
  email-weekly-summary.ts.disabled
Labels: none

button link updates
  admin/tools/prebuild-og/page.tsx
  components/admin/templates/MobilePreviewWrapper.tsx
  components/admin/templates/PreviewExportButton.tsx
  components/admin/templates/SaveShareButtons.tsx
  components/admin/templates/TemplateVersionSaveBar.tsx
  components/admin/templates/VersionCompareDropdowns.tsx
  components/ui/calendar.tsx
  pages/admin/admin/templates-new.tsx
  pages/theme-preview/index.tsx
Labels: pages, ui

linting save point
  .gitignore
  admin/campaigns.tsx
  admin/drafts.tsx
  admin/jest.setup.js
  admin/lib/supabaseClient.ts
  components/admin/SmartLinkDebug.tsx
  components/admin/branding/LayoutExportButtons.tsx
  components/admin/templates/TemplateVersionDiff.tsx
  components/admin/useSmartLinkPersisted.ts
  hooks/useCampaignForm.ts
  hooks/useFlashToast.ts
  hooks/useLeads.ts
  hooks/useLiveDraftStats.ts
  hooks/useQueryFlash.ts
  hooks/useRedirectAfterLogin.ts
  init.js
  jest.config.mjs
  lib/loadLeads.ts
  lint-report.json
  lint-summary.md
  lint-summary.txt
  package-lock.json
  package.json
  pages/admin/profile.tsx
  pages/admin/start-campaign.tsx
  pages/api/badge/top.ts.disabled
  pages/public/security.tsx
  postcss.config.cjs
  scripts/lint-digest.ts
  scripts/lint-summary-markdown.ts
  scripts/run-lint-report.ts
  test/jest.setup.ts
  tests/__screenshots__/main/.last-run.json
  tsconfig.json
Labels: pages, scripts, tests, ui, docs

pre-supabase replacements
  app/api/admin/delete-branding/route.ts
  app/api/admin/delete-snapshot/route.ts
  app/api/campaign/route.ts
  app/api/sites/create/route.ts
  app/api/sites/save/route.ts
  app/api/supporters/route.ts
  app/api/update-campaign/route.ts
  app/api/update-profile/route.ts
  components/admin/context/current-user-provider.tsx
  components/checkin-map.tsx
  lib/supabase/client.ts
  lib/supabase/server.ts
  lib/supabase/service.ts
  lib/supabase/useSupabase.ts
  pages/admin/admin/branding/[id].tsx
  pages/admin/admin/logs.tsx
  pages/admin/launch.tsx
  pages/admin/zod-playground.tsx
  pages/checkin-map.tsx
Labels: pages, ui

build success
  .env.example
  admin/lib/db.js
  app/api/admin/campaign-data/route.ts
  app/api/block-qr/route.ts
  app/api/block-qr/save/route.ts
  app/api/checkin-map/route.ts
  app/api/checkins-trend/route.ts
  app/api/cheer/route.ts
  app/api/claim-campaign/route.ts
  app/api/claim-site/route.ts
  app/api/clone-block/route.ts
  app/api/create-block/route.ts
  app/api/create-campaign/route.ts
  app/api/delete-campaign/route.ts
  app/api/feedback-history/route.ts
  app/api/feedback-summary/route.ts
  app/api/me/route.ts
  app/api/reports/download/route.ts
  app/api/screenshot/route.ts
  fix-supabase.sh
  lib/db.ts
  lint-report.json
  pages/admin/admin/templates.query.patch.ts
  pages/admin/analytics.filtered.tsx
  pages/admin/api/admin/campaign-data/route.ts.bak
  pages/admin/api/me/nav.json
  pages/admin/sites/claims.tsx
  pages/admin/sites/edit/[id].tsx
  scripts/alert-suspicious-tokens.ts
  scripts/cleanup-expired-tokens.ts
  scripts/export-analytics.ts
  scripts/generate-security-report.ts
  scripts/generate-weekly-report.ts
  scripts/geo-alerts.ts
  scripts/notify-webhooks.ts
  scripts/upload-screenshot.ts
  scripts/workers/screenshot-worker.ts
Labels: pages, scripts, security

header shows up
  app/layout.tsx
  components/admin/AppHeader/app-header.tsx
  hooks/useCurrentUser.tsx
  pages/login.tsx
  public/logo.png
Labels: pages, ui

login flow troubleshooting save point
  .tsbuildinfo
  admin/__tests__/TemplateEditor.test.tsx
  admin/__tests__/TemplateFields.test.tsx
  admin/__tests__/TemplateHeader.test.tsx
  admin/__tests__/TemplateJsonEditor.test.tsx
  admin/__tests__/TemplateSaveBar.test.tsx
  admin/__tests__/useCurrentUser.test.ts
  admin/lib/supabaseClient.ts
  admin/lib/withAuth.tsx
  admin/tsconfig.json
  app/api/login/route.ts
  app/api/test-login/route.ts
  app/layout.tsx
  hooks/useFlashToast.ts
  hooks/useQueryFlash.ts
  hooks/useSetSessionFromHash.ts
  package-lock.json
  package.json
  pages/login.tsx
  postcss.config.js
  styles/globals.css
  tailwind.config.ts
  tsconfig.json
Labels: pages, ui

middleware role updates
  .env.example
  admin/__tests__/useCurrentUser.test.ts
  app/page.tsx
  lib/auth/verifyRoleFromJWT.ts
  lib/supabase/getServerUserProfile.ts
  middleware.ts
  package-lock.json
  package.json
  pages/login.tsx
Labels: pages

role updates
  app/admin/dashboard.tsx
  app/admin/domain/[slug].tsx
  app/admin/referrals.tsx
  app/admin/request-access.tsx
  app/admin/users.tsx
  app/admin/viewer.tsx
  app/api/delete-campaign/route.ts
  app/page.tsx
  components/admin/AppHeader/app-header.tsx
  components/admin/admin-tabs.tsx
  components/layout/Page.tsx
  hooks/useCanonicalRole.ts
  hooks/useCurrentRole.ts
  hooks/useResolvedRole.ts
  hooks/useRoleAccess.ts
  lib/auth/AuthContext.tsx
  lib/supabase/server.ts
  middleware.ts
Labels: ui

middleware improvements
  .env.example
  app/admin/referrals.tsx
  app/admin/request-access.tsx
  app/api/sites/save/route.ts
  app/api/update-campaign/route.ts
  app/api/update-profile/route.ts
  app/page.tsx
  hooks/useCanonicalRole.ts
  lib/supabase/universal.ts
  middleware.ts
Labels: none

remove headers
  app/page.tsx
  lib/supabase/universal.ts
  middleware.ts
  package-lock.json
  package.json
Labels: none

custom domain serve config
  app/_sites/[slug]/page.tsx
  app/api/me/route.ts
  app/api/sites/create/route.ts
  app/api/sites/save/route.ts
  app/api/update-campaign/route.ts
  app/api/update-profile/route.ts
  app/page.tsx
  components/admin/context/current-user-provider.tsx
  lib/api/middleware.ts
  lib/supabase/admin.ts
  lib/supabase/client.ts
  lib/supabase/server.ts
  middleware.ts
  next-seo.config.js
  types/supabase.ts
Labels: ui

node 20 downgrade
  admin/lib/supabaseClient.ts
  app/layout.tsx
  components/auth/RequireRole.tsx
  hooks/useIsAdmin.ts
  hooks/useZodPlaygroundState.ts
  lib/providers/SessionProvider.tsx
  lib/supabase/client.ts
  lib/supabase/createScopedClient.ts
  lib/supabase/lookupTenantBySlug.ts
  lib/supabase/middlewareClient.ts
  lib/supabase/server.ts
  lint-report.json
  lint-summary.md
  lint-summary.txt
  middleware.ts
  package-lock.json
  package.json
  styles/globals.css
  tailwind.config.ts
Labels: ui, docs

tailwind working on homepage
  admin/utils/logEvent.ts
  app/admin/analytics.exportable.tsx
  app/admin/analytics.supabase.tsx
  app/admin/tokens/logs.tsx
  app/admin/tokens/page.tsx
  app/layout.tsx
  app/login/page.tsx
  app/page.tsx
  components/admin/test-client-provider.tsx
  components/animated-home-wrapper.tsx
  components/animated-home.tsx
  components/layouts/unauthenticated-layout.tsx
  lib/providers/SessionProvider.tsx
  lib/supabase/client.ts
  lib/supabase/createScopedClient.ts
  lint-report.json
  lint-summary.md
  lint-summary.txt
  package-lock.json
  package.json
  pages/login.tsx
  postcss.config.js
  styles/debug.css
  styles/globals.css
  tailwind.config.ts
Labels: pages, ui, docs

cookies fixes
  app/admin/dashboard.tsx
  app/admin/people.tsx
  app/admin/referrals.tsx
  app/admin/users.tsx
  app/api/log-event/route.ts
  app/api/login/route.ts
  app/api/logout/route.ts
  app/api/me/route.ts
  app/layout.tsx
  app/login/page.tsx
  components/admin/auth-guard.tsx
  lib/supabase/createScopedClient.ts
  lib/supabase/getSessionContext.ts
  lib/supabase/lookupTenantBySlug.ts
  lib/supabase/middlewareClient.ts
  lib/supabase/universal.ts
  lint-report.json
  lint-summary.md
  lint-summary.txt
  middleware.ts
  package-lock.json
  package.json
  scripts/check-cookies-usage.ts
Labels: scripts, ui, docs

theme editor and devtools
  app/_sites/[slug]/page.tsx
  app/admin/theme-editor/page.tsx
  app/api/login/route.ts
  app/api/logout/route.ts
  app/api/me/route.ts
  app/api/og/[slug]/image/route.ts
  app/layout.tsx
  app/login/page.tsx
  app/page.tsx
  components/admin/AppHeader/app-header.tsx
  components/admin/AppHeader/avatar-menu.tsx
  components/admin/profile-dropdown.tsx
  components/background-glow.tsx
  components/dev-tools-widget.tsx
  components/glow-configurator.tsx
  components/template-renderer.tsx
  hooks/useCurrentUser.tsx
  hooks/useGlowTheme.tsx
  hooks/useMediaQuery.ts
  hooks/useThemeContext.tsx
  lib/supabase/getBaseContext.ts
  lib/supabase/getSessionContext.ts
  lib/supabase/getSupabaseContext.ts
  lint-report.json
  lint-summary.md
  lint-summary.txt
  middleware.ts
  styles/globals.css
  tailwind.config.ts
Labels: ui, docs

doggy
  app/page.tsx
  components/glow-configurator.tsx
  components/quick-sites-pup.tsx
  public/videos/pet-dog-2-small.mp4
Labels: ui

debug trace tools
  app/admin/traces/[traceId]/page.tsx
  app/api/ask-assistant.ts
  app/api/log-client-error/route.ts
  app/layout.tsx
  app/page.tsx
  components/admin/AppHeader/app-header.tsx
  components/admin/traces/filter-bar.tsx
  components/admin/traces/group-by-route.tsx
  components/admin/traces/trace-filter-controls.tsx
  components/admin/traces/trace-inspector.tsx
  components/assistant-widget.tsx
  components/dev/trace-viewer.tsx
  components/layout/Page.tsx
  components/puppy-widget.tsx
  components/quick-sites-widget.tsx
  hooks/useCurrentUser.tsx
  hooks/useErrorLogger.ts
  hooks/useSafeAuth.ts
  hooks/useTrack.ts
  lib/analytics/getTraceId.ts
  lib/analytics/logError.ts
  lib/analytics/logTrace.ts
  lib/analytics/trackEvent.ts
  lib/request/getRequestContext.ts
  lib/safeCookies.ts
  lib/safeHeaders.ts
  lib/safeQueryParam.ts
  lib/safeSessionStorage.ts
  lib/supabase/getBaseContext.ts
  lib/supabase/getServerUserProfile.ts
  lib/supabase/getSessionContext.ts
  lib/supabase/middlewareClient.ts
  middleware.ts
  package-lock.json
  package.json
  vercel.json
Labels: ui

cookies fixes
  app/api/login/route.ts
  app/api/logout/route.ts
  app/layout.tsx
  app/login/page.tsx
  components/dev-tools-widget/DevToolsPanel.tsx
  components/dev-tools-widget/index.tsx
  hooks/useMockGeolocation.ts
  lib/request/getMockLocation.ts
  lib/request/getRequestContext.ts
  lib/safeCookies.ts
  lib/safeHeaders.ts
  lib/utils/safeParse.ts
  middleware.ts
  types/location.ts
Labels: ui

deploy
  vercel.json
Labels: none

barrel vs .. fix
  pages/theme-preview/index.tsx
Labels: pages

tooltip path fix
  components/admin/smart-link-gallery.tsx
Labels: ui

auth works
  app/actions/setSessionCookie.ts
  app/admin/dashboard/page.tsx
  app/api/login/route.ts
  app/api/session-log/route.ts
  app/api/session/route.ts
  app/auth/callback/page.tsx
  app/layout.tsx
  app/login/LoginForm.tsx
  app/login/login-client.tsx
  app/login/page.tsx
  components/admin/AppHeader/app-header.tsx
  components/admin/responsive-admin-layout.tsx
  components/admin/smart-link-gallery.tsx
  components/assistant-widget.tsx
  components/dev-tools-widget/DevToolsPanel.tsx
  components/dev-tools-widget/MockGeolocationEditor.tsx
  components/dev-tools-widget/MockUserEditor.tsx
  components/dev-tools-widget/SectionToggle.tsx
  components/dev-tools-widget/TopMetadataSummary.tsx
  components/dev-tools-widget/index.tsx
  components/layout/Page.tsx
  components/layout/admin-layout.tsx
  components/layout/default-public-layout.tsx
  lib/cookies/getSafeCookie.ts
  lib/request/getRequestContext.ts
  lib/safeCookies.ts
  lib/safeCookiesSync.ts
  lib/supabase.ts
  lib/supabase/client.ts
  lib/supabase/createClientWithContext.ts
  lib/supabase/getRoleRedirectTarget.ts
  lib/supabase/middlewareClient.ts
  lib/supabase/universal.ts
  lib/utils/getReadableCookieStore.ts
  lib/utils/getWritableCookieStore.ts
  lib/utils/location.ts
  middleware.ts
  pages/theme-preview/index.tsx
Labels: pages, ui

admin sidebar
  app/admin/admin/dashboard.tsx
  app/admin/campaigns.tsx
  app/admin/dashboard/page.tsx
  app/admin/layout.tsx
  app/admin/leads/page.tsx
  app/admin/start-campaign.tsx
  app/layout.tsx
  app/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/AppHeader/app-header.tsx
  components/admin/AppHeader/mobile-drawer.tsx
  components/admin/admin-layout.tsx
  components/layout/Page.tsx
  components/layout/admin-layout.tsx
  components/layout/default-public-layout.tsx
  components/layouts/admin-layout.tsx
  components/layouts/unauthenticated-layout.tsx
  components/layouts/viewer-layout.tsx
  lib/roles/layoutForRole.ts
  package-lock.json
  package.json
Labels: ui

disabling Adminlayout
  app/admin/campaigns.tsx
  app/admin/sites/page.tsx
  app/admin/start-campaign.tsx
  next-env.d.ts
Labels: none

admin campaign card path fix
  admin/guest-tokens/CampaignFunnelTable.tsx
Labels: none

admin campaign card path fix2
  admin/guest-tokens/CampaignFunnelTable.tsx
Labels: none

admin pages temp disabling
  _pages-legacy/theme-preview/index.tsx
  app/admin/admin/dashboard.tsx
  components/admin/admin/campaign-comparison.tsx
  components/admin/template-browser.tsx
Labels: ui

admin pages temp disabling2
  app/admin/admin/dashboard.tsx
Labels: none

path fixes2
  _pages-legacy/theme-preview/index.tsx
  components/admin/grouped-nav.tsx
  components/ui/Form.tsx
  components/ui/index.ts
  package-lock.json
  package.json
  tsconfig.json
Labels: ui

profile page fix
  app/profile/page.tsx
Labels: none

import fix
  components/ui/Breadcrumbs.tsx
  components/ui/index.ts
Labels: ui

import fixes
  _pages-legacy/theme-preview/index.tsx
  admin/guest-tokens/CampaignFunnelTable.tsx
  admin/guest-tokens/page.tsx
  app/admin/admin/dashboard.tsx
  app/admin/admin/templates-new.tsx
  app/admin/admin/templates.tsx
  app/admin/admin/templates/[name]/publish.tsx
  app/admin/admin/views.tsx
  app/admin/analytics.exportable.tsx
  app/admin/analytics.supabase.tsx
  app/admin/analytics.tsx
  components/admin/admin/campaign-comparison.tsx
  components/admin/comment-thread.tsx
  components/admin/query-param-editor.tsx
  components/admin/template-browser.tsx
  components/admin/templates/block-editor.tsx
  components/admin/templates/block-sidebar.tsx
  components/admin/templates/template-editor.branding.tsx
  components/admin/templates/template-fields.tsx
  components/admin/templates/template-settings-panel.tsx
  components/admin/templates/template-version-save-bar.tsx
  components/profile-form.tsx
  components/ui/index.ts
  lib/admin/templates.tsx
Labels: ui

theme-preview Card fix
  _pages-legacy/theme-preview/index.tsx
  components/ui/Card.tsx
  components/ui/index.ts
Labels: ui

fix: rename Card.tsx → card.tsx for case-sensitive Vercel build
  components/ui/card.tsx
Labels: ui

fix: rename Modal.tsx → modal.tsx for case-sensitive Vercel build
  components/ui/modal.tsx
Labels: ui

heatmap import disable
  components/admin/layout-editor.tsx
  components/analytics/Heatmap.tsx
Labels: ui
