Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'

fix(security): verify Twilio webhook + close email-relay / rate-limit public forms (#117)
  app/api/claim-site/route.ts
  app/api/claim/lead/route.ts
  app/api/contact/route.ts
  app/api/notify-creator/route.ts
  app/api/resend-welcome-email/route.ts
  app/api/send-contact-email/route.ts
  app/api/send-lead-email/route.ts
  app/api/sites/create/route.ts
  app/api/twilio-callback/route.ts
  lib/api/rateLimitGuard.ts
Labels: none

fix(security): RLS Phase 3b — scope browser-written tables (domains/logs/layouts/remix)
  supabase/migrations/20260702_rls_phase3b_browser_tables.sql
Labels: none

fix(security): RLS Phase 3b — scope browser-written tables (domains/logs/layouts/remix) (#118)
  supabase/migrations/20260702_rls_phase3b_browser_tables.sql
Labels: none

fix(security): add sites.owner_id + owner-scoped RLS (closes the last anon-writable table)
  app/api/site/[id]/route.ts
  app/api/sites/create/route.ts
  app/api/sites/save/route.ts
  supabase/migrations/20260702_sites_owner_column_rls.sql
Labels: none

fix(security): add sites.owner_id + owner-scoped RLS (closes the last anon-writable table) (#119)
  app/api/site/[id]/route.ts
  app/api/sites/create/route.ts
  app/api/sites/save/route.ts
  supabase/migrations/20260702_sites_owner_column_rls.sql
Labels: none

fix(auth): guard handle_new_user_roles against null email (anon sign-ups)
  supabase/migrations/20260703_anon_signup_user_roles_guard.sql
Labels: none

fix(auth): guard handle_new_user_roles against null email (anon sign-ups) (#120)
  supabase/migrations/20260703_anon_signup_user_roles_guard.sql
Labels: none

fix(guest-build): seed the industry scaffold on guest site creation
  components/home/guest-start.tsx
Labels: ui

fix(guest-build): seed the industry scaffold on guest site creation (#121)
  components/home/guest-start.tsx
Labels: ui

fix(ai-image): stop hero/favicon/icon image generation timing out (500)
  app/api/favicon/generate/route.ts
  app/api/hero/generate-image/route.ts
  app/api/icon/generate/route.ts
Labels: none

fix(ai-image): stop hero/favicon/icon image generation timing out (500) (#122)
  app/api/favicon/generate/route.ts
  app/api/hero/generate-image/route.ts
  app/api/icon/generate/route.ts
Labels: none

feat(home): make the guest-build hero form stand out as a card
  components/home/guest-start.tsx
Labels: ui

feat(home): make the guest-build hero form stand out as a card (#123)
  components/home/guest-start.tsx
Labels: ui

feat(home): color-scheme playground + 2x guest build card
  components/home/guest-start.tsx
  components/home/home-client.tsx
  components/home/home-color-lab.tsx
Labels: ui

feat(home): color-scheme playground + 2x guest build card (#124)
  components/home/guest-start.tsx
  components/home/home-client.tsx
  components/home/home-color-lab.tsx
Labels: ui

docs: refresh CLAUDE.md + ARCHITECTURE for the 2026-07 security/guest-build work
  CLAUDE.md
  docs/ARCHITECTURE.md
Labels: docs

docs: refresh CLAUDE.md + ARCHITECTURE for the 2026-07 security/guest-build work (#125)
  CLAUDE.md
  docs/ARCHITECTURE.md
Labels: docs

fix(ux): debounce "Other industry" input + surface color lab for anon users
  components/admin/templates/block-editors/hero-editor.tsx
  components/home/home-client.tsx
  components/home/home-color-lab.tsx
Labels: ui

fix(ux): debounce "Other industry" input + surface color lab for anon users (#126)
  components/admin/templates/block-editors/hero-editor.tsx
  components/home/home-client.tsx
  components/home/home-color-lab.tsx
Labels: ui

feat(guest): auto-run "Suggest All" + "Generate" on new homepage sites
  app/admin/templates/[[...slug]]/page.tsx
  app/api/templates/[id]/autogenerate/route.ts
  components/admin/templates/autogen-runner.tsx
  components/home/guest-start.tsx
  lib/builder/autogenerateForTemplate.ts
  lib/builder/generateDemoSite.ts
Labels: ui

feat(guest): auto-run "Suggest All" + "Generate" on new homepage sites (#127)
  app/admin/templates/[[...slug]]/page.tsx
  app/api/templates/[id]/autogenerate/route.ts
  components/admin/templates/autogen-runner.tsx
  components/home/guest-start.tsx
  lib/builder/autogenerateForTemplate.ts
  lib/builder/generateDemoSite.ts
Labels: ui

fix(guest): Preview 404 for draft templates + hero shimmer during autogen
  app/preview/[[...rest]]/page.tsx
  components/admin/templates/autogen-runner.tsx
  components/admin/templates/render-blocks/hero.tsx
  styles/globals.css
Labels: ui

fix(guest): Preview 404 for draft templates + hero shimmer during autogen (#128)
  app/preview/[[...rest]]/page.tsx
  components/admin/templates/autogen-runner.tsx
  components/admin/templates/render-blocks/hero.tsx
  styles/globals.css
Labels: ui

fix(guest): reliable hero image on autogen + DB-driven preview watermark
  app/preview/[[...rest]]/page.tsx
  components/admin/guest-publish-banner.tsx
  lib/builder/autogenerateForTemplate.ts
Labels: ui

fix(guest): reliable hero image on autogen + DB-driven preview watermark (#129)
  app/preview/[[...rest]]/page.tsx
  components/admin/guest-publish-banner.tsx
  lib/builder/autogenerateForTemplate.ts
Labels: ui

feat(guest): infer industry from business name when not selected
  lib/builder/autogenerateForTemplate.ts
Labels: none

feat(guest): infer industry from business name when not selected (#130)
  lib/builder/autogenerateForTemplate.ts
Labels: none

feat(guest): infer industry at site-creation time (no chooser flash)
  app/api/templates/create/route.ts
  lib/builder/autogenerateForTemplate.ts
  lib/builder/inferIndustry.ts
Labels: none

feat(guest): infer industry at site-creation time (no chooser flash) (#131)
  app/api/templates/create/route.ts
  lib/builder/autogenerateForTemplate.ts
  lib/builder/inferIndustry.ts
Labels: none

fix(guest): stop duplicate autogenerate runs + free up the manual AI cap
  app/api/templates/[id]/autogenerate/route.ts
  components/admin/templates/autogen-runner.tsx
  lib/builder/autogenerateForTemplate.ts
Labels: ui

fix(guest): stop duplicate autogenerate runs + free up the manual AI cap (#132)
  app/api/templates/[id]/autogenerate/route.ts
  components/admin/templates/autogen-runner.tsx
  lib/builder/autogenerateForTemplate.ts
Labels: ui

fix(guest): hide the editor's top action bar for guests
  components/admin/templates/template-editor-toolbar.tsx
  styles/globals.css
Labels: ui

fix(guest): hide the editor's top action bar for guests (#133)
  components/admin/templates/template-editor-toolbar.tsx
  styles/globals.css
Labels: ui

fix(guest): show autogen result — hard reload instead of router.refresh
  components/admin/templates/autogen-runner.tsx
Labels: ui

fix(guest): show autogen result — hard reload instead of router.refresh (#134)
  components/admin/templates/autogen-runner.tsx
Labels: ui

fix(guest): render the autogenerated hero in the editor (write props + content)
  components/admin/templates/autogen-runner.tsx
  lib/builder/autogenerateForTemplate.ts
Labels: ui

fix(guest): render the autogenerated hero in the editor (write props + content) (#135)
  components/admin/templates/autogen-runner.tsx
  lib/builder/autogenerateForTemplate.ts
Labels: ui

feat(guest): generate copy + hero image at creation (reliable editor render)
  app/api/templates/create/route.ts
  components/home/guest-start.tsx
Labels: ui

feat(guest): generate copy + hero image at creation (reliable editor render) (#136)
  app/api/templates/create/route.ts
  components/home/guest-start.tsx
Labels: ui

fix(guest): sync content_blocks so the editor shows the autogenerated hero
  lib/builder/autogenerateForTemplate.ts
Labels: none
