Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'

feat(rebuild): import non-Shopify stores via schema.org Product JSON-LD
  app/api/rebuild/route.ts
  lib/rebuild/__tests__/importJsonLd.test.ts
  lib/rebuild/importJsonLd.ts
  lib/rebuild/scrapeSite.ts
Labels: none

feat(rebuild): import non-Shopify stores via schema.org Product JSON-LD (#199)
  app/api/rebuild/route.ts
  lib/rebuild/__tests__/importJsonLd.test.ts
  lib/rebuild/importJsonLd.ts
  lib/rebuild/scrapeSite.ts
Labels: none

feat(commerce): per-product weight-based shipping for physical goods
  lib/commerce/__tests__/fees.test.ts
  lib/commerce/fees.ts
  lib/commerce/orders.ts
  lib/commerce/shopifyCatalog.ts
  lib/rebuild/__tests__/importShopify.test.ts
  lib/rebuild/importShopify.ts
Labels: none

feat(commerce): per-product weight-based shipping for physical goods (#200)
  lib/commerce/__tests__/fees.test.ts
  lib/commerce/fees.ts
  lib/commerce/orders.ts
  lib/commerce/shopifyCatalog.ts
  lib/rebuild/__tests__/importShopify.test.ts
  lib/rebuild/importShopify.ts
Labels: none

feat(rebuild): story sections block — alternating image+text brand storytelling
  admin/lib/zod/blockSchema.ts
  app/api/rebuild/route.ts
  components/admin/templates/render-blocks/__tests__/story.test.tsx
  components/admin/templates/render-blocks/story.tsx
  lib/blocks/defaultBlockContent.ts
  lib/createDefaultBlock.ts
  lib/rebuild/__tests__/assembleDraft.test.ts
  lib/rebuild/__tests__/parseMenu.test.ts
  lib/rebuild/assembleDraft.ts
  lib/rebuild/inferSiteSpec.ts
  lib/renderBlockRegistry.ts
  types/blocks.ts
Labels: ui

feat(rebuild): story sections block — alternating image+text brand storytelling (#201)
  admin/lib/zod/blockSchema.ts
  app/api/rebuild/route.ts
  components/admin/templates/render-blocks/__tests__/story.test.tsx
  components/admin/templates/render-blocks/story.tsx
  lib/blocks/defaultBlockContent.ts
  lib/createDefaultBlock.ts
  lib/rebuild/__tests__/assembleDraft.test.ts
  lib/rebuild/__tests__/parseMenu.test.ts
  lib/rebuild/assembleDraft.ts
  lib/rebuild/inferSiteSpec.ts
  lib/renderBlockRegistry.ts
  types/blocks.ts
Labels: ui

feat(commerce): sale-price display + a visual editor for the story block
  app/api/public/products/route.ts
  app/p/[slug]/__tests__/product-detail.test.tsx
  app/p/[slug]/page.tsx
  app/p/[slug]/product-detail.tsx
  components/admin/templates/block-editors/__tests__/story-editor.test.tsx
  components/admin/templates/block-editors/index.ts
  components/admin/templates/block-editors/story-editor.tsx
  components/admin/templates/render-blocks/products-grid.tsx
  lib/commerce/shopifyCatalog.ts
Labels: ui

feat(commerce): sale-price display + a visual editor for the story block (#202)
  app/api/public/products/route.ts
  app/p/[slug]/__tests__/product-detail.test.tsx
  app/p/[slug]/page.tsx
  app/p/[slug]/product-detail.tsx
  components/admin/templates/block-editors/__tests__/story-editor.test.tsx
  components/admin/templates/block-editors/index.ts
  components/admin/templates/block-editors/story-editor.tsx
  components/admin/templates/render-blocks/products-grid.tsx
  lib/commerce/shopifyCatalog.ts
Labels: ui

feat(preview): obvious light/dark toggle on preview surfaces
  app/preview/PreviewState.tsx
  app/preview/__tests__/PreviewState.test.tsx
  components/admin/templates/template-action-toolbar/TemplateActionToolbar.tsx
Labels: ui

feat(preview): obvious light/dark toggle on preview surfaces (#203)
  app/preview/PreviewState.tsx
  app/preview/__tests__/PreviewState.test.tsx
  components/admin/templates/template-action-toolbar/TemplateActionToolbar.tsx
Labels: ui

feat(preview): persist the standalone light/dark toggle for owners
  app/preview/PreviewState.tsx
  app/preview/[[...rest]]/page.tsx
  app/preview/__tests__/PreviewState.test.tsx
Labels: none

feat(preview): persist the standalone light/dark toggle for owners (#204)
  app/preview/PreviewState.tsx
  app/preview/[[...rest]]/page.tsx
  app/preview/__tests__/PreviewState.test.tsx
Labels: none

docs: inventory + CRM plans (next-items planning)
  CLAUDE.md
  docs/CRM_PLAN.md
  docs/INVENTORY_PLAN.md
Labels: docs

docs: inventory + CRM plans (next-items planning) (#205)
  CLAUDE.md
  docs/CRM_PLAN.md
  docs/INVENTORY_PLAN.md
Labels: docs

fix(inventory): unify admin stock onto the enforced metadata.stock field
  app/api/admin/products/route.ts
  lib/commerce/__tests__/inventory.test.ts
  lib/commerce/inventory.ts
  supabase/migrations/20260707_backfill_catalog_stock_from_qty_available.sql
Labels: none

fix(inventory): unify admin stock onto the enforced metadata.stock field (#206)
  app/api/admin/products/route.ts
  lib/commerce/__tests__/inventory.test.ts
  lib/commerce/inventory.ts
  supabase/migrations/20260707_backfill_catalog_stock_from_qty_available.sql
Labels: none

feat(inventory): persist SKU + barcode (variant and plain item)
  app/api/catalog/items/[id]/route.ts
  app/api/catalog/items/route.ts
  components/merchant/CreateItemDrawer.tsx
  components/merchant/EditItemDrawer.tsx
  components/merchant/VariantsEditor.tsx
  lib/commerce/__tests__/variants.test.ts
  lib/commerce/shopifyCatalog.ts
  lib/commerce/variants.ts
  lib/rebuild/__tests__/importShopify.test.ts
  lib/rebuild/importShopify.ts
Labels: ui

feat(inventory): persist SKU + barcode (variant and plain item) (#207)
  app/api/catalog/items/[id]/route.ts
  app/api/catalog/items/route.ts
  components/merchant/CreateItemDrawer.tsx
  components/merchant/EditItemDrawer.tsx
  components/merchant/VariantsEditor.tsx
  lib/commerce/__tests__/variants.test.ts
  lib/commerce/shopifyCatalog.ts
  lib/commerce/variants.ts
  lib/rebuild/__tests__/importShopify.test.ts
  lib/rebuild/importShopify.ts
Labels: ui

feat(rebuild): converted sites match the source site's light/dark scheme
  app/api/rebuild/route.ts
  lib/rebuild/__tests__/assembleDraft.test.ts
  lib/rebuild/__tests__/scrapeSite.test.ts
  lib/rebuild/assembleDraft.ts
  lib/rebuild/scrapeSite.ts
Labels: none

feat(rebuild): converted sites match the source site's light/dark scheme (#208)
  app/api/rebuild/route.ts
  lib/rebuild/__tests__/assembleDraft.test.ts
  lib/rebuild/__tests__/scrapeSite.test.ts
  lib/rebuild/assembleDraft.ts
  lib/rebuild/scrapeSite.ts
Labels: none

feat(inventory): restock on refund (opt-in QS_RESTOCK_ON_REFUND)
  app/api/admin/refunds/[refundId]/route.ts
  lib/commerce/orders.ts
  supabase/migrations/20260707_atomic_stock_increment.sql
Labels: none

feat(inventory): restock on refund (opt-in QS_RESTOCK_ON_REFUND) (#209)
  app/api/admin/refunds/[refundId]/route.ts
  lib/commerce/orders.ts
  supabase/migrations/20260707_atomic_stock_increment.sql
Labels: none

feat(inventory): track-quantity + continue-selling (backorder) policy
  app/api/catalog/items/[id]/route.ts
  app/api/catalog/items/route.ts
  components/merchant/CreateItemDrawer.tsx
  components/merchant/EditItemDrawer.tsx
  lib/commerce/__tests__/checkoutItems.test.ts
  lib/commerce/__tests__/inventory.test.ts
  lib/commerce/checkoutItems.ts
  lib/commerce/inventory.ts
  supabase/migrations/20260707_stock_decrement_backorder.sql
Labels: ui

feat(inventory): track-quantity + continue-selling (backorder) policy (#210)
  app/api/catalog/items/[id]/route.ts
  app/api/catalog/items/route.ts
  components/merchant/CreateItemDrawer.tsx
  components/merchant/EditItemDrawer.tsx
  lib/commerce/__tests__/checkoutItems.test.ts
  lib/commerce/__tests__/inventory.test.ts
  lib/commerce/checkoutItems.ts
  lib/commerce/inventory.ts
  supabase/migrations/20260707_stock_decrement_backorder.sql
Labels: ui

feat(inventory): adjustments ledger + manual adjust/receive endpoint
  app/api/catalog/items/[id]/adjust/route.ts
  lib/commerce/__tests__/inventoryLedger.test.ts
  lib/commerce/inventoryLedger.ts
  lib/commerce/orders.ts
  supabase/migrations/20260707_inventory_adjustments.sql
Labels: none

feat(inventory): adjustments ledger + manual adjust/receive endpoint (#211)
  app/api/catalog/items/[id]/adjust/route.ts
  lib/commerce/__tests__/inventoryLedger.test.ts
  lib/commerce/inventoryLedger.ts
  lib/commerce/orders.ts
  supabase/migrations/20260707_inventory_adjustments.sql
Labels: none

feat(rebuild): capture original vs AI copy at conversion (v0/v1 foundation)
  lib/rebuild/__tests__/assembleDraft.test.ts
  lib/rebuild/__tests__/parseMenu.test.ts
  lib/rebuild/assembleDraft.ts
  lib/rebuild/inferSiteSpec.ts
Labels: none

feat(rebuild): capture original vs AI copy at conversion (v0/v1 foundation) (#212)
  lib/rebuild/__tests__/assembleDraft.test.ts
  lib/rebuild/__tests__/parseMenu.test.ts
  lib/rebuild/assembleDraft.ts
  lib/rebuild/inferSiteSpec.ts
Labels: none

feat(editor): per-block "revert to original copy" on the hero
  components/admin/templates/block-editors/hero-editor.tsx
Labels: ui

feat(editor): per-block "revert to original copy" on the hero (#213)
  components/admin/templates/block-editors/hero-editor.tsx
Labels: ui

feat(editor): per-block "revert to original copy" on the FAQ block
  components/admin/templates/block-editors/faq-editor.tsx
Labels: ui

feat(editor): per-block "revert to original copy" on the FAQ block (#214)
  components/admin/templates/block-editors/faq-editor.tsx
Labels: ui

feat(inventory): /merchant/inventory management screen
  app/merchant/inventory/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  components/merchant/InventoryListClient.tsx
  lib/commerce/__tests__/inventorySummary.test.ts
  lib/commerce/inventorySummary.ts
Labels: ui

feat(inventory): /merchant/inventory management screen (#215)
  app/merchant/inventory/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  components/merchant/InventoryListClient.tsx
  lib/commerce/__tests__/inventorySummary.test.ts
  lib/commerce/inventorySummary.ts
Labels: ui

feat(inventory): daily low-stock email alerts (opt-in)
  app/api/cron/low-stock-alert/route.ts
  lib/commerce/__tests__/inventorySummary.test.ts
  lib/commerce/inventorySummary.ts
  vercel.json
Labels: none

feat(inventory): daily low-stock email alerts (opt-in) (#216)
  app/api/cron/low-stock-alert/route.ts
  lib/commerce/__tests__/inventorySummary.test.ts
  lib/commerce/inventorySummary.ts
  vercel.json
Labels: none

feat(rebuild): pre-pick site type + industry on conversion; debounce mobile "Other"
  components/admin/templates/block-editors/hero-editor.tsx
  lib/rebuild/__tests__/assembleDraft.test.ts
  lib/rebuild/assembleDraft.ts
Labels: ui

feat(rebuild): pre-pick site type + industry on conversion; debounce mobile "Other" (#217)
  components/admin/templates/block-editors/hero-editor.tsx
  lib/rebuild/__tests__/assembleDraft.test.ts
  lib/rebuild/assembleDraft.ts
Labels: ui

feat(inventory): per-item adjustment history view
  app/api/catalog/items/[id]/history/route.ts
  components/merchant/InventoryListClient.tsx
Labels: ui

feat(inventory): per-item adjustment history view (#218)
  app/api/catalog/items/[id]/history/route.ts
  components/merchant/InventoryListClient.tsx
Labels: ui
