Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

feat(commerce): per-variant images (#97)
  app/p/[slug]/add-to-cart.tsx
  app/p/[slug]/page.tsx
  app/p/[slug]/product-detail.tsx
  components/merchant/VariantsEditor.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/variants.test.ts
  lib/commerce/checkoutItems.ts
  lib/commerce/variants.ts
Labels: ui

fix(commerce): atomic, row-locked inventory decrement (no oversell race)
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/inventory.test.ts
  lib/commerce/inventory.ts
  lib/commerce/orders.ts
  supabase/migrations/20260702_atomic_stock_decrement.sql
Labels: none

fix(commerce): atomic, row-locked inventory decrement (no oversell race) (#98)
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/__tests__/inventory.test.ts
  lib/commerce/inventory.ts
  lib/commerce/orders.ts
  supabase/migrations/20260702_atomic_stock_decrement.sql
Labels: none

feat(commerce): surface oversold orders to the merchant
  app/merchant/orders/page.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/orders.ts
  supabase/migrations/20260702_orders_oversold_lines.sql
Labels: none

feat(commerce): surface oversold orders to the merchant (#99)
  app/merchant/orders/page.tsx
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/orders.ts
  supabase/migrations/20260702_orders_oversold_lines.sql
Labels: none

feat(commerce): image uploads for catalog items + variants
  app/api/catalog/items/[id]/route.ts
  app/api/catalog/items/route.ts
  components/merchant/CreateItemDrawer.tsx
  components/merchant/EditItemDrawer.tsx
  components/merchant/ImageUploadField.tsx
  components/merchant/VariantsEditor.tsx
  docs/COMPETITIVE_LANDSCAPE.md
Labels: ui

feat(commerce): image uploads for catalog items + variants (#100)
  app/api/catalog/items/[id]/route.ts
  app/api/catalog/items/route.ts
  components/merchant/CreateItemDrawer.tsx
  components/merchant/EditItemDrawer.tsx
  components/merchant/ImageUploadField.tsx
  components/merchant/VariantsEditor.tsx
  docs/COMPETITIVE_LANDSCAPE.md
Labels: ui

feat(commerce): reserve-then-confirm inventory at checkout
  app/api/commerce/checkout/route.ts
  app/api/cron/release-stock-reservations/route.ts
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/orders.ts
  supabase/migrations/20260702_stock_reservations.sql
  vercel.json
Labels: none

feat(commerce): reserve-then-confirm inventory at checkout (#101)
  app/api/commerce/checkout/route.ts
  app/api/cron/release-stock-reservations/route.ts
  docs/COMPETITIVE_LANDSCAPE.md
  lib/commerce/orders.ts
  supabase/migrations/20260702_stock_reservations.sql
  vercel.json
Labels: none

feat(guest): enable unauthenticated draft builds + harden AI cost abuse
  .env.example
  CLAUDE.md
  app/api/ai/suggest/route.ts
  app/api/ask-assistant/route.ts
  app/api/cron/ai-cost-alert/route.ts
  app/api/generate-testimonial/route.ts
  app/api/templates/create/route.ts
  app/api/templates/duplicate/route.ts
  lib/__tests__/rateLimit.test.ts
  lib/ai/meter.ts
  lib/flags/guestBuild.ts
  lib/home/getShowcaseData.ts
  lib/rateLimit.ts
  supabase/migrations/20260702_ai_spend_report.sql
  supabase/migrations/20260702_anonymous_user_ids.sql
  vercel.json
Labels: docs

feat(guest): enable unauthenticated draft builds + harden AI cost abuse (#102)
  .env.example
  CLAUDE.md
  app/api/ai/suggest/route.ts
  app/api/ask-assistant/route.ts
  app/api/cron/ai-cost-alert/route.ts
  app/api/generate-testimonial/route.ts
  app/api/templates/create/route.ts
  app/api/templates/duplicate/route.ts
  lib/__tests__/rateLimit.test.ts
  lib/ai/meter.ts
  lib/flags/guestBuild.ts
  lib/home/getShowcaseData.ts
  lib/rateLimit.ts
  supabase/migrations/20260702_ai_spend_report.sql
  supabase/migrations/20260702_anonymous_user_ids.sql
  vercel.json
Labels: docs

fix(security): RLS-lock the abuse-counter / metering / ledger tables
  supabase/migrations/20260702_lock_abuse_counter_tables.sql
Labels: none

fix(security): RLS-lock the abuse-counter / metering / ledger tables (#103)
  supabase/migrations/20260702_lock_abuse_counter_tables.sql
Labels: none

fix(security): close admin privilege-escalation via user_profiles.role (Phase 1)
  supabase/migrations/20260702_fix_admin_escalation.sql
Labels: none

fix(security): close admin privilege-escalation via user_profiles.role (Phase 1) (#104)
  supabase/migrations/20260702_fix_admin_escalation.sql
Labels: none

fix(security): auth-gate the unprotected admin mutating routes (Phase 2a)
  app/api/admin/candidate/plan/route.ts
  app/api/admin/candidate/save/route.ts
  app/api/admin/refunds/[refundId]/route.ts
  app/api/admin/seed-template/route.ts
  app/api/admin/sites/publish/route.ts
  app/api/admin/sites/restore/route.ts
  app/api/admin/snapshots/create/route.ts
  lib/auth/requireUser.ts
Labels: none

fix(security): auth-gate the unprotected admin mutating routes (Phase 2a) (#105)
  app/api/admin/candidate/plan/route.ts
  app/api/admin/candidate/save/route.ts
  app/api/admin/refunds/[refundId]/route.ts
  app/api/admin/seed-template/route.ts
  app/api/admin/sites/publish/route.ts
  app/api/admin/sites/restore/route.ts
  app/api/admin/snapshots/create/route.ts
  lib/auth/requireUser.ts
Labels: none

fix(security): auth-gate owner-scoped content routes (Phase 2b)
  app/api/campaigns/create/route.ts
  app/api/campaigns/update/route.ts
  app/api/templates/commit/route.ts
Labels: none

fix(security): auth-gate owner-scoped content routes (Phase 2b) (#106)
  app/api/campaigns/create/route.ts
  app/api/campaigns/update/route.ts
  app/api/templates/commit/route.ts
Labels: none

fix(security): RLS deny-default on service-role-only sensitive tables (Phase 3a)
  supabase/migrations/20260702_rls_lock_money_tables.sql
Labels: none

fix(security): RLS deny-default on service-role-only sensitive tables (Phase 3a) (#107)
  supabase/migrations/20260702_rls_lock_money_tables.sql
Labels: none

fix(security): replace features `true` write policies with platform-admin (Phase 3b)
  supabase/migrations/20260702_features_admin_write.sql
Labels: none

fix(security): replace features `true` write policies with platform-admin (Phase 3b) (#108)
  supabase/migrations/20260702_features_admin_write.sql
Labels: none

fix(security): auth-gate remaining open admin routes (triage Tier A)
  app/api/admin/invite/route.ts
  app/api/admin/org/[id]/primary-domain/route.ts
  app/api/admin/org/upload/route.ts
  app/api/admin/products/route.ts
  app/api/admin/products/suggest/route.ts
  app/api/admin/resubmit-site/route.ts
  app/api/admin/run-next-job/route.ts
  app/api/admin/templates/rename-base/route.ts
  app/api/admin/upload-template-image/route.ts
Labels: none

fix(security): auth-gate remaining open admin routes (triage Tier A) (#109)
  app/api/admin/invite/route.ts
  app/api/admin/org/[id]/primary-domain/route.ts
  app/api/admin/org/upload/route.ts
  app/api/admin/products/route.ts
  app/api/admin/products/suggest/route.ts
  app/api/admin/resubmit-site/route.ts
  app/api/admin/run-next-job/route.ts
  app/api/admin/templates/rename-base/route.ts
  app/api/admin/upload-template-image/route.ts
Labels: none

fix(security): admin-gate dev-seed + admin-trigger routes (triage Tier D)
  app/api/dev/seed/reset/route.ts
  app/api/dev/seed/route.ts
  app/api/dev/seed/stream/route.ts
  app/api/og/rebuild-all/route.ts
  app/api/send-weekly-digest/route.ts
Labels: none

fix(security): admin-gate dev-seed + admin-trigger routes (triage Tier D) (#110)
  app/api/dev/seed/reset/route.ts
  app/api/dev/seed/route.ts
  app/api/dev/seed/stream/route.ts
  app/api/og/rebuild-all/route.ts
  app/api/send-weekly-digest/route.ts
Labels: none

fix(security): owner-gate the template mutation routes (Tier B — Templates)
  app/api/templates/[id]/custom-domain/route.ts
  app/api/templates/[id]/edit/route.ts
  app/api/templates/[id]/services/route.ts
  app/api/templates/[id]/slug/route.ts
  app/api/templates/[id]/snapshots/route.ts
  app/api/templates/archive/route.ts
  app/api/templates/revalidate/route.ts
  app/api/templates/seed/route.ts
Labels: none

fix(security): owner-gate the template mutation routes (Tier B — Templates) (#111)
  app/api/templates/[id]/custom-domain/route.ts
  app/api/templates/[id]/edit/route.ts
  app/api/templates/[id]/services/route.ts
  app/api/templates/[id]/slug/route.ts
  app/api/templates/[id]/snapshots/route.ts
  app/api/templates/archive/route.ts
  app/api/templates/revalidate/route.ts
  app/api/templates/seed/route.ts
Labels: none

fix(security): owner-gate merchant / connect / org routes (Tier B)
  app/api/connect/login-link/route.ts
  app/api/connect/onboard/route.ts
  app/api/merchant/payment-accounts/route.ts
  app/api/org/billing/route.ts
  app/api/org/create-demo/route.ts
  app/api/orgs/[slug]/portfolio/upsert/route.ts
  app/api/referrals/create-code/route.ts
  lib/auth/requireUser.ts
Labels: none

fix(security): owner-gate merchant / connect / org routes (Tier B) (#112)
  app/api/connect/login-link/route.ts
  app/api/connect/onboard/route.ts
  app/api/merchant/payment-accounts/route.ts
  app/api/org/billing/route.ts
  app/api/org/create-demo/route.ts
  app/api/orgs/[slug]/portfolio/upsert/route.ts
  app/api/referrals/create-code/route.ts
  lib/auth/requireUser.ts
Labels: none

fix(security): unauthenticated arbitrary file read via /api/reports/download
  app/api/reports/download/route.ts
  supabase/migrations/20260702_rls_report_tokens.sql
Labels: none

fix(security): unauthenticated arbitrary file read via /api/reports/download (#113)
  app/api/reports/download/route.ts
  supabase/migrations/20260702_rls_report_tokens.sql
Labels: none

fix(security): RLS-lock site_merchants (anon merchant→site injection)
  supabase/migrations/20260702_rls_site_merchants.sql
Labels: none

fix(security): RLS-lock site_merchants (anon merchant→site injection) (#114)
  supabase/migrations/20260702_rls_site_merchants.sql
Labels: none

fix(security): auth-gate blocks/agents/features/QR routes
  app/api/agents/block/route.ts
  app/api/agents/presets/route.ts
  app/api/block-qr/route.ts
  app/api/block-qr/save/route.ts
  app/api/blocks/index/route.ts
  app/api/features/delete/route.ts
  app/api/features/save/route.ts
Labels: none

fix(security): auth-gate blocks/agents/features/QR routes (#115)
  app/api/agents/block/route.ts
  app/api/agents/presets/route.ts
  app/api/block-qr/route.ts
  app/api/block-qr/save/route.ts
  app/api/blocks/index/route.ts
  app/api/features/delete/route.ts
  app/api/features/save/route.ts
Labels: none

fix(security): auth-gate misc mutating routes (sites/company/scheduler/profile)
  app/api/company/create/route.ts
  app/api/scheduler/import-from-template/route.ts
  app/api/sites/create/route.ts
  app/api/templates/base-name/route.ts
  app/api/update-profile/route.ts
  lib/auth/requireUser.ts
Labels: none

fix(security): auth-gate misc mutating routes (sites/company/scheduler/profile) (#116)
  app/api/company/create/route.ts
  app/api/scheduler/import-from-template/route.ts
  app/api/sites/create/route.ts
  app/api/templates/base-name/route.ts
  app/api/update-profile/route.ts
  lib/auth/requireUser.ts
Labels: none

fix(security): verify Twilio webhook + close email-relay / rate-limit public forms
  app/api/claim-site/route.ts
  app/api/claim/lead/route.ts
  app/api/contact/route.ts
  app/api/notify-creator/route.ts
  app/api/resend-welcome-email/route.ts
  app/api/send-contact-email/route.ts
  app/api/send-lead-email/route.ts
  app/api/sites/create/route.ts
  app/api/twilio-callback/route.ts
  lib/api/rateLimitGuard.ts
Labels: none

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'
