Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

📦 sitemap
  app/sitemap.xml/route.ts
Labels: none

📦 sitemap
  app/sitemap.xml/route.ts
Labels: none

📦 sitemap
  app/sitemap.xml/[domain]/route.ts
Labels: none

📦 sitemap
  app/sitemap.xml/route.ts
Labels: none

📦 sitemaps
  app/sitemap.xml/[domain]/route.ts
  app/sitemap.xml/route.ts
Labels: none

📦 moved some buttons
  components/admin/templates/template-json-editor.tsx
Labels: ui

📦 Google Search Console Improvements
  app/admin/gsc/sites/page.tsx
  app/api/gsc/auth-url/route.ts
  app/api/gsc/oauth-callback/route.ts
  app/api/gsc/oauth/callback/route.ts
  app/api/gsc/oauth/start/route.ts
  app/api/gsc/performance/all/route.ts
  app/api/gsc/tokens/[id]/route.ts
  app/api/gsc/tokens/route.ts
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/gsc-bulk-stats-table.tsx
  components/admin/templates/block-editors/testimonial-editor.tsx
  lib/gsc/getAllTokens.ts
  lib/gsc/refreshToken.ts
Labels: ui

📦 GSC
  components/admin/gsc-bulk-stats-table.tsx
Labels: ui

📦 call logs
  app/admin/call-logs/page.tsx
  app/api/twilio-callback/route.ts
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/blocks/call-logs-block.tsx
  package-lock.json
  package.json
  scripts/twilio/backfill-call-logs.ts
Labels: scripts, ui

📦 middleware for API routing
  middleware.ts
Labels: none

🐛 middleware api fix
  middleware.ts
Labels: none

📦 normalize phone number on lookup
  app/admin/call-logs/page.tsx
  app/api/twilio-callback/route.ts
Labels: none

🐛 fix nesting data and prettify and save
  admin/lib/cleanTemplateData.ts
  admin/lib/saveAsTemplate.ts
  admin/lib/validateTemplate.ts
  admin/utils/normalizeTemplate.ts
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-json-editor.tsx
  hooks/saveAsTemplate.ts
  lib/utils/normalizePageBlocks.ts
Labels: ui

📦 header editor improvements
  components/admin/fields/quick-links-editor.tsx
  components/admin/templates/block-editors/header-editor.tsx
  types/template.ts
Labels: ui

📦 page creation renaming
  components/admin/templates/panels/domain-panel.tsx
  components/editor/page-manager-sidebar.tsx
Labels: ui

📦 meal cards and chef profiles
  admin/lib/zod/blockSchema.ts
  app/template/[slug]/edit/page.tsx
  components/admin/block-adder-grouped.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/chef-profile.tsx
  components/admin/templates/render-blocks/meal-card.tsx
  lib/createDefaultBlock.ts
  lib/dynamic-renderers.ts
  next.config.mjs
  types/blocks.ts
Labels: ui

📦 page rename issues
  admin/utils/ensureValidTemplateFields.ts
  admin/utils/normalizeTemplate.ts
  components/editor/page-manager-sidebar.tsx
  components/page-edit-fields.tsx
  lib/utils/generateSlug.ts
Labels: ui

🐛 page rename fix
  components/admin/templates/panels/pages-panel.tsx
Labels: ui

🐛 schema block fixes
  admin/lib/cleanTemplateData.ts
  admin/lib/ensureBlockId.ts
  admin/lib/fixInvalidBlocksInTemplate.ts
  admin/lib/handleTemplateSave.ts
  admin/lib/zod/blockSchema.ts
  admin/lib/zod/blockSchemas/defineBlock.ts
  admin/lib/zod/blockSchemas/fromContentMap.ts
  admin/lib/zod/blockSchemas/index.ts
  admin/lib/zod/sharedHelpers.ts
  admin/lib/zod/templateSaveSchema.ts
  admin/utils/ensureValidTemplateFields.ts
  admin/utils/normalizeTemplate.ts
  app/api/fix-template/route.ts
  components/admin/block-adder-grouped.tsx
  components/admin/templates/block-editors/header-editor.tsx
  components/admin/templates/create-fallback-block.ts
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/chef-profile.tsx
  components/admin/templates/render-blocks/grid.tsx
  components/admin/templates/render-blocks/header.tsx
  components/admin/templates/render-blocks/hero.tsx
  components/admin/templates/sortable-block-board.tsx
  components/admin/templates/template-editor-content.tsx
  components/editor/editor-content-overlay.tsx
  components/editor/inline-block-type-picker.tsx
  components/page-edit-fields.tsx
  lib/blockRegistry.ts
  lib/blocks/defaultBlockContent.ts
  lib/blocks/describeZodField.ts
  lib/blocks/generateBlockDocs.ts
  lib/blocks/getBlockMenu.ts
  lib/blocks/validateBlockSchemaCoverage.ts
  lib/createDefaultBlock.ts
  lib/createEmptyTemplate.ts
  lib/generateBlockId.ts
  lib/utils/fixAllBlocks.ts
  lib/utils/normalizeBlock.ts
  lib/utils/normalizePageBlocks.ts
  types/blocks.ts
Labels: ui

📦 WIP JSON parse
  admin/lib/cleanTemplateData.ts
  admin/lib/migrateLegacyTemplate.ts
  admin/lib/prepareTemplateForSave.ts
  admin/lib/saveTemplate.ts
  admin/lib/validateTemplate.ts
  admin/lib/withTemplateDefaults.ts
  admin/lib/zod/cleanAndValidateTemplate.ts
  admin/lib/zod/templateSaveSchema.ts
  admin/utils/normalizeTemplate.ts
  app/admin/templates/new/page.tsx
  components/admin/dev/sql-field-preview.tsx
  components/admin/dev/template-validation-inspector.tsx
  components/admin/template-settings-panel/sidebar-settings.tsx
  components/admin/templates/edit-wrapper.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor.tsx
  components/admin/templates/template-json-editor.tsx
  components/admin/templates/use-template-editor-state.ts
  hooks/useTemplateSave.ts
  lib/createDefaultBlock.ts
  lib/createEmptyTemplate.ts
  lib/utils/extractSqlFieldsFromJson.ts
  lib/validation/cleanAndValidateTemplate.ts
  types/template.ts
Labels: ui

🐛 fixes for pages
  admin/lib/validateBlocksInTemplate.ts
  admin/lib/validateTemplate.ts
  components/admin/template-settings-panel/sidebar-settings.tsx
  components/admin/templates/edit-wrapper.tsx
  components/admin/templates/panels/pages-panel.tsx
  components/admin/templates/render-blocks/header.tsx
  components/admin/templates/sortable-block-board.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor.tsx
  components/admin/templates/template-json-editor.tsx
  components/admin/templates/template-settings-panel.tsx
  components/admin/templates/templates-index-table.tsx
  components/admin/templates/use-template-editor-state.ts
  components/editor/live-editor-preview.tsx
  components/editor/page-manager-sidebar.tsx
  hooks/useSafeScroll.ts
  lib/utils/extractSqlFieldsFromJson.ts
  types/template.ts
Labels: ui

🐛 fix template save
  components/admin/templates/template-editor-content.tsx
Labels: ui

📦 sidebar width adjust
  components/admin/template-settings-panel/sidebar-settings.tsx
Labels: ui

📦 layout sidebar/header for editing templates
  app/admin/layout.tsx
  app/template/[slug]/edit/page.tsx
  app/template/layout.tsx
Labels: none

📦 saving updates
  admin/lib/handleTemplateSave.ts
  admin/lib/prepareTemplateForSave.ts
  admin/lib/saveTemplate.ts
  admin/lib/zod/templateSaveSchema.ts
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-json-editor.tsx
  types/template.ts
Labels: ui

📦 block render: chef profile
  components/admin/templates/block-presets/block-presets.ts
  components/admin/templates/create-fallback-block.ts
  components/admin/templates/render-blocks/chef-profile.tsx
  lib/blocks/defaultBlockContent.ts
  lib/createDefaultBlock.ts
  next.config.mjs
  scripts/insert-sample-template.sql
  scripts/seedSampleTemplate.ts
Labels: scripts, ui

📦 chef profile id and alt
  components/admin/templates/render-blocks/chef-profile.tsx
Labels: ui

🐛 type fixes baby
  admin/lib/zod/blockSchema.ts
  components/admin/templates/create-fallback-block.ts
  lib/createDefaultBlock.ts
  lib/utils/normalizeBlock.ts
  next.config.mjs
  quickpush.sh
Labels: ui

🐛 fix for light dark mode
  admin/lib/prepareTemplateForSave.ts
  admin/lib/saveTemplate.ts
  admin/lib/zod/blockSchema.ts
  admin/lib/zod/templateSaveSchema.ts
  admin/utils/normalizeTemplate.ts
  app/admin/theme-editor/page.tsx
  components/admin/templates/block-editors/header-editor.tsx
  components/admin/templates/panels/theme-panel.tsx
  components/admin/templates/render-blocks/contact-form.tsx
  components/admin/templates/render-blocks/header.tsx
  components/admin/templates/render-blocks/testimonial.tsx
  components/admin/templates/tabs/design-settings-tab.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-json-editor.tsx
  components/admin/theme-preview-card.tsx
  components/editor/live-editor-preview.tsx
  components/editor/theme-editor-panel.tsx
  hooks/useThemeContext.tsx
  lib/createTemplateFromPreset.ts
Labels: ui

🐛 nav and type fixes
  admin/lib/zod/blockSchema.ts
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/fields/quick-links-editor.tsx
  components/admin/templates/block-editors/footer-editor.tsx
  components/admin/templates/block-editors/service-areas-editor.tsx
  components/admin/templates/render-blocks/footer.tsx
  components/admin/templates/templates-index-table.tsx
Labels: ui

🐛 fix renames
  app/api/templates/rename/route.ts
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/templates/use-template-editor-state.ts
  lib/blocks/defaultBlockContent.ts
Labels: ui

📦 globla header and footer
  admin/lib/prepareTemplateForSave.ts
  admin/lib/zod/templateSaveSchema.ts
  admin/utils/normalizeHeaderFooter.ts
  admin/utils/normalizeTemplate.ts
  app/sites/[slug]/[page]/page.tsx
  app/sites/[slug]/page.tsx
  components/admin/block-adder-grouped.tsx
  components/admin/templates/global-chrome-editors.tsx
  components/admin/templates/page-settings-modal.tsx
  components/admin/templates/reorderable-page-list.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-json-editor.tsx
  components/editor/live-editor-preview.tsx
  components/editor/page-manager-sidebar.tsx
  components/sites/site-renderer.tsx
  hooks/validateTemplateBlocks.ts
  lib/createEmptyTemplate.ts
  lib/site-chrome.ts
  types/template.ts
Labels: ui

📦 page manager updates
  components/admin/template-settings-panel/sidebar-settings.tsx
  components/admin/templates/page-tabs-bar.tsx
  components/admin/templates/render-blocks/hero.tsx
  components/editor/live-editor-preview.tsx
  lib/utils/normalizeBlock.ts
Labels: ui

🐛 duplicate save and rename fixes
  admin/lib/saveAsTemplate.ts
  admin/lib/zod/templateSaveSchema.ts
  components/admin/templates/template-action-toolbar.tsx
Labels: ui

📦 hot keys to show/hide sidebars
  app/admin/layout.tsx
  components/admin/templates/floating-settings-rail.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/editor/live-editor-preview.tsx
  lib/utils/cn.ts
Labels: ui

📦 reduce toast
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor.tsx
  components/admin/templates/use-template-editor-state.ts
  components/ui/async-gif-overlay.tsx
  hooks/useTemplateSave.ts
  public/loading-54.gif
Labels: ui

fullscreen f key
  components/admin/templates/floating-settings-rail.tsx
  components/editor/live-editor-preview.tsx
Labels: ui

📦 rich text editor and save without header or footer
  admin/lib/handleTemplateSave.ts
  admin/lib/validateTemplate.ts
  admin/lib/zod/blockSchema.ts
  admin/lib/zod/cleanAndValidateTemplate.ts
  admin/lib/zod/templateSaveSchema.ts
  components/admin/templates/render-block.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/editor/dynamic-block-editor.tsx
  components/editor/rich-text-editor.tsx
  lib/utils/normalizeBlock.ts
  package-lock.json
  package.json
Labels: ui

📦 editor border hovers
  components/admin/templates/render-block.tsx
  components/editor/live-editor-preview.tsx
  components/editor/sortable-block-wrapper.tsx
  components/editor/sortable-block.tsx
Labels: ui

editor border hovers
  components/editor/live-editor-preview.tsx
Labels: ui

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'
