Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'

fix(admin): template editor 404 on slug URLs (Edit button)
  app/admin/templates/[[...slug]]/page.tsx
Labels: none

feat(theme): light mode by default for new sites/templates
  lib/theme/accentHsl.ts
  lib/theme/industryPresets.ts
Labels: none

feat(theme): dark mode by default for all sites/templates
  components/home/guest-start.tsx
  lib/theme/industryPresets.ts
Labels: ui

fix(admin): template card images + editor preview honors color_mode
  app/api/templates/duplicate/route.ts
  components/admin/templates/templates-card-grid.tsx
  components/editor/live-editor/LiveEditorPreviewFrame.tsx
Labels: ui

feat(editor): light/dark toggle in the action toolbar
  components/admin/templates/template-action-toolbar/TemplateActionToolbar.tsx
Labels: ui

feat(demos): pick a fresh business category each generation
  app/api/admin/demos/generate/route.ts
  app/api/cron/demo-refresh/route.ts
  lib/builder/generateDemoSite.ts
  lib/builder/randomDemoSpec.ts
Labels: none

docs: print-on-demand + author site build plan
  docs/POD_AUTHOR_PLAN.md
Labels: none

feat(pod): Phase 1 — Lulu + Gelato provider layer + print_orders (flagged)
  .env.example
  lib/commerce/pod/gelato.ts
  lib/commerce/pod/index.ts
  lib/commerce/pod/lulu.ts
  supabase/migrations/20260629_print_orders.sql
Labels: none

feat(builder): Author site type (industry + theme + services + demo)
  lib/builder/randomDemoSpec.ts
  lib/generateServices.ts
  lib/industries/index.ts
  lib/theme/industryPresets.ts
Labels: none

feat(pod): Phase 2 fulfillment (gated) + author storefront
  app/api/commerce/webhooks/lulu/route.ts
  app/api/cron/print-order-sync/route.ts
  lib/builder/industryScaffold.ts
  lib/commerce/orders.ts
  lib/commerce/pod/fulfillment.ts
  vercel.json
Labels: none

feat(admin): shimmer cards while demos generate, populated as they land
  components/admin/templates/TemplatesListClient.tsx
  components/admin/templates/generate-demos-button.tsx
  components/admin/templates/templates-card-grid.tsx
Labels: ui

feat(pod): shipping capture for POD carts + Print Orders admin view
  .env.example
  app/admin/print-orders/page.tsx
  app/api/commerce/checkout/route.ts
  components/admin/AppHeader/AdminNavSections.tsx
  lib/commerce/adapters/stripeAdapter.ts
  lib/commerce/orders.ts
  lib/commerce/pod/fulfillment.ts
  lib/commerce/types.ts
Labels: ui

feat(pod): author book/merch products in the catalog
  app/api/catalog/items/route.ts
  components/merchant/CreateItemDrawer.tsx
Labels: ui

docs(pod): mark phases shipped + go-live checklist
  docs/POD_AUTHOR_PLAN.md
Labels: none

feat(pod): margin-aware pricing (fee on margin, not print cost)
  components/merchant/CreateItemDrawer.tsx
  lib/commerce/orders.ts
Labels: ui

feat(pod): Stripe Tax on physical/POD checkouts (flag-gated)
  .env.example
  lib/commerce/adapters/stripeAdapter.ts
Labels: none

feat(pod): cancel print jobs on refund (gated)
  lib/commerce/orders.ts
  lib/commerce/pod/fulfillment.ts
  lib/commerce/pod/gelato.ts
  lib/commerce/pod/lulu.ts
Labels: none

docs(claude): document subsystems shipped this cycle
  CLAUDE.md
Labels: docs

chore(supabase): support new publishable/secret API keys (drop-in migration)
  .env.example
  docs/SECRET_ROTATION_RUNBOOK.md
  instrumentation.ts
Labels: none

chore(scripts): accept SUPABASE_SECRET_KEY as a fallback for the service key
  scripts/alert-suspicious-tokens.ts
  scripts/cleanup-expired-tokens.ts
  scripts/detect-campaign-winners.ts
  scripts/enrich-campaigns-latlon.ts
  scripts/enrich-leads-latlon.ts
  scripts/export-analytics.ts
  scripts/fix_nested_data_data.js
  scripts/followup-second-chance.ts
  scripts/generate-security-report.ts
  scripts/generate-weekly-report.ts
  scripts/geo-alerts.ts
  scripts/index-blocks.ts
  scripts/maintenance/backfill-industry-services.ts
  scripts/maintenance/fix-legacy-props.ts
  scripts/manage-hosts-from-supabase.ts
  scripts/migrate-exterior-agency-flatten.ts
  scripts/monitor-campaigns.ts
  scripts/notify-webhooks.ts
  scripts/process-regeneration-queue.ts
  scripts/second-chance-offers.ts
  scripts/seed-pnw-prestige.ts
  scripts/seed/seedPricing.ts
  scripts/seed/withAiEstimates.ts
  scripts/trigger-campaign-starts.ts
  scripts/twilio/backfill-call-logs.ts
  scripts/upload-screenshot.ts
  scripts/verifyDomainOwnership.ts
  scripts/workers/screenshot-worker.ts
Labels: scripts, security

chore(supabase): migrate to new publishable/secret API keys (#48)
  .env.example
  docs/SECRET_ROTATION_RUNBOOK.md
  instrumentation.ts
  scripts/alert-suspicious-tokens.ts
  scripts/cleanup-expired-tokens.ts
  scripts/detect-campaign-winners.ts
  scripts/enrich-campaigns-latlon.ts
  scripts/enrich-leads-latlon.ts
  scripts/export-analytics.ts
  scripts/fix_nested_data_data.js
  scripts/followup-second-chance.ts
  scripts/generate-security-report.ts
  scripts/generate-weekly-report.ts
  scripts/geo-alerts.ts
  scripts/index-blocks.ts
  scripts/maintenance/backfill-industry-services.ts
  scripts/maintenance/fix-legacy-props.ts
  scripts/manage-hosts-from-supabase.ts
  scripts/migrate-exterior-agency-flatten.ts
  scripts/monitor-campaigns.ts
  scripts/notify-webhooks.ts
  scripts/process-regeneration-queue.ts
  scripts/second-chance-offers.ts
  scripts/seed-pnw-prestige.ts
  scripts/seed/seedPricing.ts
  scripts/seed/withAiEstimates.ts
  scripts/trigger-campaign-starts.ts
  scripts/twilio/backfill-call-logs.ts
  scripts/upload-screenshot.ts
  scripts/verifyDomainOwnership.ts
  scripts/workers/screenshot-worker.ts
Labels: scripts, security

fix(supabase): secret-key fallback for env-helper string call sites
  app/api/admin/merchants/ensure/route.ts
  app/api/admin/merchants/route.ts
  app/api/admin/products/route.ts
  app/api/dev/seed/_lib/env.ts
  app/api/dev/seed/all/route.ts
  app/api/public/merchants/route.ts
  app/api/public/products/route.ts
Labels: none

fix(supabase): secret-key fallback for env-helper string call sites (#50)
  app/api/admin/merchants/ensure/route.ts
  app/api/admin/merchants/route.ts
  app/api/admin/products/route.ts
  app/api/dev/seed/_lib/env.ts
  app/api/dev/seed/all/route.ts
  app/api/public/merchants/route.ts
  app/api/public/products/route.ts
Labels: none

feat(features): redesign /features around content, not video demos
  app/features/client-gallery.tsx
Labels: none

feat(features): redesign /features around content, not video demos (#51)
  app/features/client-gallery.tsx
Labels: none

feat(features): add How-it-works strip, simplify filter to category pills
  app/features/client-gallery.tsx
Labels: none

feat(features): add How-it-works strip, simplify filter to category pills (#52)
  app/features/client-gallery.tsx
Labels: none

fix(api): gate unauthenticated service-role template routes
  .github/workflows/playwright.yml
  app/api/dev/seed/route.ts
  app/api/fix-template/route.ts
  app/api/host-diagnose/route.ts
  app/api/templates/deprecations/route.ts
  app/api/templates/rename/route.ts
  app/api/templates/state/route.ts
  lib/auth/requireTemplateOwner.ts
  postcss.config.cjs
Labels: none

ci: make typecheck a blocking gate; fix build env
  .github/workflows/ci.yml
Labels: none

ci: add Stripe/OpenAI placeholder env to build step
  .github/workflows/ci.yml
Labels: none

ci: make typecheck a blocking gate; fix build env (#54)
  .github/workflows/ci.yml
Labels: none

fix(api): gate unauthenticated service-role template routes (#53)
  .github/workflows/playwright.yml
  app/api/dev/seed/route.ts
  app/api/fix-template/route.ts
  app/api/host-diagnose/route.ts
  app/api/templates/deprecations/route.ts
  app/api/templates/rename/route.ts
  app/api/templates/state/route.ts
  lib/auth/requireTemplateOwner.ts
  postcss.config.cjs
Labels: none

feat(api): adopt Zod body validation on money path + AI routes
  app/api/commerce/checkout/route.ts
  app/api/faq/generate/route.ts
  app/api/testimonials/generate/route.ts
  lib/api/parseJson.ts
Labels: none

feat(api): adopt Zod body validation on money path + AI routes (#55)
  app/api/commerce/checkout/route.ts
  app/api/faq/generate/route.ts
  app/api/testimonials/generate/route.ts
  lib/api/parseJson.ts
Labels: none

feat(api): extend Zod body validation to refund + remaining AI routes
  app/api/ai/suggest/route.ts
  app/api/commerce/refund/route.ts
  app/api/hero/suggest/route.ts
  app/api/services/suggest/route.ts
Labels: none

feat(api): extend Zod body validation to refund + remaining AI routes (#56)
  app/api/ai/suggest/route.ts
  app/api/commerce/refund/route.ts
  app/api/hero/suggest/route.ts
  app/api/services/suggest/route.ts
Labels: none

fix(api): require auth to refund an order (owner or admin)
  app/api/commerce/refund/route.ts
Labels: none

fix(api): require auth to refund an order (owner or admin) (#57)
  app/api/commerce/refund/route.ts
Labels: none

feat(env): add validated, lazy env loader and adopt in server client
  instrumentation.ts
  lib/env.ts
  lib/supabase/server.ts
Labels: none

feat(env): add validated, lazy env loader and adopt in server client (#58)
  instrumentation.ts
  lib/env.ts
  lib/supabase/server.ts
Labels: none
