Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'

📦 Org Switching
  .env.example
  app/admin/org/page.tsx
  app/api/admin/org/update/route.ts
  app/api/admin/org/upload/route.ts
  app/api/admin/org/upload/sign/route.ts
  app/api/org/billing/route.ts
  app/api/templates/commit/route.ts
  app/layout.tsx
  app/loading.tsx
  app/providers.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/template-user-viewer.filtered.tsx
  components/brand/BrandLogo.tsx
  components/ui/LoadingSplash.tsx
  components/ui/RouteChangeOverlayClient.tsx
  lib/org/resolveOrg.ts
  middleware.ts
  next-up
  next.config.mjs
  package-lock.json
  package.json
  public/logo_cedarsites_v1.png
  tsconfig.json
Labels: ui

🐛 routing fix for domains
  app/_domains/[domain]/[[...path]]/route.ts
  public/logo_cedarsites_v0.png
  public/logo_cedarsites_v2.png
  public/org-assets/cedarsites/ChatGPT Image Sep 5, 2025, 07_13_36 PM.png
  public/org-assets/cedarsites/ChatGPT Image Sep 5, 2025, 07_13_40 PM.png
  public/org-assets/cedarsites/ChatGPT Image Sep 5, 2025, 07_13_51 PM.png
  public/org-assets/cedarsites/ChatGPT Image Sep 5, 2025, 07_48_23 PM.png
  public/org-assets/cedarsites/ChatGPT Image Sep 5, 2025, 07_48_28 PM.png
  public/org-assets/cedarsites/ChatGPT Image Sep 5, 2025, 08_28_58 PM.png
  public/org-assets/cedarsites/ChatGPT Image Sep 5, 2025, 08_44_54 PM.png
  public/org-assets/cedarsites/ChatGPT Image Sep 6, 2025, 09_43_15 PM.png
  public/org-assets/cedarsites/ChatGPT Image Sep 6, 2025, 09_43_18 PM.png
  public/org-assets/cedarsites/ChatGPT Image Sep 6, 2025, 09_44_49 PM.png
  public/org-assets/cedarsites/ChatGPT Image Sep 6, 2025, 09_44_52 PM.png
  public/org-assets/cedarsites/ChatGPT Image Sep 6, 2025, 09_47_27 PM.png
  public/org-assets/cedarsites/ChatGPT Image Sep 6, 2025, 09_47_30 PM.png
  public/org-assets/cedarsites/ChatGPT Image Sep 6, 2025, 09_55_18 PM.png
  public/org-assets/cedarsites/ChatGPT Image Sep 6, 2025, 09_55_28 PM.png
Labels: none

📦 deploy bump
  README.md
Labels: docs

🐛 domain routing fix
  app/_domains/[domain]/[[...path]]/route.ts
Labels: none

🐛 routing fix attempt
  api/admin/org/upload/route.ts
  api/admin/org/upload/sign/route.ts
  app/_domains/[domain]/[[...path]]/route.ts
  app/_domains/[domain]/[[...rest]]/page.tsx
  app/api/admin/org/upload/sign/route.ts
Labels: none

🐛 routing fix
  app/_domains/[domain]/[[...rest]]/_deprecated_page.tsx
  app/_domains/[domain]/[[...rest]]/page.tsx
  app/_domains/[domain]/[[...rest]]/route.ts
Labels: none

🐛 domain fix again
  app/_domains/[domain]/[[...rest]]/page.tsx
  app/_domains/[domain]/[[...rest]]/route.ts
  lib/templates/getSiteByDomain.ts
  lib/templates/getSiteBySlug.ts
Labels: none

🐛 domain fix yet again
  app/_domains/[domain]/[[...rest]]/page.tsx
Labels: none

📦 routing
  app/_deprecated__domains/[domain]/[[...rest]]/page.tsx
  middleware.ts
Labels: none

📦 services and render block updates
  app/api/services/suggest/route.ts
  components/admin/templates/panels/services-panel.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/contact-form.tsx
  components/editor/live-editor/LiveEditorPreviewFrame.tsx
Labels: ui

🐛 Services and Favicon fixes
  app/api/favicon/upload/route.ts
  components/admin/templates/panels/services-panel.tsx
  lib/templates/getSiteByDomain.ts
  lib/templates/getSiteBySlug.ts
Labels: ui

🐛 favicon fix
  app/api/favicon/upload/route.ts
  lib/seo/generateMetadata.ts
Labels: none

📦 favicon on server
  app/favicon.ico/route.ts
Labels: none

🐛 favicon fix and LoadingSplash icon
  components/ui/LoadingSplash.tsx
  public/qs-default-favicon.ico
Labels: ui

🐛 template list data fix
  app/admin/templates/list/page.tsx
  app/api/admin/templates/list/route.ts
  components/admin/templates/TemplatesListClient.tsx
  components/admin/templates/templates-index-table.tsx
Labels: ui

📦 Mobile view in editor: Header, Footer, Service Areas
  app/page.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/footer.tsx
  components/admin/templates/render-blocks/header.tsx
  components/admin/templates/render-blocks/hero.tsx
  components/admin/templates/render-blocks/service-areas.tsx
  components/editor/live-editor/LiveEditorPreviewFrame.tsx
  components/site/site-header.tsx
Labels: ui

📦 branding on login and register screens
  .env.example
  app/admin/register.tsx
  app/login/LoginForm.tsx
  app/login/login-client.tsx
  components/editor/live-editor/LiveEditorPreviewFrame.tsx
  hooks/useOrgBranding.ts
Labels: ui

📦 ecommerce add products to template/site
  .env.example
  admin/lib/zod/blockSchema.ts
  app/api/admin/merchants/ensure/route.ts
  app/api/admin/merchants/route.ts
  app/api/admin/products/route.ts
  app/api/admin/products/suggest/route.ts
  app/api/ai/ready/route.ts
  app/api/ai/suggest/route.ts
  app/api/public/merchants/route.ts
  app/api/public/products/route.ts
  app/layout.tsx
  components/admin/block-adder-grouped.tsx
  components/admin/ecommerce/product-manager-modal.tsx
  components/admin/template-settings-panel/sidebar-settings.tsx
  components/admin/templates/block-editors/_placeholder-editor.tsx
  components/admin/templates/block-editors/products-grid-editor.tsx
  components/admin/templates/block-editors/service-offer-editor.tsx
  components/admin/templates/panels/ecommerce-panel.tsx
  components/admin/templates/render-blocks/products-grid.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/tools/cards/commerce.tsx
  components/editor/dynamic-block-editor.tsx
  lib/blockRegistry.tsx
  lib/blocks/defaultBlockContent.ts
  types/blocks.ts
Labels: ui

📦 cart updates
  app/cart/checkout/page.tsx
  app/cart/page.tsx
  app/favicon.ico/route.ts
  app/layout.tsx
  components/admin/templates/render-blocks/products-grid.tsx
  components/cart/cart-button.tsx
  components/cart/cart-coupon-chip.tsx
  components/cart/cart-events-wire.tsx
  components/cart/cart-fab.tsx
  components/cart/cart-store.ts
  components/site/site-header.tsx
Labels: ui

📦 cart checkout flow
  app/cart/checkout/page.tsx
  app/cart/page.tsx
  app/cart/thank-you/page.tsx
  app/sites/[slug]/[[...rest]]/page.tsx
  components/cart/CartPageClient.tsx
  components/cart/CheckoutPageClient.tsx
  components/cart/ThankYouPageClient.tsx
  components/cart/cart-button.tsx
  components/cart/cart-events-wire.tsx
  components/cart/cart-fab.tsx
  components/cart/cart-store.ts
  package-lock.json
  package.json
Labels: ui

📦 Template List Loading Speed and Template Name
  app/admin/templates/list/page.tsx
  app/api/admin/templates/list/route.ts
  app/api/templates/base-name/route.ts
  components/admin/templates/TemplatesListClient.tsx
  components/admin/templates/panels/identity-panel.tsx
  components/admin/templates/template-editor-toolbar.tsx
  components/admin/templates/templates-index-table.tsx
Labels: ui

📦 Archiving from template list page
  .gitignore
  app/api/templates/archive/route.ts
  components/admin/templates/templates-index-table.tsx
Labels: ui

📦 Template List Improvements
  app/admin/templates/list/page.tsx
  components/admin/templates/RefreshTemplatesButton.tsx
  components/admin/templates/TemplatesListClient.tsx
  components/admin/templates/templates-index-table.tsx
Labels: ui

🐛 Attempts to fix the stale template name on load issue
  components/admin/templates/panels/identity-panel.tsx
  components/admin/templates/template-editor-toolbar.tsx
  components/admin/templates/templates-index-table.tsx
Labels: ui

📦 Domain and Sidebar Settings
  .env.example
  app/api/domains/connect/route.ts
  app/api/domains/remove/route.ts
  app/api/domains/verify/route.ts
  app/api/templates/[id]/custom-domain/route.ts
  app/layout.tsx
  components/admin/template-settings-panel/sidebar-settings.tsx
  components/admin/templates/panels/domain-panel.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  styles/globals.css
Labels: ui

📦 Panels Toolbars Hotkeys
  app/api/domains/connect/route.ts
  app/api/domains/remove/route.ts
  app/api/domains/verify/route.ts
  components/admin/templates/page-manager-toolbar.tsx
  components/admin/templates/panels/ecommerce-panel.tsx
  components/admin/templates/panels/hours-panel.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  lib/domains/dns.ts
  lib/domains/namecheap.ts
  lib/domains/util.ts
  lib/domains/vercel.ts
Labels: ui

📦 Domain Panel and Nav Sidebar updates
  .env.example
  app/api/domain/verify/route.ts
  app/api/domains/connect/route.ts
  app/api/templates/[id]/custom-domain/route.ts
  app/api/verify-domain/route.ts
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/template-settings-panel/sidebar-settings.tsx
  components/admin/templates/panels/domain-panel.tsx
  hooks/useVerifyDomain.ts
  lib/namecheap/verifyAndConfigureDomain.ts
  scripts/verifyDomainOwnership.ts
Labels: scripts, ui

📦 Org Domain Settings
  app/admin/org/page.tsx
  app/api/admin/org/[id]/primary-domain/route.ts
  app/api/domains/connect/route.ts
  components/admin/org/OrgDomainPanel.tsx
  middleware.ts
Labels: ui

📦 revert Middleware update
  middleware.ts
Labels: none

📦 WIP White Label Homepage
  app/admin/org/page.tsx
  app/page.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/animated-home.tsx
  components/quick-sites-widget.tsx
  components/site/site-header.tsx
Labels: ui

📦 Site Types and Hero Improvements
  app/admin/templates/[[...slug]]/page.tsx
  app/admin/templates/new/page.tsx
  app/api/hero/suggest/route.ts
  app/api/services/suggest/route.ts
  app/api/templates/create/route.ts
  components/admin/template-settings-panel/sidebar-settings.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/hero/HeroStageControls.tsx
  components/admin/templates/panels/identity-panel.tsx
  components/admin/templates/panels/services-panel.tsx
  components/admin/templates/render-blocks/hero.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/templates-index-table.tsx
  lib/templates/commitClient.ts
Labels: ui

📦 Identity Panel Saving
  .env.example
  admin/lib/saveTemplate.ts
  app/api/admin/templates/list/route.ts
  app/api/templates/commit/route.ts
  app/api/templates/state/route.ts
  components/admin/templates/TemplatesListClient.tsx
  components/admin/templates/hooks/useCommitApi.ts
  components/admin/templates/panels/identity-panel.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor.tsx
  components/admin/templates/templates-index-table.tsx
  context/template-editor-context.tsx
  lib/db/templateSelect.ts
  lib/templates/commitClient.ts
  lib/templates/persistServices.ts
  types/template.ts
Labels: ui

🐛 hero identity panel fixes
  .env.example
  admin/lib/zod/blockSchema.ts
  app/api/dev/seed/_lib/industries.ts
  app/api/dev/seed/all/route.ts
  app/api/hero/suggest/route.ts
  app/api/reviews/import-worker/route.ts
  app/api/reviews/import/route.ts
  app/api/templates/commit/route.ts
  app/api/templates/create/route.ts
  app/api/templates/state/route.ts
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/block-editors/testimonial-editor.tsx
  components/admin/templates/panels/identity-panel.tsx
  components/admin/templates/sidebar/TemplateTruthTracker.tsx
  components/admin/templates/template-action-toolbar.tsx
  lib/createDefaultBlock.ts
  lib/createEmptyTemplate.ts
  lib/industries/index.ts
  next.config.mjs
  workers/yelp-proxy.js
Labels: ui

📦 new template hero tweaks
  app/admin/admin/branding/og-editor/[id].tsx
  components/admin/site-settings-panel.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/panels/identity-panel.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor.tsx
  components/admin/templates/template-version-save-bar.tsx
  components/admin/ui/block-preview-toggle.tsx
  components/site/site-editor.tsx
  lib/createEmptyTemplate.ts
  lib/templates/commitClient.ts
Labels: ui

📦 hero editor and render updates
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/render-blocks/hero.tsx
  components/admin/templates/templates-index-table.tsx
Labels: ui

📦 Scheduling / Booking Blocks
  admin/lib/zod/blockSchema.ts
  app/api/org/create-demo/route.ts
  app/api/org/resolve/route.ts
  app/api/scheduler/availability/route.ts
  app/api/scheduler/book/route.ts
  app/api/scheduler/import-from-template/route.ts
  app/api/scheduler/resources/route.ts
  app/api/scheduler/services/route.ts
  components/admin/block-adder-grouped.tsx
  components/admin/referrals/PayoutWizardClient.tsx
  components/admin/templates/block-editors/scheduler-editor.tsx
  components/admin/templates/panels/services-panel.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/scheduler.tsx
  components/ui/input.tsx
  components/ui/multi-select.tsx
  components/ui/select.tsx
  components/ui/switch.tsx
  lib/blockRegistry.tsx
  lib/blocks/defaultBlockContent.ts
  lib/createDefaultBlock.ts
  lib/renderBlockRegistry.ts
  types/blocks.ts
  types/template.ts
Labels: ui

📦 scheduling components
  app/api/company/create/route.ts
  app/api/company/list/route.ts
  app/api/org/list/route.ts
  app/api/scheduler/availability/route.ts
  app/api/scheduler/book/route.ts
  app/api/scheduler/import-from-template/route.ts
  app/api/scheduler/resources/route.ts
  app/api/scheduler/services/route.ts
  app/api/services/suggest/route.ts
  app/api/templates/commit/route.ts
  app/api/templates/state/route.ts
  components/admin/templates/block-editors/index.ts
  components/admin/templates/block-editors/scheduler-editor.tsx
  components/admin/templates/panels/services-panel.tsx
  components/admin/templates/render-blocks/scheduler.tsx
  lib/server/appDb.ts
  lib/server/resolveCompanyId.ts
  lib/server/supabaseAdmin.ts
  types/template.ts
Labels: ui

📦 scheduling block
  app/api/admin/sites/publish/route.ts
  app/api/admin/snapshots/create/route.ts
  app/api/templates/commit/route.ts
  components/admin/templates/block-editors/scheduler-editor.tsx
Labels: ui

🛠️ truth timeline refactor
  app/api/admin/sites/publish/route.ts
  app/api/templates/[id]/history/route.ts
  components/admin/templates/_deprecated_sidebar/_deprecated_TemplateTruthTracker.tsx
  components/admin/templates/render-blocks/scheduler.tsx
  components/admin/templates/sidebar/TemplateTruthTracker.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/truth/InfoDropdown.tsx
  components/admin/templates/truth/InfraMap.tsx
  components/admin/templates/truth/TemplateTruthTracker.tsx
  components/admin/templates/truth/Timeline.tsx
  components/admin/templates/truth/hooks/useTruthData.ts
  components/admin/templates/truth/types.ts
  components/admin/templates/truth/utils.ts
Labels: ui

🐛 publishing fixes
  app/api/admin/sites/publish/route.ts
  app/api/admin/sites/restore/route.ts
  app/api/templates/[id]/history/route.ts
  app/api/templates/state/route.ts
  components/admin/templates/hooks/useTruthTrackerState.ts
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor.tsx
  components/admin/templates/truth/TemplateTruthTracker.tsx
  components/admin/templates/truth/Timeline.tsx
  components/admin/templates/truth/hooks/useTruthData.ts
  lib/server/supabaseAdmin.ts
Labels: ui
