Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

fix(guest): sync content_blocks so the editor shows the autogenerated hero (#137)
  lib/builder/autogenerateForTemplate.ts
Labels: none

fix(preview): hide editor-only contact-form nudges outside the editor
  components/admin/templates/render-blocks/contact-form.tsx
Labels: ui

fix(preview): hide editor-only contact-form nudges outside the editor (#138)
  components/admin/templates/render-blocks/contact-form.tsx
Labels: ui

fix(guest): contact form finds generated services + gets a default email
  components/admin/templates/render-blocks/contact-form.tsx
  lib/builder/autogenerateForTemplate.ts
Labels: ui

fix(guest): contact form finds generated services + gets a default email (#139)
  components/admin/templates/render-blocks/contact-form.tsx
  lib/builder/autogenerateForTemplate.ts
Labels: ui

feat(guest): auto-generate logo + favicon at site creation
  app/api/templates/[id]/autogenerate/route.ts
  lib/builder/autogenerateForTemplate.ts
Labels: none

feat(guest): auto-generate logo + favicon at site creation (#140)
  app/api/templates/[id]/autogenerate/route.ts
  lib/builder/autogenerateForTemplate.ts
Labels: none

fix(preview): make "Click to edit header/footer" work on the standalone preview
  app/preview/PreviewState.tsx
  components/admin/templates/template-editor-content.tsx
Labels: ui

fix(guest): auto-logo contrasts the header + favicon stays visible on tabs
  lib/builder/autogenerateForTemplate.ts
Labels: none

fix(guest): auto-logo contrasts the header + favicon stays visible on tabs (#142)
  lib/builder/autogenerateForTemplate.ts
Labels: none

fix(preview): make "Click to edit header/footer" work on the standalone preview (#141)
  app/preview/PreviewState.tsx
  components/admin/templates/template-editor-content.tsx
Labels: ui

fix(home): stop the "Built with QuickSites" row from intermittently vanishing
  app/page.tsx
  lib/home/getShowcaseData.ts
Labels: none

fix(home): stop the "Built with QuickSites" row from intermittently vanishing (#143)
  app/page.tsx
  lib/home/getShowcaseData.ts
Labels: none

fix(home): serve last-good showcase from an in-memory cache during DB blips
  lib/home/getShowcaseData.ts
Labels: none

fix(home): serve last-good showcase from an in-memory cache during DB blips (#144)
  lib/home/getShowcaseData.ts
Labels: none

fix(guest): make the inline "Sign up to publish your site" link clickable
  components/admin/guest-publish-banner.tsx
Labels: ui

fix(guest): make the inline "Sign up to publish your site" link clickable (#145)
  components/admin/guest-publish-banner.tsx
Labels: ui

fix(guest): prompt existing users to log in when their email is already registered
  app/login/LoginForm.tsx
  components/admin/guest-publish-banner.tsx
Labels: ui

fix(guest): prompt existing users to log in when their email is already registered (#146)
  app/login/LoginForm.tsx
  components/admin/guest-publish-banner.tsx
Labels: ui

feat(guest): carry a guest draft into an existing account on login
  app/api/auth/set-session/route.ts
  app/api/templates/[id]/claim-token/route.ts
  app/auth/callback/route.ts
  components/admin/guest-publish-banner.tsx
  lib/auth/claimGuestDraft.ts
  lib/auth/claimToken.ts
  supabase/migrations/20260704_claim_guest_template.sql
Labels: ui

feat(guest): carry a guest draft into an existing account on login (#147)
  app/api/auth/set-session/route.ts
  app/api/templates/[id]/claim-token/route.ts
  app/auth/callback/route.ts
  components/admin/guest-publish-banner.tsx
  lib/auth/claimGuestDraft.ts
  lib/auth/claimToken.ts
  supabase/migrations/20260704_claim_guest_template.sql
Labels: ui

fix(home): make the guest-start hero form mobile-first
  components/home/guest-start.tsx
Labels: ui

fix(home): make the guest-start hero form mobile-first (#148)
  components/home/guest-start.tsx
Labels: ui

fix(home): hide the floating mascot below the sm breakpoint
  components/home/home-client.tsx
Labels: ui

fix(home): hide the floating mascot below the sm breakpoint (#149)
  components/home/home-client.tsx
Labels: ui

chore: remove dead block-registry island + stale cleanup docs
  CLAUDE.md
  app/examples/blocks-demo/page.tsx
  docs/REVIVAL_PLAN.md
  lib/blocks/_likely-remove_BlockRenderer.tsx
  lib/blocks/_likely-remove_blocks/_likely-remove_meals-grid.tsx
  lib/blocks/_likely-remove_index.ts
  lib/blocks/_likely-remove_registry.ts
  lib/blocks/_likely-remove_types.ts
Labels: docs

feat(ai): meter the last unmetered OpenAI call-sites (embeddings + dev-seed)
  CLAUDE.md
  app/api/blocks/index/route.ts
  app/api/blocks/search/route.ts
  app/api/dev/seed/_lib/heroHydrate.ts
  app/api/dev/seed/_lib/openaiIdeation.ts
  app/api/dev/seed/all/route.ts
  docs/LLM_METERING.md
  lib/useVectorDB.ts
Labels: docs

docs: correct the stale types/supabase.ts trap note in CLAUDE.md §8
  CLAUDE.md
Labels: docs

feat(merchant): add a Getting Started checklist to shorten time-to-first-sale
  app/merchant/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  components/merchant/CopyStoreLink.tsx
Labels: ui

security(deps): bump Next 15.2.6 -> 15.2.9 (post-CVE-2025-66478 patch line)
  CLAUDE.md
  docs/REVIVAL_PLAN.md
  package-lock.json
  package.json
Labels: docs

feat(seo): branded Open Graph / Twitter card for the homepage
  app/api/og/home/route.tsx
  app/page.tsx
Labels: none

feat(seo): extend branded OG cards to /partners, /compare, /pricing
  app/api/og/marketing/route.tsx
  app/compare/page.tsx
  app/page.tsx
  app/partners/page.tsx
  app/pricing/layout.tsx
  lib/marketingOg.ts
Labels: none

feat(home): reseller-model section with a 1→many diagram (CedarSites example)
  components/home/home-client.tsx
  components/home/reseller-diagram.tsx
Labels: ui

feat(home): use the real CedarSites logo in the reseller diagram
  components/home/reseller-diagram.tsx
  public/logo_cedarsites_v2_96.png
Labels: ui

feat(seo): make the marketing OG card org-aware (reseller branding)
  app/api/og/marketing/route.tsx
  app/orgs/[slug]/page.tsx
  lib/marketingOg.ts
Labels: none

feat(home): make the reseller diagram data-driven from the org table
  app/page.tsx
  components/home/home-client.tsx
  components/home/reseller-diagram.tsx
  lib/home/getResellers.ts
Labels: ui

feat(reseller): AI rebuild lead magnet + reseller GTM surfaces
  app/api/rebuild/route.ts
  app/partners/calculator/page.tsx
  app/partners/resellers/page.tsx
  app/rebuild/page.tsx
  components/rebuild/rebuild-tool.tsx
  docs/RESELLER_GTM.md
  jest.config.mjs
  lib/analytics/events.ts
  lib/commerce/__tests__/partnerEarnings.test.ts
  lib/commerce/partnerEarnings.ts
  lib/rebuild/__tests__/scrapeSite.test.ts
  lib/rebuild/assembleDraft.ts
  lib/rebuild/inferSiteSpec.ts
  lib/rebuild/scrapeSite.ts
Labels: ui

feat(reseller): AI rebuild lead magnet + reseller GTM surfaces (#158)
  app/api/rebuild/route.ts
  app/partners/calculator/page.tsx
  app/partners/resellers/page.tsx
  app/rebuild/page.tsx
  components/rebuild/rebuild-tool.tsx
  docs/RESELLER_GTM.md
  jest.config.mjs
  lib/analytics/events.ts
  lib/commerce/__tests__/partnerEarnings.test.ts
  lib/commerce/partnerEarnings.ts
  lib/rebuild/__tests__/scrapeSite.test.ts
  lib/rebuild/assembleDraft.ts
  lib/rebuild/inferSiteSpec.ts
  lib/rebuild/scrapeSite.ts
Labels: ui

feat(rebuild): optional fresh AI hero image on rebuild
  app/api/rebuild/route.ts
  components/rebuild/rebuild-tool.tsx
  docs/RESELLER_GTM.md
  lib/rebuild/__tests__/generateHero.test.ts
  lib/rebuild/generateHero.ts
Labels: ui

feat(rebuild): optional fresh AI hero image on rebuild (#159)
  app/api/rebuild/route.ts
  components/rebuild/rebuild-tool.tsx
  docs/RESELLER_GTM.md
  lib/rebuild/__tests__/generateHero.test.ts
  lib/rebuild/generateHero.ts
Labels: ui

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'
