Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

working through upgrades prior to sidebar-upgrade-README
  .github/workflows/snapshot-sitemaps.yml
  README.md
  docs/diffs.md
  mkdocs.yml
  scripts/cleanup-sitemaps.ts
  scripts/compare-sitemaps.ts
  scripts/upload-diffs-markdown.ts
  scripts/upload-diffs.ts
  scripts/upload-sitemaps.timestamped.ts
  scripts/upload-sitemaps.ts
Labels: scripts, docs

some fragments applied
  components/admin/layout/AdminSidebarLayout.tsx
  fragments/applied/admin-nav-badge-loader.txt
  fragments/applied/admin-nav-enhanced-icons.txt
  fragments/applied/admin-nav-update-snippet.txt
  fragments/applied/anon-claim-toggle.html
  fragments/applied/badge-done-redirect-patch.txt
  fragments/applied/block-auth-api.txt
  fragments/applied/block-auth-ui.txt
  fragments/applied/block-feedback-counts.txt
  fragments/applied/block-feedback-ui.txt
  fragments/applied/block-hub-download-pdf-button.txt
  fragments/applied/block-hub-print-button.txt
  fragments/applied/block-hub-show-qr.txt
  fragments/applied/chart-fetch-hook.txt
  fragments/block-hub-show-qr.txt
  pages/admin/tools/chart.tsx
  pages/api/badge/top.ts
  pages/api/create-block.ts
  pages/block/new.tsx
  pages/hub/[handle].tsx
  pages/hub/[handle]/print.tsx
  pages/support/[slug].tsx
  pages/world/[handle]/share.tsx
Labels: pages, ui

fixed some build error
  admin/config/routes.ts
  components/admin/AdminLayout.tsx
  components/admin/AdminTabs.tsx
  components/admin/AppHeader.tsx
  components/admin/GroupedNav.tsx
  components/admin/layout/AdminSidebarLayout.tsx
  fragments/creator-page-dag-link.txt
  mkdocs.yml
  next.config.mjs
  package-lock.json
  package.json
  pages/@/[handle].tsx
  pages/admin/admin/sites.tsx
  pages/admin/sites/dashboard.tsx
  pages/creator/[handle].tsx
  pages/creator/me/campaigns/index.tsx
  pages/creator/me/campaigns/new.tsx
  pages/creator/me/campaigns/posters.tsx
  pages/creator/me/feedback.tsx
  pages/creator/me/notifications.tsx
  pages/creator/me/summary.tsx
  pages/creator/me/thank.tsx
  pages/portfolio/[handle].tsx
  pages/unauthorized.tsx
  pages/world/profile/[slug]/share.tsx
  pages/world/profile/[slug]/supporters.tsx
Labels: pages, ui

login works
  components/admin/SafeSupabaseProvider.tsx
  hooks/useSetSessionFromHash.ts
  pages/login.tsx
Labels: pages, ui

auth updates savepoint
  components/admin/AppHeader.tsx
  components/admin/AuthGuard.tsx
  components/admin/SupabaseProvider.tsx
  hooks/useCurrentUser.tsx
  hooks/useLogNotFound.ts
  lib/resolveAdminPath.ts
  pages/404.tsx
  pages/admin/404.tsx
  pages/admin/_app.tsx
  pages/admin/login.tsx
  pages/admin/the-grid.tsx
  pages/api/ip.ts
  pages/index.tsx
  pages/login.tsx
Labels: pages, ui

success: builds, runs, skipping role checks
  components/admin/AppHeader.tsx
  components/admin/AuthGuard.tsx
  components/admin/RoleManager.tsx
  components/admin/SafeSupabaseProvider.tsx
  components/admin/SessionLogViewer.tsx
  components/admin/context/CurrentUserProvider.tsx
  components/admin/layout/AdminSidebarLayout.tsx
  hooks/useCurrentUser.tsx
  hooks/useDashboardLayout.ts
  middleware.ts
  pages/_app.tsx
  pages/admin/dashboard.tsx
  pages/admin/roles.tsx
  pages/admin/the-grid.tsx
  pages/index.tsx
  pages/login.tsx
Labels: pages, ui

grid map fixed
  components/admin/GridMap.tsx
  hooks/useGeoLocation.ts
  lib/geoCache.ts
  lib/resolveGeo.ts
  middleware.ts
  package-lock.json
  package.json
  pages/admin/dashboard.tsx
  pages/admin/index.tsx
  pages/admin/sites/dashboard.tsx
  pages/api/geocode.ts
  pages/index.tsx
  public/staticGeo.json
  scripts/exportGeoCache.ts
Labels: pages, scripts, ui

map with city marker component
  components/admin/CityMarker.tsx
  components/admin/GridMap.tsx
Labels: ui

lead creation via photo upload
  .env.example
  components/admin/FilterDropdown.tsx
  components/admin/GridMap.tsx
  components/admin/GridSidebar.tsx
  components/admin/MapLegend.tsx
  components/admin/MarkerStats.tsx
  components/admin/RevenueEstimator.tsx
  lib/leads/photoProcessor.ts
  lib/resolveGeo.ts
  package-lock.json
  package.json
  pages/admin/leads.tsx
  pages/admin/start-campaign.tsx
  pages/api/reverse-geocode.ts
  pages/api/send-lead-email.ts
  scripts/exportGeoCache.ts
Labels: pages, scripts, ui

app header link updates
  components/admin/AppHeader.tsx
Labels: ui

leads pages updates
  pages/admin/leads.tsx
Labels: pages

campaign page updates
  pages/admin/campaigns.tsx
Labels: pages

campaign improvements
  components/admin/CityMarker.tsx
  components/layout/AdminLayout.tsx
  pages/admin/campaigns.tsx
  pages/admin/start-campaign.tsx
Labels: pages, ui

new campaign form improvements
  pages/admin/start-campaign.tsx
Labels: pages

appheader updates
  components/admin/AppHeader.tsx
  components/admin/AppHeader/AppHeader.tsx
  components/admin/AppHeader/AvatarMenu.tsx
  components/admin/AppHeader/MobileDrawer.tsx
  components/admin/AppHeader/NavSections.tsx
  components/admin/AppHeader/RoleBadge.tsx
  components/admin/QueryParamEditor.tsx
  components/layout/AdminLayout.tsx
  components/layout/DefaultPublicLayout.tsx
  components/layout/Page.tsx
  package-lock.json
  package.json
  pages/admin/heatmap.tsx
  pages/admin/start-campaign.tsx
  pages/admin/zod-playground.tsx
Labels: pages, ui

header avatar menu
  components/admin/AppHeader/AvatarMenu.tsx
Labels: ui

template marketplace page working
  components/admin/AppHeader/NavSections.tsx
  hooks/useLatestTemplate.ts
  pages/admin/api/templates/index.ts
  pages/api/template-api/index.ts
  pages/template-market.tsx
Labels: pages, ui

site editor pubisher
  components/admin/templates/BlockSidebar.tsx
  components/admin/templates/SortableBlockList.tsx
  lib/siteHelpers.ts
  lib/slugHelpers.ts
  package-lock.json
  package.json
  pages/api/sites/[id].ts
  pages/api/sites/create.ts
  pages/api/sites/save.ts
  pages/api/templates/history.ts
  pages/edit/[slug].tsx
  pages/starter.tsx
Labels: pages, ui

site settings display
  components/admin/SiteSettingsPanel.tsx
  components/ui/ModalWrapper.tsx
  package-lock.json
  package.json
  pages/edit/[slug].tsx
  types/site.ts
Labels: pages, ui

tailwind site settings modal
  admin/tailwind.config.ts
  components.json
  components/ui/ModalWrapper.tsx
  components/ui/dialog.tsx
  lib/utils.ts
  package-lock.json
  package.json
  pages/edit/[slug].tsx
  styles/globals.css
  tailwind.config.cjs
  tailwind.config.ts
Labels: pages, ui

site settings modal fix
  admin/tailwind.config.ts
  components/admin/SiteSettingsPanel.tsx
  components/ui/ModalWrapper.tsx
  package-lock.json
  package.json
  pages/edit/[slug].tsx
  styles/globals.css
  tailwind.config.ts
Labels: pages, ui

settings panel fixes
  components/admin/SiteSettingsPanel.tsx
  components/ui/ModalWrapper.tsx
  pages/edit/[slug].tsx
Labels: pages, ui

vercel updates
  admin/vercel.json
  components/admin/SiteSettingsPanel.tsx
  components/ui/tooltip.tsx
  middleware.ts
  next.config.mjs
  package-lock.json
  package.json
  pages/_sites/[slug].tsx
  vercel.json
Labels: pages, ui

middleware fix
  middleware.ts
Labels: none

chore: lock node version to 20.x via .nvmrc
  .nvmrc
Labels: none

removed unneeded old package.json from admin
  admin/package.json
Labels: none

middleware fix
  middleware.ts
Labels: none

chore: remove conflicting vercel.json
  vercel.json
Labels: none

fix vercel
  next.config.mjs
Labels: none

chore: temporarily disable archiver-based API routes
  admin/api/download-og-zip/route.ts.disabled
  pages/api/all-campaign-posters.ts.disabled
  pages/api/badge/top.ts.disabled
  pages/api/posters-zip.ts.disabled
Labels: pages

lint export fix
  .eslintrc.js
Labels: none

fix: migrate eslint config to .cjs format
  .eslintrc.cjs
Labels: none

type issues
  components/admin/pages/CampaignsClientPage.tsx
Labels: ui

fix: add react-day-picker and types
  package-lock.json
  package.json
Labels: none

linting
  admin/not-found.tsx
  admin/tailwind.config.ts
  components/admin/AppHeader/AppHeader.tsx
  components/admin/AppHeader/NavSections.tsx
  components/admin/AuthGuard.tsx
  components/admin/GridMap.tsx
  components/admin/SessionLogViewer.tsx
  components/admin/pages/CampaignsClientPage.tsx
  components/admin/templates/RenderBlock.tsx
  components/analytics/Heatmap.tsx
  hooks/useCurrentUser.tsx
  hooks/useLogNotFound.ts
  package-lock.json
  package.json
  pages/admin/leads.tsx
  pages/api/reverse-geocode.ts
  pages/edit/[slug].tsx
  pages/login.tsx
  scripts/geo-alerts.ts
  tailwind.config.ts
  types/domain.types.ts
  types/lead.types.ts
  types/site.ts
Labels: pages, scripts, ui

linting
  admin/guest-tokens/page.tsx
Labels: none

hooks export fix
  admin/lib/links/hooks/index.ts
Labels: none

links fix
  admin/lib/links/buildSafeLink.tsx
  admin/lib/links/hooks/useLinkBuilder.ts
Labels: none

og fix
  admin/lib/og/renderOgImage.ts
  package-lock.json
  package.json
Labels: none

install resend
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'
