Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'

📦 redirect issue
  middleware.ts
Labels: none

📦 routing
  app/not-found-trigger/page.tsx
  middleware.ts
Labels: none

📦 routing
  middleware.ts
Labels: none

📦 email siteslug determination improvement
  components/admin/templates/render-blocks/contact-form.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-json-editor.tsx
Labels: ui

🐛 meta save issues fix
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-settings-panel.tsx
  hooks/validateTemplateBlocks.ts
Labels: ui

📦 domain sitemaps and robots
  app/api/robots.txt/[domain]/route.ts
  app/api/sitemap.xml/[domain]/route.ts
  app/api/sitemap.xml/route.ts
  middleware.ts
Labels: none

🐛 sitemap fix
  app/api/sitemap.xml/[domain]/route.ts
Labels: none

📦 sitemaps
  app/api/sitemap.xml/[domain]/route.ts
  app/api/sitemap.xml/route.ts
  middleware.ts
Labels: none

📦 contact and hero updates
  components/admin/templates/block-editors/contact-form-editor.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/render-blocks/contact-form.tsx
  components/admin/templates/template-settings-panel.tsx
  public/images/hero/hero-driveway-repair-1.png
  public/images/hero/hero-roof-cleaning-1.png
  public/images/hero/hero-roof-cleaning-2.png
  public/images/hero/hero-window-cleaning-1.png
Labels: ui

📦 ui template improvements
  admin/lib/printZodErrors.ts
  admin/lib/zod/templateSaveSchema.ts
  admin/utils/normalizeTemplate.ts
  components/admin/dev-validator-panel.tsx
  components/admin/template-settings-panel/sidebar-settings.tsx
  components/admin/templates/device-preview-wrapper.tsx
  components/admin/templates/panels/domain-panel.tsx
  components/admin/templates/panels/identity-panel.tsx
  components/admin/templates/panels/pages-panel.tsx
  components/admin/templates/panels/seo-panel.tsx
  components/admin/templates/panels/services-panel.tsx
  components/admin/templates/panels/slug-panel.tsx
  components/admin/templates/panels/theme-panel.tsx
  components/admin/templates/render-blocks/contact-form.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-json-editor.tsx
  components/admin/templates/template-settings-panel.tsx
  components/editor/live-editor-preview.tsx
  components/editor/page-manager-sidebar.tsx
  public/images/hero/hero-delivered-menu-1.png
  public/images/hero/hero-delivered-menu-2.png
  styles/globals.css
  types/template.ts
Labels: ui

🐛 type fix
  lib/createEmptyTemplate.ts
Labels: none

🐛 type fix
  lib/createTemplateFromPreset.ts
Labels: none

🐛 type fix
  lib/createEmptyTemplate.ts
  lib/createTemplateFromPreset.ts
  lib/templateDefaults.ts
Labels: none

🐛 type fix
  _pages-legacy/edit/remix/[slug].tsx
  components/admin/templates/blocks-editor.tsx
Labels: ui

🐛 template edit fixes
  admin/lib/handleTemplateSave.ts
  app/_sites/[slug]/page.tsx
  app/admin/templates/new/page.tsx
  app/sites/[slug]/[page]/page.tsx
  app/template/[slug]/edit/page.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/block-editors/image-editor.tsx
  components/admin/templates/block-editors/services-editor.tsx
  components/admin/templates/edit-client-wrapper.tsx
  components/admin/templates/edit-wrapper.tsx
  components/admin/templates/panels/seo-panel.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/hero.tsx
  components/admin/templates/render-blocks/testimonial.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor-toolbar.tsx
  components/admin/templates/template-editor.tsx
  components/admin/templates/template-publish-modal.tsx
  components/admin/templates/template-settings-panel.tsx
  components/editor/live-editor-preview.tsx
  hooks/useSafeScroll.ts
  lib/createDefaultBlock.ts
  lib/dynamic-renderers.ts
  lib/resolveBlockRenderer.ts
  package-lock.json
  package.json
  types/blocks.ts
Labels: ui

🐛 audio block type fix
  components/admin/templates/block-editors/audio-editor.tsx
  types/blocks.ts
Labels: ui

🐛 type fixes
  components/admin/templates/block-editors/button-editor.tsx
  components/admin/templates/block-editors/cta-editor.tsx
  components/admin/templates/render-blocks/audio.tsx
  components/admin/templates/render-blocks/button.tsx
  components/admin/templates/render-blocks/contact-form.tsx
  components/admin/templates/render-blocks/cta.tsx
  components/admin/templates/render-blocks/faq.tsx
  components/admin/templates/render-blocks/footer.tsx
  components/admin/templates/render-blocks/grid.tsx
  components/admin/templates/render-blocks/header.tsx
  components/admin/templates/render-blocks/hero.tsx
  components/admin/templates/render-blocks/image.tsx
  components/admin/templates/render-blocks/quote.tsx
  components/admin/templates/render-blocks/service-areas.tsx
  components/admin/templates/render-blocks/services.tsx
  components/admin/templates/render-blocks/testimonial.tsx
  components/admin/templates/render-blocks/text.tsx
  components/admin/templates/render-blocks/video.tsx
  components/admin/templates/template-editor-toolbar.tsx
  components/admin/templates/template-editor.tsx
Labels: ui

📦 type issues
  components/admin/templates/block-editors/contact-form-editor.tsx
  components/admin/templates/block-editors/faq-editor.tsx
  components/admin/templates/block-editors/footer-editor.tsx
  components/admin/templates/block-editors/header-editor.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/block-editors/image-editor.tsx
  components/admin/templates/block-editors/json-fallback-editor.tsx
  components/admin/templates/block-editors/quote-editor.tsx
  components/admin/templates/block-editors/services-editor.tsx
  components/admin/templates/block-editors/text-editor.tsx
  components/admin/templates/block-editors/video-editor.tsx
Labels: ui

📦 type issue
  components/admin/templates/block-editors/testimonial-editor.tsx
  components/admin/templates/presets/preview/page.tsx
Labels: ui

🐛 type fix
  components/admin/templates/presets/templatePresets.ts
Labels: ui

📦 type issue
  components/admin/templates/reorderable-block-list.tsx
Labels: ui

📦 type issues
  components/admin/templates/block-editors/block-field.tsx
  components/editor/block-settings-drawer.tsx
Labels: ui

📦 type issue
  components/admin/templates/page-settings-modal.tsx
Labels: ui

🐛 type fix
  lib/presets.ts
  types/template.ts
Labels: none

📦 hero full image height
  admin/lib/zod/blockSchema.ts
  components/admin/domain-status-badge.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/render-blocks/hero-natural-height.tsx
  components/admin/templates/render-blocks/hero.tsx
  hooks/useIsMobile.ts
Labels: ui

📦 Google Search (GSC)
  .env.example
  app/_sites/[slug]/page.tsx
  app/admin/sites/[slug]/dashboard.tsx
  app/admin/templates/gsc-bulk-stats/page.tsx
  app/api/admin/resubmit-site/route.ts
  app/api/gsc/oauth/callback/route.ts
  app/api/gsc/oauth/start/route.ts
  app/api/gsc/performance/all/route.ts
  app/api/gsc/performance/route.ts
  app/api/gsc/status/route.ts
  app/sites/[slug]/[page]/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/gsc-bulk-stats-table.tsx
  components/admin/gsc-status-badge.tsx
  components/admin/templates/templates-index-table.tsx
  components/head/MetaHead.tsx
  components/sites/site-renderer.tsx
  components/ui/table.tsx
  hooks/useAutoPingOnPublish.ts
  lib/gsc/getAllValidOAuthClients.ts
  lib/gsc/getValidOAuthClient.ts
  lib/pingSearchEngines.ts
  lib/seo/generateMetadata.ts
  next.config.mjs
  package-lock.json
  package.json
  tests/snapshot.tsx
Labels: tests, ui

📦 legal terms and privacy
  app/legal/PrivacyContent.tsx
  app/legal/TermsContent.tsx
  app/legal/layout.tsx
  app/legal/page.tsx
  app/legal/privacy/page.tsx
  app/legal/terms/page.tsx
  app/page.tsx
  package-lock.json
  package.json
  tailwind.config.ts
Labels: none

📦 stripe integration
  .env.example
  app/api/stripe/create-checkout-session/route.ts
  app/api/stripe/stripe-webhook/route.ts
  app/claim-success/page.tsx
  app/claim/[domain]/page.tsx
  components/admin/campaigns/campaign-panel.tsx
  components/admin/campaigns/claim-poster.tsx
  components/claim/claim-page.tsx
  lib/stripe/createCheckoutSession.ts
  package-lock.json
  package.json
  types/campaign.types.ts
Labels: ui

🐛 stripe integration fix
  app/api/stripe/create-checkout-session/route.ts
  app/api/stripe/stripe-webhook/route.ts
Labels: none

📦 template table filtering and archiving
  components/admin/templates/row-actions.tsx
  components/admin/templates/templates-index-table.tsx
  styles/globals.css
Labels: ui

📦 bump
  components/admin/templates/templates-index-table.tsx
Labels: ui

🐛 fixed most save issues
  admin/lib/saveTemplate.ts
  admin/lib/validateTemplate.ts
  admin/lib/zod/templateSaveSchema.ts
  admin/utils/normalizeTemplate.ts
  app/admin/templates/new/page.tsx
  app/api/templates/rename/route.ts
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/block-adder-grouped.tsx
  components/admin/seo-preview-thumbnail.tsx
  components/admin/seo-share-card-panel.tsx
  components/admin/template-settings-panel/sidebar-settings.tsx
  components/admin/templates/edit-wrapper.tsx
  components/admin/templates/panels/identity-panel.tsx
  components/admin/templates/panels/pages-panel.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor.tsx
  components/admin/templates/template-json-editor.tsx
  components/admin/templates/templates-index-table.tsx
  components/admin/templates/use-template-editor-state.ts
  components/editor/live-editor-preview.tsx
  components/ui/safe-trigger-button.tsx
  hooks/usePageCountDebugger.ts
  hooks/useTemplateInsert.ts
  hooks/validateTemplateBlocks.ts
  package-lock.json
  package.json
  scripts/fix_nested_data_data.js
  types/template.ts
Labels: scripts, ui

🐛 phone saving fix
  admin/lib/saveTemplate.ts
  admin/lib/zod/templateSaveSchema.ts
  admin/utils/normalizeTemplate.ts
  components/editor/live-editor-preview.tsx
  lib/createDefaultBlock.ts
  types/template.ts
  types/template.types.ts
Labels: ui

📦 footer dark mode
  components/admin/templates/render-blocks/footer.tsx
Labels: ui

🐛 dark mode fix
  components/admin/templates/block-editors/contact-form-editor.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/contact-form.tsx
  components/admin/templates/render-blocks/testimonial.tsx
  components/sites/site-renderer.tsx
  components/ui/theme-scope.tsx
Labels: ui

📦 dark light mode
  admin/lib/saveTemplate.ts
  components/admin/templates/block-editors/testimonial-editor.tsx
  components/admin/templates/device-preview-wrapper.tsx
  components/admin/templates/render-blocks/contact-form.tsx
  components/admin/templates/render-blocks/faq.tsx
  components/admin/templates/render-blocks/service-areas.tsx
Labels: ui

🐛 build fix
  app/admin/templates/[[...slug]]/page.tsx
Labels: none

🐛 build fix
  components/editor/json-editor-overlay.tsx
Labels: ui

🐛 buildfix
  components/editor/editor-content-overlay.tsx
Labels: ui

📦 sitemap and robots
  app/api/robots.txt/[domain]/route.ts
  app/robots.txt/route.ts
  app/sitemap.xml/[domain]/route.ts
  app/sitemap.xml/route.ts
  public/robots.txt
Labels: none
