Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

feat(restaurant): batch listing importer + findPlace (CedarSites outreach engine)
  app/api/import-listing/route.ts
  docs/RESTAURANT_VERTICAL.md
  lib/rebuild/__tests__/importListing.test.ts
  lib/rebuild/importListing.ts
  package.json
  scripts/import-listings-batch.ts
Labels: scripts

feat(restaurant): batch listing importer + findPlace (CedarSites outreach engine) (#180)
  app/api/import-listing/route.ts
  docs/RESTAURANT_VERTICAL.md
  lib/rebuild/__tests__/importListing.test.ts
  lib/rebuild/importListing.ts
  package.json
  scripts/import-listings-batch.ts
Labels: scripts

feat(restaurant): claim flow for operator-assembled drafts (CedarSites)
  app/api/auth/set-session/route.ts
  app/api/claim-draft/[id]/route.ts
  app/api/import-listing/route.ts
  app/auth/callback/route.ts
  app/claim-site/[id]/page.tsx
  docs/RESTAURANT_VERTICAL.md
  lib/auth/__tests__/siteClaimToken.test.ts
  lib/auth/claimPendingSiteDraft.ts
  lib/auth/siteClaimToken.ts
  scripts/import-listings-batch.ts
  supabase/migrations/20260705_claim_operator_draft.sql
Labels: scripts

feat(restaurant): claim flow for operator-assembled drafts (CedarSites) (#181)
  app/api/auth/set-session/route.ts
  app/api/claim-draft/[id]/route.ts
  app/api/import-listing/route.ts
  app/auth/callback/route.ts
  app/claim-site/[id]/page.tsx
  docs/RESTAURANT_VERTICAL.md
  lib/auth/__tests__/siteClaimToken.test.ts
  lib/auth/claimPendingSiteDraft.ts
  lib/auth/siteClaimToken.ts
  scripts/import-listings-batch.ts
  supabase/migrations/20260705_claim_operator_draft.sql
Labels: scripts

feat(restaurant): auto-detect menu photos in listing import
  app/api/import-listing/route.ts
  lib/rebuild/importListing.ts
  lib/rebuild/menuFromPhotos.ts
  package.json
  scripts/import-listings-batch.ts
  scripts/listing-smoke.ts
Labels: scripts

feat(restaurant): auto-detect menu photos in listing import (#182)
  app/api/import-listing/route.ts
  lib/rebuild/importListing.ts
  lib/rebuild/menuFromPhotos.ts
  package.json
  scripts/import-listings-batch.ts
  scripts/listing-smoke.ts
Labels: scripts

feat(restaurant): Yelp photo source augments listing import
  app/api/import-listing/route.ts
  lib/rebuild/__tests__/importListingYelp.test.ts
  lib/rebuild/importListingYelp.ts
  scripts/import-listings-batch.ts
  scripts/listing-smoke.ts
Labels: scripts

feat(restaurant): Yelp photo source augments listing import (#183)
  app/api/import-listing/route.ts
  lib/rebuild/__tests__/importListingYelp.test.ts
  lib/rebuild/importListingYelp.ts
  scripts/import-listings-batch.ts
  scripts/listing-smoke.ts
Labels: scripts

chore(restaurant): menu hit-rate tally in the batch importer
  scripts/import-listings-batch.ts
Labels: scripts

chore(restaurant): menu hit-rate tally in the batch importer (#184)
  scripts/import-listings-batch.ts
Labels: scripts

feat(restaurant): print-ready QR per lead in the batch importer
  scripts/import-listings-batch.ts
Labels: scripts

chore: gitignore CedarSites listing-import working files (claim tokens)
  .gitignore
Labels: none

feat(restaurant): print-ready QR per lead in the batch importer (#185)
  .gitignore
  scripts/import-listings-batch.ts
Labels: scripts

feat(restaurant): /restaurants public landing (owner-facing vertical page)
  app/rebuild/page.tsx
  app/restaurants/page.tsx
Labels: none

feat(restaurant): /restaurants public landing (owner-facing vertical page) (#186)
  app/rebuild/page.tsx
  app/restaurants/page.tsx
Labels: none

feat(restaurant): surface /restaurants in nav + reseller vertical section
  app/partners/resellers/page.tsx
  components/site/site-header.tsx
Labels: ui

feat(restaurant): surface /restaurants in nav + reseller vertical section (#187)
  app/partners/resellers/page.tsx
  components/site/site-header.tsx
Labels: ui

feat(commerce): two-tier "hub" referral override (out of QS share)
  app/api/admin/referrals/set-hub/route.ts
  docs/MONETIZATION.md
  lib/commerce/__tests__/hubOverride.test.ts
  lib/commerce/orders.ts
  lib/commerce/partner-terms.ts
  supabase/migrations/20260706_referral_hub_override.sql
Labels: none

feat(commerce): two-tier "hub" referral override (out of QS share) (#188)
  app/api/admin/referrals/set-hub/route.ts
  docs/MONETIZATION.md
  lib/commerce/__tests__/hubOverride.test.ts
  lib/commerce/orders.ts
  lib/commerce/partner-terms.ts
  supabase/migrations/20260706_referral_hub_override.sql
Labels: none

feat(commerce): hub referral UX — auto-link on join, dashboard, homepage
  app/api/admin/referrals/set-hub/route.ts
  app/api/partners/join/route.ts
  app/partners/dashboard/page.tsx
  components/home/home-client.tsx
  lib/commerce/partnerStats.ts
  middleware.ts
  supabase/migrations/20260706_hub_default_override.sql
Labels: ui

feat(commerce): hub referral UX — auto-link on join, dashboard, homepage (#189)
  app/api/admin/referrals/set-hub/route.ts
  app/api/partners/join/route.ts
  app/partners/dashboard/page.tsx
  components/home/home-client.tsx
  lib/commerce/partnerStats.ts
  middleware.ts
  supabase/migrations/20260706_hub_default_override.sql
Labels: ui

feat(restaurant): admin outreach pipeline dashboard
  app/admin/outreach/page.tsx
  app/api/admin/outreach/delete/route.ts
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/outreach-actions.tsx
  supabase/migrations/20260706_claim_operator_draft_label.sql
Labels: ui

feat(restaurant): admin outreach pipeline dashboard (#190)
  app/admin/outreach/page.tsx
  app/api/admin/outreach/delete/route.ts
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/outreach-actions.tsx
  supabase/migrations/20260706_claim_operator_draft_label.sql
Labels: ui

fix(revenue): subtract hub overrides from QuickSites net take
  app/admin/revenue/page.tsx
  app/api/admin/revenue/route.ts
  lib/commerce/__tests__/revenue.test.ts
  lib/commerce/revenue.ts
Labels: none

fix(revenue): subtract hub overrides from QuickSites net take (#191)
  app/admin/revenue/page.tsx
  app/api/admin/revenue/route.ts
  lib/commerce/__tests__/revenue.test.ts
  lib/commerce/revenue.ts
Labels: none

feat(restaurants): delivered.menu as the default deliverable restaurant URL
  .env.example
  app/admin/outreach/page.tsx
  app/sites/[slug]/[[...rest]]/page.tsx
  docs/RESTAURANT_VERTICAL.md
  lib/menu/deliveredMenu.ts
  middleware.ts
  scripts/import-listings-batch.ts
Labels: scripts

feat(restaurants): delivered.menu as the default deliverable restaurant URL (#192)
  .env.example
  app/admin/outreach/page.tsx
  app/sites/[slug]/[[...rest]]/page.tsx
  docs/RESTAURANT_VERTICAL.md
  lib/menu/deliveredMenu.ts
  middleware.ts
  scripts/import-listings-batch.ts
Labels: scripts

feat(restaurants): delivered.menu directory + claim CTA on draft previews
  app/delivered/page.tsx
  app/sites/[slug]/[[...rest]]/page.tsx
  components/sites/menu-claim-bar.tsx
  docs/RESTAURANT_VERTICAL.md
  lib/menu/deliveredMenu.ts
  middleware.ts
Labels: ui

feat(restaurants): delivered.menu directory + claim CTA on draft previews (#193)
  app/delivered/page.tsx
  app/sites/[slug]/[[...rest]]/page.tsx
  components/sites/menu-claim-bar.tsx
  docs/RESTAURANT_VERTICAL.md
  lib/menu/deliveredMenu.ts
  middleware.ts
Labels: ui

docs: claim-flow verification plan (delivered.menu site claim hardening)
  CLAUDE.md
  docs/CLAIM_VERIFICATION_PLAN.md
Labels: docs

docs: claim-flow verification plan (delivered.menu site claim hardening) (#194)
  CLAUDE.md
  docs/CLAIM_VERIFICATION_PLAN.md
Labels: docs

feat(claim): verify business control before transferring an outreach draft
  .env.example
  app/api/admin/claim/verify/route.ts
  app/api/claim/verify/confirm/route.ts
  app/api/claim/verify/send/route.ts
  app/claim-site/[id]/page.tsx
  app/claim-site/[id]/verify/page.tsx
  components/admin/outreach-actions.tsx
  components/claim/claim-verify-form.tsx
  docs/CLAIM_VERIFICATION_PLAN.md
  lib/auth/__tests__/claimVerify.test.ts
  lib/auth/claimPendingSiteDraft.ts
  lib/auth/claimVerify.ts
  lib/claim/resolveListingPhone.ts
  lib/flags/claimVerification.ts
  lib/sms/sendSms.ts
  supabase/migrations/20260706_claim_verifications.sql
Labels: ui

feat(claim): verify business control before transferring an outreach draft (#195)
  .env.example
  app/api/admin/claim/verify/route.ts
  app/api/claim/verify/confirm/route.ts
  app/api/claim/verify/send/route.ts
  app/claim-site/[id]/page.tsx
  app/claim-site/[id]/verify/page.tsx
  components/admin/outreach-actions.tsx
  components/claim/claim-verify-form.tsx
  docs/CLAIM_VERIFICATION_PLAN.md
  lib/auth/__tests__/claimVerify.test.ts
  lib/auth/claimPendingSiteDraft.ts
  lib/auth/claimVerify.ts
  lib/claim/resolveListingPhone.ts
  lib/flags/claimVerification.ts
  lib/sms/sendSms.ts
  supabase/migrations/20260706_claim_verifications.sql
Labels: ui

docs: bring central docs current with delivered.menu, claim verification, hub override
  CLAUDE.md
  docs/MODEL_A_PLAN.md
  docs/RESTAURANT_VERTICAL.md
Labels: docs

docs: bring central docs current with delivered.menu, claim verification, hub override (#196)
  CLAUDE.md
  docs/MODEL_A_PLAN.md
  docs/RESTAURANT_VERTICAL.md
Labels: docs

feat(editor): editor UX polish — instant title, block discoverability, safer destructive actions
  components/admin/templates/template-editor-toolbar.tsx
  components/editor/live-editor/LiveEditorPreviewFrame.tsx
Labels: ui

feat(editor): editor UX polish — instant title, block discoverability, safer destructive actions (#197)
  components/admin/templates/template-editor-toolbar.tsx
  components/editor/live-editor/LiveEditorPreviewFrame.tsx
Labels: ui

feat(rebuild): import Shopify stores into a real, purchasable storefront
  app/api/rebuild/route.ts
  lib/commerce/shopifyCatalog.ts
  lib/rebuild/__tests__/assembleDraft.test.ts
  lib/rebuild/__tests__/importShopify.test.ts
  lib/rebuild/assembleDraft.ts
  lib/rebuild/importShopify.ts
  lib/rebuild/inferSiteSpec.ts
Labels: none

feat(commerce): product photo gallery on the storefront detail page
  app/p/[slug]/__tests__/product-detail.test.tsx
  app/p/[slug]/page.tsx
  app/p/[slug]/product-detail.tsx
Labels: none

feat(rebuild): import Shopify stores into a real, purchasable storefront + product gallery (#198)
  app/api/rebuild/route.ts
  app/p/[slug]/__tests__/product-detail.test.tsx
  app/p/[slug]/page.tsx
  app/p/[slug]/product-detail.tsx
  lib/commerce/shopifyCatalog.ts
  lib/rebuild/__tests__/assembleDraft.test.ts
  lib/rebuild/__tests__/importShopify.test.ts
  lib/rebuild/assembleDraft.ts
  lib/rebuild/importShopify.ts
  lib/rebuild/inferSiteSpec.ts
Labels: none

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'
