Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

📦 middleware update for new published_sites table flow
  app/sites/[slug]/[[...rest]]/page.tsx
  middleware.ts
Labels: none

📦 domain routing
  app/api/admin/sites/publish/route.ts
  app/api/templates/[id]/custom-domain/route.ts
  app/api/templates/state/route.ts
  components/admin/templates/panels/domain-panel.tsx
Labels: ui

🐛 publishing version fix
  app/api/admin/sites/publish/route.ts
  app/api/templates/state/route.ts
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-action-toolbar/TemplateActionToolbar.tsx
  components/admin/templates/template-action-toolbar/saveUtils.ts
  components/admin/templates/template-action-toolbar/useCommitQueue.ts
  components/admin/templates/template-action-toolbar/versionsApi.ts
  components/admin/templates/template-editor-content.tsx
  components/dev/block-inspector-overlay.tsx
  components/editor/rich-text-editor.tsx
  components/ui/portal.tsx
Labels: ui

📦 header and footer edit from template editor
  components/admin/block-adder-grouped.tsx
  components/admin/site-settings-panel.tsx
  components/admin/templates/_depracated_global-chrome-editors.tsx
  components/admin/templates/_deprecated_sidebar/_deprecated_TemplateTruthTracker.tsx
  components/admin/templates/render-blocks/footer.tsx
  components/admin/templates/render-blocks/header.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/admin/templates/template-action-toolbar/TemplateActionToolbar.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-page-editor.tsx
  components/editor/_deprecated_live-editor-preview.tsx
  components/editor/dynamic-block-editor.tsx
  components/editor/floating-add-block-here.tsx
  components/editor/live-editor/BlocksList.tsx
  components/editor/live-editor/EmptyAddBlock.tsx
  components/editor/live-editor/LiveEditorPreviewFrame.tsx
  components/editor/sortable-block-wrapper.tsx
  components/ui/leaflet-footer-map.tsx
  components/ui/leaflet-map-inner.tsx
  styles/globals.css
Labels: ui

📦 scheduling service list tighten
  app/api/scheduler/services/route.ts
  components/admin/templates/panels/domain-panel.tsx
  components/admin/templates/render-blocks/scheduler.tsx
Labels: ui

📦 modal updates
  app/layout.tsx
  app/sites/[slug]/[[...rest]]/page.tsx
  components/admin/block-adder-grouped.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/footer.tsx
  components/admin/templates/render-blocks/grid.tsx
  components/admin/templates/render-blocks/hours.tsx
  components/admin/templates/render-blocks/scheduler.tsx
  components/admin/templates/template-editor-content.tsx
  components/ui/drawer-shell.tsx
  components/ui/modal-shell.tsx
  styles/globals.css
  tailwind.config.ts
Labels: ui

📦 point seven studio
  app/api/companies/hours/route.ts
  app/api/templates/commit/route.ts
  components/admin/templates/block-editors/hours-editor-redirect.tsx
  components/admin/templates/panels/hours-panel.tsx
  components/admin/templates/panels/useCompanyHours.ts
  components/admin/templates/render-blocks/scheduler.tsx
  components/editor/live-editor/LiveEditorPreviewFrame.tsx
  components/sites/render-blocks/scheduler.tsx
  components/ui/scroll-area.tsx
  helpers/company.ts
  lib/blockRegistry.tsx
  lib/renderBlockRegistry.ts
  middleware.ts
  public/logo_pointseven_v1.png
  public/logo_pointseven_v2.png
Labels: ui

📦 org middleware routing
  middleware.ts
Labels: none

📦 point seven portfolio updates
  app/admin/features/manage/page.tsx
  app/admin/org/page.tsx
  app/api/orgs/[slug]/portfolio/upsert/route.ts
  app/orgs/[slug]/about/page.tsx
  app/orgs/[slug]/page.tsx
  app/orgs/[slug]/portfolio/admin/page.tsx
  app/orgs/[slug]/portfolio/client-gallery.tsx
  app/orgs/[slug]/portfolio/page.tsx
  components/admin/features/gallery-upload-card.tsx
  components/admin/features/image-upload-card.tsx
  middleware.ts
Labels: ui

📦 portfolio update
  app/admin/features/manage/page.tsx
  app/admin/org/page.tsx
  app/api/admin/org/update/route.ts
  app/api/orgs/[slug]/portfolio/upsert/route.ts
  app/orgs/[slug]/portfolio/client-gallery.tsx
Labels: none

📦 update portfolio
  app/admin/features/manage/page.tsx
  app/orgs/[slug]/page.tsx
  app/orgs/[slug]/portfolio/client-gallery.tsx
Labels: none

📄 Update changelog [skip ci]
  CHANGELOG.md
Labels: docs

📦 org bio page display update
  .tsbuildinfo
  app/admin/org/page.tsx
  app/api/admin/org/update/route.ts
  app/api/admin/sites/unpublish/route.ts
  app/sites/[slug]/[[...rest]]/page.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/panels/domain-panel.tsx
Labels: ui

📦 purple swapped with blue
  .tsbuildinfo
  app/orgs/[slug]/page.tsx
  app/orgs/[slug]/portfolio/client-gallery.tsx
  app/orgs/[slug]/portfolio/page.tsx
  app/page.tsx
  public/logo-v0.png
  public/logo_v0-1.png
  public/qs-default-favicon-0.ico
  public/qs-default-favicon.ico
Labels: none

📦 blue replace purple
  styles/globals.css
  tailwind.config.ts
Labels: ui

🐛 FAQ and Testimonial render fix
  .tsbuildinfo
  components/admin/templates/render-blocks/faq.tsx
  components/admin/templates/render-blocks/testimonial.tsx
Labels: ui

🐛 FAQ and Testimonials render fix and home logo
  .tsbuildinfo
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/header.tsx
Labels: ui

📦 hero phone number larger
  .tsbuildinfo
  components/admin/templates/render-blocks/hero.tsx
Labels: ui

🐛 slug update fix
  .tsbuildinfo
  admin/lib/saveAsTemplate.ts
  admin/lib/saveTemplate.ts
  app/api/admin/sites/publish/route.ts
  app/api/claim-site/route.ts
  app/api/dev/seed/route.ts
  app/api/fix-template/route.ts
  app/api/templates/[id]/edit/route.ts
  app/api/templates/[id]/slug/route.ts
  app/api/templates/base-name/route.ts
  app/api/templates/commit/route.ts
  app/api/templates/rename/route.ts
  app/template/[key]/edit/page.tsx
  components/admin/templates/fields/SlugField.tsx
  components/admin/templates/panels/domain-panel.tsx
  components/admin/templates/panels/slug-panel.tsx
Labels: ui

📦 new template exterior
  .tsbuildinfo
  admin/lib/zod/blockSchema.ts
  app/pnw-prestige/page.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/index.ts
  components/sites/render-blocks/exterior-cleaning-agency.tsx
  lib/blockRegistry.core.ts
  lib/blockRegistry.tsx
  lib/blocks/defaultBlockContent.ts
  lib/renderBlockRegistry.ts
  lib/templates/pnw-prestige/index.ts
  lib/utils/normalizeBlock.ts
  scripts/migrate-exterior-agency-flatten.ts
  scripts/seed-pnw-prestige.ts
  types/blocks.ts
Labels: scripts, ui

📦 dynamic typing of services
  .tsbuildinfo
  admin/lib/zod/blockSchema.ts
  components/admin/templates/block-editors/exterior-agency-editor.tsx
  components/admin/templates/block-editors/exterior-agency.tsx
  components/admin/templates/block-editors/index.ts
  components/sites/render-blocks/exterior-cleaning-agency.tsx
  components/ui/typewriter-glow.tsx
  lib/blocks/defaultBlockContent.ts
Labels: ui

📦 typewriter glow update rotate services
  .tsbuildinfo
  components/sites/render-blocks/exterior-cleaning-agency.tsx
  components/ui/typewriter-glow.tsx
Labels: ui

📦 typewriter adjustment
  .tsbuildinfo
  components/sites/render-blocks/exterior-cleaning-agency.tsx
  components/ui/typewriter-glow.tsx
Labels: ui

📦 added logo for pnw
  .tsbuildinfo
  components/sites/render-blocks/exterior-cleaning-agency.tsx
  public/logos/pnw-logo.png
Labels: ui

📦 favicon updates pnw
  .tsbuildinfo
  app/favicon.ico/route.ts
  public/favicons/pnw-exterior-favicon.ico
Labels: none

ElectInfo Editor and Print Updates
  admin/lib/zod/blockSchema.ts
  app/admin/candidate/[slug]/edit/page.tsx
  app/admin/candidate/[slug]/print/page.tsx
  app/admin/short-links/page.tsx
  app/api/admin/candidate/plan/route.ts
  app/api/admin/candidate/save/route.ts
  app/api/electinfo/unlock-request/route.ts
  app/candidate/[slug]/page.tsx
  components/admin/candidate/BlocksEditor.tsx
  components/admin/short-links/PlanToggle.tsx
  components/blocks/candidate/donate.tsx
  components/blocks/candidate/hero.tsx
  components/blocks/candidate/print-qr.tsx
  components/blocks/candidate/volunteer.tsx
  components/blocks/candidate_donations.tsx
  components/electinfo/DonationsBlock.tsx
  components/electinfo/GatedFeature.tsx
  components/electinfo/UnlockCTA.tsx
  components/qr/DownloadQR.tsx
  components/qr/StickerSheet.tsx
  components/render/DemoBlockRenderer.tsx
  lib/blockRegistry.tsx
  lib/blocks/defaultBlockContent.ts
  lib/electinfo/entitlements.ts
  lib/electinfo/features.ts
  lib/qr/sticker.ts
  lib/renderBlockRegistry.ts
  lib/sites/context.ts
  types/blocks.ts
Labels: ui

📦 electinfo qr print
  .tsbuildinfo
  admin/lib/handleTemplateSave.ts
  app/api/admin/compliance/docs/[id]/route.ts
  app/api/admin/compliance/docs/endorsement/route.ts
  app/api/admin/compliance/enable/route.ts
  app/api/cheer/route.ts
  app/api/claim-campaign/route.ts
  app/api/deploy-webhook/route.ts
  app/api/feedback-history/route.ts
  app/api/industries/route.ts
  app/api/public/checkout/route.ts
  app/api/request-support/route.ts
  app/api/send-thanks/route.ts
  app/api/supporters/route.ts
  components/admin/Providers.tsx
  lib/supabase/getServerUserProfile.ts
  lib/supabase/lookupSlugByHost.ts
  scripts/notify-webhooks.ts
Labels: scripts, ui

🐛 typecheck fix
  .tsbuildinfo
  admin/lib/logBrandingEvent.ts
Labels: none

📄 Update changelog [skip ci]
  CHANGELOG.md
Labels: docs

Add Twilio whisper and forward-with-whisper endpoints for call forwarding with whisper messages
  .husky/pre-push
  .npmrc
  .nvmrc
  .tsbuildinfo
  admin/tsconfig.json
  app/api/twilio/forward-with-whisper/route.ts
  app/api/twilio/whisper/route.ts
  package.json
  public/images/hero/hero-cook.png
  quickpush.sh
  tsconfig.base.json
  tsconfig.json
  tsconfig/base.json
  types/_tripwires/branding_logs.assert.ts
  types/supabase.ts
Labels: none

📦 whisper
  .eslintrc.cjs
  .eslintrc.js
  .husky/pre-commit
  .husky/pre-push
  app/api/twilio/whisper/route.ts
  playwright.config.ts
  tests/__screenshots__/main/.last-run.json
  tsconfig.base.json
Labels: tests

📦 whisper
  admin/lib/links/hooks/useLinkBuilder.ts
Labels: none

Fix React Server Components CVE vulnerabilities
  admin/package.json
  package.json
Labels: none

📦 log with slack
  admin/lib/logWithSlack.ts
Labels: none

📦 log with slack
  .tsbuildinfo
  admin/lib/logWithSlack.ts
Labels: none

📦 ss
  admin/lib/logWithSlack.ts
Labels: none

📦 ss
  admin/lib/logWithSlack.ts
Labels: none

📦 ss
  admin/lib/logWithSlack.ts
Labels: none

📦 ss
  admin/lib/saveAsTemplate.ts
Labels: none

📦 ss
  admin/lib/saveAsTemplate.ts
Labels: none

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'
