Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'

fix(types): site/resolve (sites.hostname->domain) + useGlowTheme (real cols)
  app/api/public/site/resolve/route.ts
  hooks/useGlowTheme.tsx
Labels: none

fix(types): resolve the profiles-table cluster (21 files)
  app/admin/billing/map/page.tsx
  app/admin/referrals/payout-runs/[id]/page.tsx
  app/admin/referrals/payout-runs/page.tsx
  app/admin/referrals/payout-wizard/page.tsx
  app/admin/tax/page.tsx
  app/admin/tax/payouts/new/page.tsx
  app/api/admin/billing/export/route.ts
  app/api/admin/billing/paste-sync/route.ts
  app/api/admin/merchants/ensure/route.ts
  app/api/admin/products/route.ts
  app/api/org/resolve/route.ts
  app/api/public/products/route.ts
  app/api/referrals/export/route.ts
  app/api/referrals/mark-paid/route.ts
  app/api/referrals/payout-runs/export-ledger/route.ts
  app/api/referrals/payout-runs/export/route.ts
  app/api/referrals/payout-runs/route.ts
  app/api/referrals/revert-paid/route.ts
  app/api/tax/iris-export/route.ts
  hooks/useUserMap.ts
  lib/tax/get1099Candidates.ts
Labels: none

docs(types): phase-2 handoff + nullability cleanups
  SUPABASE_TYPES_MIGRATION_HANDOFF.md
Labels: docs

chore(types): complete Supabase types migration — remove phase-2 handoff
  SUPABASE_TYPES_MIGRATION_HANDOFF.md
Labels: docs

feat(home): guest-build quick-start (phase 1) — anon session → draft, behind flag
  app/api/auth/whoami/route.ts
  app/api/templates/create/route.ts
  app/page.tsx
  components/home/guest-start.tsx
  hooks/useSafeAuth.ts
  lib/auth/guestSession.ts
  lib/flags/guestBuild.ts
  lib/providers/SessionProvider.tsx
Labels: ui

feat(home): guest editor chrome + admin hardening + publish gate (phase 2)
  app/admin/layout.tsx
  app/api/templates/[id]/publish/route.ts
  components/admin/admin-chrome.tsx
  components/admin/guest-publish-banner.tsx
  middleware.ts
Labels: ui

feat(ai): per-guest AI generation cap (phase 3)
  app/api/faq/generate/route.ts
  app/api/favicon/generate/route.ts
  app/api/hero/generate-image/route.ts
  app/api/hero/suggest/route.ts
  app/api/icon/generate/route.ts
  app/api/services/suggest/route.ts
  app/api/testimonials/generate/route.ts
  lib/ai/guestGuard.ts
Labels: none

feat(preview): watermarked shareable guest preview (phase 4)
  app/preview/[[...rest]]/page.tsx
  components/admin/guest-publish-banner.tsx
  components/sites/preview-watermark.tsx
Labels: ui

security(rls): lock crown-jewel tables from the public anon key
  lib/gsc/getAllTokens.ts
  supabase/migrations/20260627_rls_lock_crown_jewels.sql
Labels: none

security(rls): lock user_profiles with owner-or-admin policies
  supabase/migrations/20260627_rls_user_profiles.sql
Labels: none

security(rls): lock leads PII; move public claim flow to a server route
  app/api/claim/lead/route.ts
  components/claim/claim-page.tsx
  supabase/migrations/20260627_rls_leads.sql
Labels: ui

security(rls): lock email_logs (admin-only read)
  supabase/migrations/20260627_rls_email_logs.sql
Labels: none

security(rls): batch-lock server-only secret/PII tables
  admin/lib/sendDigestEmails.ts
  supabase/migrations/20260627_rls_secrets_pii_batch.sql
Labels: none

security(rls): lock logs + contact-form PII (batch 3)
  supabase/migrations/20260627_rls_logs_forms_batch.sql
Labels: none

fix(auth): reconcile split admin source (admin_users vs user_profiles.role)
  supabase/migrations/20260627_reconcile_admin_source.sql
Labels: none

security(rls): lock admin/owner-scoped tables (batch 4)
  supabase/migrations/20260627_rls_admin_owner_batch.sql
Labels: none

security(deps): upgrade Next.js 15.2.4 -> 15.2.6 (CVE-2025-66478, CVSS 10 RCE)
  CLAUDE.md
  package-lock.json
  package.json
Labels: docs

fix(build): cast published_sites.slug query in publishSite.ts (broke Vercel build)
  admin/utils/publishSite.ts
Labels: none

fix(build): replace fragile @ts-ignore'd supabase calls with (supabase as any)
  admin/utils/publishSite.ts
  app/admin/queue.tsx
  app/admin/sites/dashboard.tsx
  app/admin/viewer.tsx
  app/api/geocode/route.ts
Labels: none

fix(build): detype admin browser supabase client (kills fragile @ts-ignore class)
  admin/lib/saveSite.ts
  admin/lib/supabaseClient.ts
Labels: none

feat(pricing): redesign /pricing around the hybrid model (phase 1)
  app/pricing/page.tsx
  docs/PRICING_REDESIGN.md
Labels: none

feat(pricing): route free CTAs to the guest builder + add Phase 2 handoff
  app/build/page.tsx
  app/pricing/page.tsx
  docs/PRICING_PHASE2_HANDOFF.md
Labels: none

chore(types): cast dashboard_layouts queries in layout-editor to (supabase as any)
  components/admin/layout-editor.tsx
  components/admin/layout-editor.versioned.tsx
Labels: ui

feat(billing): wire pricing Phase 2 — agency subscription + take-rate finish
  .env.example
  app/api/admin/commerce/reconcile/route.ts
  app/api/billing/checkout/route.ts
  app/api/billing/webhooks/stripe/route.ts
  app/api/commerce/webhooks/stripe/route.ts
  app/api/cron/agency-site-sync/route.ts
  app/api/templates/[id]/publish/route.ts
  app/pricing/page.tsx
  docs/PRICING_PHASE2_HANDOFF.md
  docs/PRICING_REDESIGN.md
  lib/billing/agency.ts
  lib/billing/entitlements.ts
  lib/billing/plans.ts
  lib/commerce/orders.ts
  lib/commerce/refunds.ts
  vercel.json
Labels: none

security: remove hardcoded Supabase service-role key from scripts + add rotation runbook
  docs/SECRET_ROTATION_RUNBOOK.md
  scripts/fix_nested_data_data.js
  scripts/maintenance/backfill-industry-services.ts
  scripts/maintenance/fix-legacy-props.ts
Labels: scripts

ci(security): add gitleaks secret scan (CI workflow + graceful pre-commit hook)
  .github/workflows/secret-scan.yml
  .husky/pre-commit
Labels: none

feat(home): showcase real published sites on the homepage
  app/api/public/showcase/route.ts
  app/page.tsx
  components/home/site-showcase.tsx
  lib/home/featured-sites.ts
Labels: ui

feat(builder): first-run "Start your site" chooser (industry / template / blank)
  app/admin/templates/new/page.tsx
  app/api/templates/duplicate/route.ts
  app/api/templates/starters/route.ts
  components/admin/templates/start/start-your-site.tsx
  lib/builder/industryScaffold.ts
  lib/builder/starter-templates.ts
Labels: ui

feat(theme): extend industry presets to all industries + richer scaffold theming
  lib/builder/industryScaffold.ts
  lib/theme/industryPresets.ts
Labels: none

feat(home): generated showcase thumbnails + admin-selectable display mode
  app/api/admin/site-settings/showcase-mode/route.ts
  app/api/public/showcase/[slug]/thumb/route.tsx
  app/api/public/showcase/route.ts
  components/home/site-showcase.tsx
  lib/home/showcase-helpers.ts
  lib/settings/siteSettings.ts
  supabase/migrations/20260628_site_settings.sql
Labels: ui

feat(theme): wire industry theme presets through the public renderer
  components/theme/template-theme-wrapper.tsx
  lib/theme/accentHsl.ts
  lib/theme/resolveSiteTheme.ts
Labels: ui

feat(home): horizontal showcase row, more sites, admin hide; fix editor Pages tray contrast
  app/api/admin/site-settings/showcase-hidden/route.ts
  app/api/admin/site-settings/showcase-mode/route.ts
  app/api/public/showcase/route.ts
  components/admin/templates/page-manager-toolbar.tsx
  components/home/site-showcase.tsx
  lib/auth/adminUser.ts
  lib/home/featured-sites.ts
  lib/home/showcase-helpers.ts
Labels: ui

feat(home): showcase drag-reorder (admin) + loading skeleton + local cache
  app/api/admin/site-settings/showcase-order/route.ts
  app/api/public/showcase/route.ts
  components/home/site-showcase.tsx
  lib/home/showcase-helpers.ts
Labels: ui

fix(home): SSR the showcase so it shows for everyone (not just cached/admin)
  app/api/public/showcase/route.ts
  app/page.tsx
  components/home/home-client.tsx
  components/home/site-showcase.tsx
  lib/home/getShowcaseData.ts
Labels: ui

feat(admin): templates card view (hero thumbnails + content) with cards/table toggle
  components/admin/templates/TemplatesListClient.tsx
  components/admin/templates/templates-card-grid.tsx
Labels: ui

fix(home): drop admin-hidden sites from the SSR showcase payload
  app/page.tsx
Labels: none

fix(admin): admins see ALL templates in the list (not just their own/recent)
  app/api/admin/templates/list/route.ts
Labels: none

fix(admin): forward cookie + absolute origin in templates list prefetch
  app/admin/templates/list/page.tsx
Labels: none

feat(admin): automated AI demo-site generation (button + cron)
  .env.example
  app/admin/templates/list/page.tsx
  app/api/admin/demos/generate/route.ts
  app/api/cron/demo-refresh/route.ts
  components/admin/templates/generate-demos-button.tsx
  lib/builder/generateDemoSite.ts
  lib/builder/randomDemoSpec.ts
  supabase/migrations/20260629_publish_template_demo.sql
  vercel.json
Labels: ui

feat(admin): AI spend dashboard + gpt-image-1 pricing + nav links
  app/admin/ai-costs/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  lib/builder/generateDemoSite.ts
Labels: ui
