Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

hero image uploads
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/hero.tsx
Labels: ui

hero image bg vs above
  admin/lib/zod/blockSchema.ts
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/blocks-editor.tsx
  components/admin/templates/render-blocks/hero.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor.tsx
  components/admin/templates/template-page-editor.tsx
  components/admin/ui/block-preview-toggle.tsx
  types/blocks.ts
Labels: ui

borders cleanup
  components/admin/templates/template-editor.tsx
  components/admin/templates/template-page-editor.tsx
  components/admin/templates/template-settings-panel.tsx
  components/ui/collapsible-panel.tsx
Labels: ui

header image bucket upload
  admin/lib/zod/blockSchema.ts
  admin/lib/zod/templateSaveSchema.ts
  admin/utils/normalizeTemplate.ts
  app/admin/presets/edit/[id]/page.tsx
  app/admin/sites/page.tsx
  app/admin/templates/page.tsx
  components/admin/templates/block-editor-modal.tsx
  components/admin/templates/block-editor.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/block-editors/index.ts
  components/admin/templates/block-sidebar.tsx
  components/admin/templates/blocks-editor.tsx
  components/admin/templates/page-blocks-list.tsx
  components/admin/templates/render-blocks/grid.tsx
  components/admin/templates/sortable-block.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor.tsx
  components/admin/templates/template-page-editor.tsx
  components/admin/templates/template-settings-panel.tsx
  components/admin/templates/use-template-editor-state.ts
  components/ui/modal-wrapper.tsx
  components/ui/modal.tsx
  hooks/validateTemplateBlocks.ts
  lib/create-default-block-RESOLVE-DUP.ts
  lib/createDefaultBlock.ts
  lib/supabase/client.ts
  lib/uploadToStorage.ts
  types/template.ts
Labels: ui

WIP sites publishing
  app/admin/domains/new/page.tsx
  app/admin/domains/page.tsx
  app/admin/sites/new/page.tsx
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/AppHeader/mobile-drawer.tsx
  components/admin/templates/template-preview.tsx
  components/admin/templates/template-settings-panel.tsx
  types/template.ts
Labels: ui

WIP sites publishing 2
  admin/lib/saveSite.ts
  app/admin/admin/sites/new.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor.loader.tsx
  components/admin/templates/template-editor.tsx
  types/template.ts
Labels: ui

WIP new site create as separate path
  app/_sites/[slug]/page.tsx
  app/admin/admin/sites/new.tsx
  app/admin/sites/[slug]/page.tsx
  app/admin/sites/new/page.tsx
  app/api/site/[id]/route.ts
  app/site/[slug]/edit/page.tsx
  app/template/[slug]/edit/page.tsx
  app/template/[slug]/not-found.tsx
  app/template/[slug]/template-loader.ts
  app/template/layout.tsx
  app/template/metadata.ts
  components/admin/site-settings-panel.tsx
  components/site/editable-site-page-editor.tsx
  components/site/site-editor.tsx
  lib/supabase/server.ts
  lib/supabase/serverClient.ts
  lib/supabase/universal.ts
  types/site.ts
Labels: ui

template editor improvements
  components/admin/templates/device-preview-wrapper.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-page-editor.tsx
  components/admin/templates/template-preview-with-toggle.tsx
  components/editor/ai-suggestion-overlay.tsx
  components/editor/block-overlay-controls.tsx
  components/editor/block-settings-drawer.tsx
  components/editor/dynamic-block-editor.tsx
  components/editor/editor-content-overlay.tsx
  components/editor/editor-onboarding-tour.tsx
  components/editor/editor-sidebar-outline.tsx
  components/editor/floating-add-block-here.tsx
  components/editor/floating-add-page-button.tsx
  components/editor/grid-drag-handle.tsx
  components/editor/inline-block-type-picker.tsx
  components/editor/json-editor-overlay.tsx
  components/editor/live-editor-preview.tsx
  components/editor/motion-block-wrapper.tsx
  components/editor/shared-block-library.tsx
  components/editor/squatbot-overlay-toggle.tsx
  components/editor/theme-editor-panel.tsx
  components/editor/theme-presets-dropdown.tsx
  components/editor/theme-preview-area.tsx
  components/ui/industry-theme-scope.tsx
  hooks/useSyncReorder.ts
  lib/db/themeService.ts
  lib/themes/industryThemes.ts
  styles/globals.css
Labels: ui

middleware to preview sites locally at their URL
  app/_sites/[slug]/page.tsx
  middleware.ts
Labels: none

WIP adding blocks improvements
  components/admin/block-adder-grouped.tsx
  components/editor/floating-add-block-here.tsx
  components/editor/inline-block-type-picker.tsx
  components/editor/live-editor-preview.tsx
  components/editor/sortable-block-wrapper.tsx
  components/editor/sortable-block.tsx
  package-lock.json
  package.json
Labels: ui

template edit improvements
  app/_sites/[slug]/page.tsx
  app/layout.tsx
  app/sites/[slug]/[page]/page.tsx
  components/admin/templates/template-action-toolbar.tsx
  components/dev/squat-bot-panel.tsx
Labels: ui

light vs dark mode working
  app/sites/[slug]/[page]/page.tsx
  components/admin/templates/device-preview-wrapper.tsx
  components/admin/templates/template-editor-content.tsx
  components/editor/live-editor-preview.tsx
Labels: ui

add blocks picker fixed
  components/editor/live-editor-preview.tsx
Labels: ui

template improvements
  app/admin/theme-editor/page.tsx
  components/admin/Providers.tsx
  components/admin/block-adder-grouped.tsx
  components/admin/templates/page-card.tsx
  components/admin/templates/template-settings-panel.tsx
  components/admin/theme-control-panel.tsx
  components/admin/theme-device-preview.tsx
  components/admin/theme-preview-card.tsx
  components/editor/live-editor-preview.tsx
  components/editor/theme-editor-panel.tsx
  components/font-loader.tsx
  components/font-preload-head.tsx
  components/glow-effect.tsx
  components/google-font-loader.tsx
  components/responsive-preview-frame.tsx
  components/template-renderer.tsx
  components/ui/industry-theme-scope.tsx
  hooks/useThemeContext.tsx
  hooks/useThemePresets.ts
  lib/theme/fontMap.ts
  lib/theme/getFontClasses.ts
  lib/theme/industryPresets.ts
  lib/theme/themePresets.ts
  lib/theme/themeToClassnames.ts
  lib/themes/industryThemes.ts
  package-lock.json
  package.json
  scripts/download-google-fonts.ts
  styles/fonts.css
  styles/globals.css
  tailwind.config.ts
Labels: scripts, ui

lint fix
  app/admin/admin/sites/new.tsx
  app/admin/templates/[slug]/page.tsx
  components/editor/grid-drag-handle.tsx
  components/editor/live-editor-preview.tsx
  components/site/editable-site-page-editor.tsx
  components/site/site-editor.tsx
  components/template-renderer.tsx
  lib/createDefaultBlock.ts
  lib/roastbot/suggestFix.ts
  lint-report.json
  lint-summary.md
  lint-summary.txt
Labels: ui, docs

build fix
  _pages-legacy/portfolio/[handle].tsx
Labels: none

build fix
  app/api/log-client-error/route.ts
Labels: none

build fix
  app/template/[slug]/edit/page.tsx
Labels: none

build fix
  components/admin/templates/block-editors/audio-editor.tsx
  components/admin/templates/block-editors/block-field.tsx
  components/admin/templates/block-editors/button-editor.tsx
  components/admin/templates/block-editors/cta-editor.tsx
  components/admin/templates/block-editors/footer-editor.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/block-editors/image-editor.tsx
  components/admin/templates/block-editors/json-fallback-editor.tsx
  components/admin/templates/block-editors/quote-editor.tsx
  components/admin/templates/block-editors/services-editor.tsx
  components/admin/templates/block-editors/testimonial-editor.tsx
  components/admin/templates/block-editors/text-editor.tsx
  components/admin/templates/block-editors/video-editor.tsx
Labels: ui

build fix
  components/admin/templates/block-presets/PresetPreviewCard.tsx
Labels: ui

build fix
  components/admin/templates/block-presets/block-presets.ts
Labels: ui

build fix
  lib/create-default-block-RESOLVE-DUP.ts
Labels: none

build fix
  lib/createEmptyTemplate.ts
Labels: none

build fix
  lib/createTemplateFromPreset.ts
Labels: none

build fix
  lib/guards/sessionGuard.ts
Labels: none

build fix
  lib/guards/sessionGuard.ts
  lib/supabase/getSessionContext.ts
Labels: none

chroma no longer in use, qdrant instead
  app/api/blocks/rag/complete/route.ts
  package-lock.json
  package.json
Labels: none

page management
  components/editor/live-editor-preview.tsx
  components/editor/page-manager-sidebar.tsx
  package-lock.json
  package.json
  tailwind.config.ts
Labels: ui

footer editor enhancements
  components/admin/fields/quick-links-editor.tsx
  components/admin/templates/block-editors/footer-editor.tsx
  components/admin/templates/template-editor-content.tsx
  components/admin/templates/template-editor.tsx
  components/admin/templates/utils/extractFieldErrors.ts
  components/editor/live-editor-preview.tsx
  types/blocks.ts
Labels: ui

page manager improvements
  components/admin/templates/template-editor-content.tsx
  components/editor/floating-page-sidebar.tsx
  components/editor/live-editor-preview.tsx
  components/editor/page-manager-sidebar.tsx
Labels: ui

service areas :)
  admin/lib/zod/blockSchema.ts
  app/api/nearby-cities/route.ts
  components/admin/block-adder-grouped.tsx
  components/admin/templates/block-editors/index.ts
  components/admin/templates/block-editors/service-areas-editor.tsx
  components/admin/templates/block-presets/block-presets.ts
  components/admin/templates/create-fallback-block.ts
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/service-areas.tsx
  hooks/useNearbyCities.ts
  lib/createDefaultBlock.ts
  lib/location/getNearbyCities.ts
  next.config.mjs
  package-lock.json
  package.json
  types/blocks.ts
Labels: ui

service areas improvements
  components/admin/templates/block-editors/map-section.tsx
  components/admin/templates/block-editors/map-wrapper.tsx
  components/admin/templates/block-editors/marker-layer.tsx
  components/admin/templates/block-editors/service-areas-editor.tsx
  hooks/useNearbyCities.ts
  lib/location/getNearbyCities.ts
  public/leaflet/marker-icon-2x.png
  public/leaflet/marker-icon.png
  public/leaflet/marker-shadow.png
  public/marker-icon-2x.png
  styles/globals.css
Labels: ui

header blocks
  admin/lib/zod/blockSchema.ts
  components/admin/block-adder-grouped.tsx
  components/admin/templates/block-editors/index.ts
  components/admin/templates/block-editors/page-header-editor.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/page-header.tsx
  lib/blockGroups.ts
  lib/createDefaultBlock.ts
  package-lock.json
  package.json
  public/logo.png
  types/blocks.ts
Labels: ui

header block improvements
  components/admin/templates/block-editors/page-header-editor.tsx
  components/admin/templates/render-blocks/page-header.tsx
  next.config.mjs
Labels: ui

seo ui improvmeents
  app/api/og/rebuild-all/route.ts
  app/sites/[slug]/[page]/page.tsx
  components/admin/og-bulk-rebuild.tsx
  components/admin/og-preview-modal.tsx
  components/admin/templates/template-settings-panel.tsx
Labels: ui

seo ui improvmeents 2
  admin/lib/zod/templateSaveSchema.ts
  app/_sites/[slug]/page.tsx
  app/sites/[slug]/[page]/page.tsx
  components/admin/templates/tabs/design-settings-tab.tsx
  components/admin/templates/tabs/general-settings-tab.tsx
  components/admin/templates/tabs/seo-settings-tab.tsx
  components/admin/templates/template-page-editor.tsx
  components/admin/templates/template-settings-panel.tsx
  components/admin/theme-preview-card.tsx
  components/editor/floating-page-sidebar.tsx
  components/editor/live-editor-preview.tsx
  components/editor/page-manager-sidebar.tsx
  types/template.ts
Labels: ui

campaign image working again
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/campaigns/campaign-panel.tsx
  components/admin/campaigns/claim-poster.tsx
  lib/normalizeImageSrc.ts
  types/campaign.types.ts
Labels: ui

header improvements
  admin/lib/zod/blockSchema.ts
  app/_sites/[slug]/page.tsx
  app/sites/[slug]/[page]/page.tsx
  components/admin/templates/block-editors/hero-editor.tsx
  components/admin/templates/block-editors/index.ts
  components/admin/templates/render-blocks/hero.tsx
  types/blocks.ts
Labels: ui

header hamburger menu
  components/admin/templates/render-blocks/header.tsx
Labels: ui

services block render improvements
  components/admin/templates/render-blocks/services.tsx
Labels: ui

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'
