Repository Silver-Lamp/quicksites-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, scripts, tests, ui, docs, security

.github/labeler.yml:

pages:
  - 'pages/**'

scripts:
  - 'scripts/**'

tests:
  - 'tests/**'
  - '**/*.spec.ts'

ui:
  - 'components/**'
  - 'styles/**'

docs:
  - '*.md'
  - 'README.md'

security:
  - 'pages/admin/security/**'
  - 'scripts/*security*'

header block render improvements
  app/_sites/[slug]/page.tsx
  app/sites/[slug]/[page]/page.tsx
  components/admin/templates/render-blocks/header.tsx
Labels: ui

dark mode adjustments
  app/sites/[slug]/[page]/page.tsx
  components/admin/templates/render-blocks/header.tsx
  styles/globals.css
Labels: ui

faq blocks
  admin/lib/zod/blockSchema.ts
  app/sites/[slug]/[page]/page.tsx
  components/admin/block-adder-grouped.tsx
  components/admin/templates/block-editors/faq-editor.tsx
  components/admin/templates/block-editors/index.ts
  components/admin/templates/block-presets/block-presets.ts
  components/admin/templates/create-fallback-block.ts
  components/admin/templates/render-block-mini.tsx
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/faq.tsx
  components/admin/templates/render-blocks/header.tsx
  components/admin/templates/render-blocks/service-areas.tsx
  components/admin/templates/render-blocks/services.tsx
  components/editor/live-editor-preview.tsx
  components/ui/safe-trigger-button.tsx
  lib/blockGroups.ts
  lib/createDefaultBlock.ts
  styles/globals.css
  types/blocks.ts
Labels: ui

footer map
  components/admin/templates/render-blocks/footer.tsx
  components/ui/leaflet-footer-map.tsx
  components/ui/leaflet-map-inner.tsx
Labels: ui

WIP contact form submission
  admin/lib/zod/blockSchema.ts
  app/api/ask-assistant/route.ts
  app/api/roast/route.ts
  app/api/send-contact-email/route.ts
  components/admin/block-adder-grouped.tsx
  components/admin/templates/block-editors/contact-form-editor.tsx
  components/admin/templates/block-editors/index.ts
  components/admin/templates/render-block.tsx
  components/admin/templates/render-blocks/contact-form.tsx
  lib/blockGroups.ts
  lib/blocks.ts
  lib/createDefaultBlock.ts
  package-lock.json
  package.json
  types/blocks.ts
Labels: ui

fix routing
  app/old-route.ts
Labels: none

contact form email sending
  admin/lib/zod/blockSchema.ts
  app/api/send-contact-email/route.ts
  components/admin/templates/block-editors/contact-form-editor.tsx
  components/admin/templates/render-blocks/contact-form.tsx
  lib/blocks.ts
  types/blocks.ts
Labels: ui

middleware custom domains fix
  middleware.ts
Labels: none

deploy bump
  README.md
Labels: docs

temp vercel deploy workaround
  .github/workflows/vercel-deploy.yml
Labels: none

deploy bump
  README.md
Labels: docs

deploy bump
  README.md
Labels: docs

deploy bump
  .github/workflows/vercel-deploy.yml
Labels: none

deploy bump
  README.md
Labels: docs

deploy bump
  vercel.json
  vercel.json.bak
Labels: none

deploy bump
  .github/workflows/vercel-deploy.yml
Labels: none

run api code from nodejs not edge
  app/api/webhook/og-rebuild/route.tsx
Labels: none

run api code from nodejs not edge
  app/og/[slug]/[page]/route.tsx
  lib/og/cacheOgImage.ts
Labels: none

theme TS fixes
  app/admin/theme-editor/page.tsx
  hooks/useThemeContext.tsx
Labels: none

TS fixes
  app/api/favicon-optimize/route.ts
  app/api/log-client-error/route-ts.txt
  components/admin/templates/block-editors/header-editor.tsx
  components/admin/templates/render-blocks/contact-form.tsx
  components/admin/templates/render-blocks/footer.tsx
  components/admin/templates/render-blocks/hero.tsx
  lib/analytics/logError.ts
  lib/guards/sessionGuard.ts
  lib/seo/renderHeadHTML.ts
  lib/supabase/getSessionContext.ts
  lint-report.json
  lint-summary.md
  lint-summary.txt
Labels: ui, docs

TS fixes
  app/sitemap.xml/[domain]/route.ts
Labels: none

TS fix
  components/editor/theme-editor-panel.tsx
Labels: ui

TS fix
  lib/createDefaultBlock.ts
Labels: none

TS fix
  .github/workflows/disabled/vercel-deploy-yml.txt
  lib/createEmptyTemplate.ts
Labels: none

TS fix
  package-lock.json
  package.json
Labels: none

TS fix
  package-lock.json
  package.json
Labels: none

TS fix
  lib/favicon/generateFaviconBundle.ts
Labels: none

TS fix
  lib/pageDefaults.ts
Labels: none

email update
  components/admin/templates/render-blocks/contact-form.tsx
  lib/blocks.ts
  types/blocks.ts
Labels: ui

email update and log view panel
  app/admin/email-logs/page.tsx
  app/api/send-contact-email/route.ts
  components/admin/AppHeader/AdminNavSections.tsx
  components/admin/email-logs-panel.tsx
  components/admin/templates/render-blocks/contact-form.tsx
  components/admin/templates/template-editor-branding.tsx
  components/admin/templates/template-editor-loader.tsx
  components/admin/templates/template-editor.tsx
  components/editor/json-editor-overlay.tsx
Labels: ui

added quickpush script
  package.json
Labels: none

updated quickpush
  .env.example
  package.json
Labels: none

📦 updated commit prompts
  package.json
  quickpush.sh
Labels: none

📦 updated quickpush with squatbot
  quickpush.sh
Labels: none

📦 squatbot commit upgrade
  quickpush.sh
Labels: none

📦 squatgrade
  quickpush.sh
Labels: none

🐛 custom domain fixes
  middleware.ts
  package.json
  scripts/dev-motd.js
Labels: scripts

📦 custom domains
  middleware.ts
Labels: none

📦 routing
  .gitignore
  .vercel-old/project.json
  middleware.ts
  not-found.tsx
  public/images/squatbot-couch.png
Labels: none

📦 routing again
  app/not-found-trigger/page.tsx
  middleware.ts
Labels: none
